[2022-04-24 21:45] CaglarDeniz commented on #212
Thank you for the pointer and the advice, I'll make sure to include reproduction steps.

[2022-04-24 21:45] #212 closed

[2022-04-25 08:44] anurag3301 opened #214 "Close terminal after executing command"
Hey I use `TermExec` as my code runner, I have the following code for executing and it works really good
[code]

But after the execution, it just drops to next shell prompt.
![image](https://user-images.githubusercontent.com/52702259/165053328-686709ad-872a-490e-b78a-4511a4e85978.png)

Is it possible to make the terminal execute the command and instead of dropping to next shell prompt, ask user to

[2022-04-25 16:34] akinsho commented on #214
@anurag3301 I think you can solve this in your config by just adding ` | exit` or something to your command not sure that pipe will work maybe it's more like `;exit` not sure but either way I think this can be solved in your config without any change in this plugin. You can experiment with some solution till you find the best one, but I don't think there's a safe general way that this plugin could

[2022-04-25 17:56] anurag3301 commented on #214
Hey @akinsho Thank for you brilliant suggestion, added this `extra` string to do all those stuff, you can have a look.
[code]
Figuring out the escape sequence for `\` was pain, had to escape a symbol twice one for lua then one for vim. Anyway the result
![image](https://user-images.githubusercontent.com/52702259/165145977-fe43e25c-01ce-44c9-a6be-9665e9845ef1.png)
It Exits as you press ENTER. Thank

[2022-04-25 18:10] akinsho commented on #214
Nice, glad it worked, I've been thinking of adding a wiki to this plugin, so people can share things like this. I'll enable it now and if you want to post this in there please feel free 👍🏿 . Otherwise, I'll close this out

[2022-04-25 18:10] #214 closed

[2022-04-25 18:35] akinsho commented on #213
@kraxli you can escape special characters in vim commands with `\` so your example would become `\%run`

[2022-04-25 18:36] anurag3301 commented on #213
You can just try escaping it with `\%` if this doesn't work escape the `\` separately like this `\\\%`

[2022-04-25 18:37] akinsho commented on #213
If that works, can you close this issue out 🙏🏾

[2022-04-25 18:50] kraxli commented on #213
thanks! I have tried before `\%` which doesn't work. But `\\%` (two backslashes) works :-)

[2022-04-25 18:50] #213 closed

[2022-04-26 03:17] sirutBuasai opened #215 "Terminal zsh theme is not in toggleterm buffer"
I'm on MacOS and currently using zsh with oh-my-zsh. I was wondering if I installed the plugin wrong or the theme is just not available in MacOS but the theme that I have set does not display in the toggleterm buffer in neovim.

The first image is my usual theme in external terminal while the second image is the toggleterm internal terminal.
<img width="650" alt="Screen Shot 2022-04-25 at 23 15 28

[2022-04-26 03:51] sirutBuasai commented on #215
nevermind, just needed to do set termguicolor.

[2022-04-26 03:51] #215 closed

[2022-04-27 14:38] aquillano opened #216 "What tab plugin are you using?"
What tab bar plugin are you using? I've never seen the colored pills in a Neovim tab bar.

[2022-04-27 14:50] #216 closed

[2022-04-28 10:58] grech-ca opened #217 "Prevent terminal from leaving Terminal mode"
https://user-images.githubusercontent.com/54347665/165737701-3aeb9bcc-05ee-4b55-b6d2-f22e94021fea.mov

How do I force single mode for terminal buffer? This annoys me when I want to enter some characters and it leaves Terminal mode

[2022-04-28 14:05] srihari93 commented on #205
For those who ran across this issue, this is the quick answer.
The command to open the file in the host nvim is `nvim --server $NVIM_LISTEN_ADDRESS --remote-tab {filename}`

[2022-04-28 20:05] szsdk commented on #205
Here is a bash script which opens a file in a Toggleterm:
[code]
The usage is simply
[code]

[2022-04-29 17:29] akinsho commented on #217
@grech-ca this plugin doesn't do anything to change terminal modes automatically, it looks like you might have some mappings set up in your config that are being triggered here. This isn't default nvim behaviour, since the only way to leave terminal mode in default nvim is something like `<C-N><C-\>` 🤷🏾‍♂️. If you are setting a mapping for your terminal, I suggest removing it or removing it in the

[2022-04-29 17:57] jedrzejboczar opened #219 "Spawn terminal job using a list (and other jobstart() opts)"
Would it be possible to use a list as terminal command instead of using a string? The [jobstart() api](https://neovim.io/doc/user/builtin.html#jobstart()) it is possible to supply a list, which is often convenient when calling a process, because all the argument quoting will be done by `jobstart()`.

I looked [at the code of task:__spawn()](https://github.com/akinsho/toggleterm.nvim/blob/6c7f5dbdd

[2022-04-29 23:28] akinsho commented on #219
@jedrzejboczar so it can't be *instead of* since that is a major breaking change for this plugin, it would have to be *also* taking a list the same way that jobstart can take a string *or* a list. In either case, I'd keep the toggleterm ID

Regarding the `#toggleterm#1` i.e. the toggleterm ID,  this is actually very important from my perspective because essentially it's the only way to identify a

[2022-04-30 00:18] grech-ca commented on #217
@akinsho you're right, my bad, the problem was in mapping

[2022-04-30 05:12] zhengpd commented on #4
I'm also trying to open terminal base on current project. ToggleTerm only supports `count` as term identity, so I compute a integer sum based on `getcwd()` and send it to ToggleTerm. Here is my script:

[code]

[2022-04-30 06:13] #217 closed

[2022-04-30 09:53] jedrzejboczar commented on #219
I actually meant _also_, just used unfortunate words :)
But the thing is, when using a list you wouldn't be able to pass `;#toggleterm#1` to the command. This is due to the difference between String and List described in [jobstart() api](https://neovim.io/doc/user/builtin.html#jobstart()). When you specify a list there is not shell in between, so Vim just executes the program `args[0]` and all oth

[2022-05-02 09:53] milanglacier commented on #214
there is a vim function called `vim.fn.shellescape`, may be you can try to call that function and see if it can reduce some extent of annoying escapes to make it more readable.

[2022-05-03 13:06] anurag3301 opened #220 "How to scroll"
Just a quick question, how can you scroll up and down in the terminal. Is there a key binding for that?

[2022-05-03 13:09] akinsho commented on #220
@anurag3301 it's just a normal vim buffer so you can scroll it the normal way you would scroll a vim buffer. You can go inside the buffer and do something like `<C-U>` or `<C-D>` etc.

[2022-05-03 13:21] anurag3301 commented on #220
Um dont work, `<C-U>` is I suppose `Ctrl+u` but does nothing and `<C-D` kills the terminal. Do I have to do the `insert` or `normal` mode thing for the terminal cuz currently it's just a standard terminal with no vim modes.

[2022-05-03 13:27] akinsho commented on #220
@anurag3301 you have to be in normal mode to use those command. This question is more about usage of vim and default terminal behaviour and isn't really specific to this plugin. I suggest searching for answers in the help there  isn't anything special about scrolling related to this plugin

[2022-05-04 06:10] anurag3301 commented on #220
Sure I'll look into it and figure this out, Thanks for your help. :)

[2022-05-04 06:10] #220 closed

[2022-05-04 06:47] anurag3301 commented on #220
Hey @akinsho so I figured out `  start_in_insert = true,` setting this to false, the terminal will spawn in normal mode and I am able to do all the vim stuff and scrolling. But as I press `i` get into insert, I am not able to get back to normal mode with the `Esc` key. Is there some other key for that?
Or maybe I have to add something to my config
[code]

[2022-05-04 06:51] akinsho commented on #220
@anurag3301 I really strongly suggest you read `:help terminal-input` in the terminal mode, `Esc` doesn't work to leave insert mode you need to press a specify key for that, and you can remap it in your config. This is all just things about how neovim's terminal works, quite separate to this plugin. I think it's important to read that section when working with any terminal inside neovim.

I don't

[2022-05-04 07:31] anurag3301 commented on #220
@akinsho Thanks a lot, this was `Use <C-\><C-N> to return to normal-mode` all I needed. I'll read the rest of the terminal man pages.

[2022-05-04 07:55] akinsho commented on #220
@anurag3301 I don't use `Esc` in terminal I use something like `jj` or `jk` I think the help docs explains why you shouldn't use it.

[2022-05-04 15:39] akinsho commented on #184
@lost4git apologies for not commenting on here, just didn't have time. This seems like it's still an issue and maybe changes that come out of #219 will fix this but maybe not, so I'll keep this issue open anyway

[2022-05-04 15:47] akinsho commented on #219
@jedrzejboczar thanks for the detailed explanation, 🤔 so this whole method of appending the comment and using it in the title of the window I ~stole~ borrowed from [neoterm](https://github.com/kassio/neoterm) not sure if there's actually a better way to keep track of which buffers this plugin created that persists across sessions, maybe a `g:ToggleTerms` but this will require the user to have `ses

[2022-05-05 08:52] jedrzejboczar commented on #219
There is probably no good solution to store this information via `mksession`, at least I cannot think of any. One option is to offload this responsibility to session management plugins. [A plugin that I've written](https://github.com/jedrzejboczar/possession.nvim/) stores session data in JSON, so the whole Terminal table could be just stored on `before_save` and retrieved on `after_load`. But of c

[2022-05-05 21:23] krishnakumarg1984 opened #222 "Respect last mode when toggling on terminal"
I have configured `start_in_insert` to be `true` for ToggleTerm. However, I'd like a setting where we **start** the terminal in insert mode if opening it up for the first time. If reusing a previous terminal (i.e. by toggling (hiding &unhiding) it, then toggleterm should open in the last mode. i.e. if we hid it while in normal mode, it should open back in normal mode (preserving cursor position).

[2022-05-05 21:55] akinsho commented on #222
This sounds like a duplicate of #76, my comment there is still largely applicable, i.e. personally all for this feature, probably not going to implement this myself as amongst the 5+ plugins I maintain I have more than enough on my plate currently. Happy to guide a PR though

[2022-05-09 15:13] Enside commented on #97
Recently I find a way solve the problem perfectly, set this function to `on_open` of toggleterm's config
[code]

[2022-05-09 15:42] Liverm0r opened #223 "Update colorsscheme and background of fly"
When I set colorscheme with Telescope or `:colorscheme <name>`, theme is not applied to a hidden Toggle-term window. If toggle-window is opened, theme will be applied, but after toggling it the previous theme will reappear in the toggle-term window.

Currently I fixed it with applying `:on_open` function, where I check current theme and set it. Don't know if it's a bug.

My config looks like (it's

[2022-05-11 06:05] mosmuell opened #225 "Toggletermin splitting; implementation of terminal offset possible?"
Hi there,
I experimented with the terminal splits, particularly doing it horizontally. As of now, the terminal will be opened through `open_split(size, term)` (in `ui.lua`) which will open a split with `vim.cmd(...)` where the parameter is given in the `split_commands` variable.
Opening a horizontal terminal will call `vim.cmd("botright split")` which just splits the whole window. When using nvim-

[2022-05-11 06:31] akinsho commented on #222
Closing as a duplicate. To re-iterate the main blocker here is that no one is stepping up to contribute this, and unfortunately it is being left to me and I do not have the time to do this myself. **PRs Welcome**

[2022-05-11 06:31] #222 closed

[2022-05-11 06:33] akinsho commented on #225
@mosmuell I *really* do not want to add custom config options geared at sidebar panels as this is truly a nasty rabbit hole as I have now learned with bufferline and I definitely don't want to bring that trouble to toggleterm. I think exposing window commands will make things more complicated to maintain in the long term. This has been raised by other users who came up with workarounds please see

[2022-05-11 13:59] denstiny commented on #97
[code]

[2022-05-12 06:33] mosmuell commented on #225
Thanks for the quick answer and the reference to the other issue. I was also suspecting that there might be many rabbit holes coming along with that.

[2022-05-12 06:33] #225 closed

[2022-05-18 02:57] anurag3301 opened #226 "Extra cmd text on top of prompt"
Hey @akinsho I use TermExec as a coderunner, everything works fine except when I call TermExec there is a repetition of my command at the top before the shell prompt
![image](https://user-images.githubusercontent.com/52702259/168947685-e1e4ba10-f3f1-4655-a0bb-bd1b0c02c2d2.png)

I am using following command to call TermExec.
[code]
Can you please tell me how I can remove that line at the top?

[2022-05-20 20:59] krishnakumarg1984 opened #227 "In insert mode, `<C-l>` toggles the terminal (hides it) instead of doing a clear screen"
As the title says, with a toggle-term window open and in insert mode, when we press `<C-l>`, we expect it to clear the textual contents of the terminal window. Instead, currently the terminal gets hidden (i.e. toggled).

[2022-05-20 21:12] akinsho commented on #227
@krishnakumarg1984 this plugin doesn't create any other mappings in a terminal buffer other than the open mapping, it certainly doesn't map any specific keys by itself without the user specifying something, so there really isn't any reason related directly to this plugin why this would be happening. Can you please open a terminal with the normal `:terminal` command and see if the issue reproduces?

[2022-05-20 21:13] #142 closed

[2022-05-20 21:14] akinsho commented on #138
Going to close this out since it's quite old now and I'm pretty sure this is not how toggleterm behaves in a minimal config.

[2022-05-20 21:14] #138 closed

[2022-05-20 21:21] akinsho commented on #81
So I'm going to close this out since this is "kind of" available in that if you close a terminal and re-open it with a direction, it will now re-open in the new direction. It can't happen on the fly and tbh I'm not interested in going down that very involved rabbit hole. No one else including the OP has stepped up to add this, so in the interest of avoiding issues open for years I'm going to close

[2022-05-20 21:21] #81 closed

[2022-05-20 21:25] krishnakumarg1984 commented on #227
Ok. In a vanilla `:terminal` within `neovim 0.7.0`, I see that `<C-L>` leaves the insert mode to return to normal mode!

However, outside of neovim, in a standard `bash` shell session on my terminal, the `<C-L`> mapping works as expected i.e. it clears the screen.

[2022-05-20 21:25] akinsho commented on #211
The `dir` command is static in the first example, i.e. the value of that variable is equivalent to the value at the time the terminal was made, so it remains the same. The second example will work but will lead to making a new terminal each time, which can get messy. There used to functionality to basically send a `cd <dir>` command if the terminal was already running, but amidst all the feature r

[2022-05-20 21:25] #211 closed

[2022-05-20 21:27] akinsho commented on #227
@krishnakumarg1984 how the `<C-L>` command behaves isn't really the remit of this plugin 🤷🏾‍♂️, this plugin doesn't actually *change* the native terminal behaviour in any way it just opens a terminal in a particular layout, that's all.

[2022-05-20 21:40] #227 closed

[2022-05-21 04:23] matcha1024 opened #228 "Error: ['=' expected near 'continue']"
![image](https://user-images.githubusercontent.com/67828134/169635101-1fdec5d2-b4ad-4707-a47f-fd4f2520fb18.png)
The image looks like this and `:ToggleTerm` cannot be executed.
The environment is Ubuntu20.04, arm, nvim0.8.0-dev, Lua5.1.
Please help me because I like this project and would love to use it.

[2022-05-21 05:19] akinsho commented on #228
@matcha1024 if you look closely at the error message you will note that it mentions luasnip so in so likelihood something relating to luasnip. In your config is broken I recommend starting there.

[2022-05-21 17:39] akinsho commented on #228
@matcha1024 I'm going to close this out because from the error message it seems to indicate that you have a syntax error somewhere I don't know why toggleterm is where it's surfacing, but I feel fairly confident it's not related to this plugin, I think if there was a breaking syntax error in this plugin the tests wouldn't be passing and other users would have reported it.

[2022-05-21 17:39] #228 closed

[2022-05-22 04:22] paulo-santana opened #230 "Plugin isn't setting or using NormalFloat highlight"
I've been trying for some time to get the background color of the floating terminals to match the colors of the split ones, without success. I tried to investigate in the code and it seems to me that the plugin isn't setting the floating window to use the NormalFloat highlight, but I don't know Lua enough to be 100% sure of that.

I'd send some pics, but the images in the readme already illustrate

[2022-05-22 04:38] paulo-santana commented on #230
Well I just managed my issue by setting these highlights with a vim command.
![q_004](https://user-images.githubusercontent.com/7424845/169678702-c67c1da9-4f8b-4dc3-b650-841a7b797cc6.png)

However the plugin still has the problem. I'm gonna leave the issue open so you can decide if you'll take the time to work on this. But feel free to close it.

[2022-05-22 16:35] #230 closed

[2022-05-22 16:36] akinsho commented on #223
fixed by #231

[2022-05-22 16:36] #223 closed

[2022-05-28 08:11] k14lb3 opened #232 "[Bug] Terminal isn't persisting its size even."
![gif](https://user-images.githubusercontent.com/76220140/170814585-b6607810-5d90-474f-a182-8dd0e02ea6c6.gif)

**Steps to reproduce**
1. Open a file.
2. Toggle terminal (Will open).
3. Open nvim-tree.
4. Close the opened file.
5. Open a file.
6. Toggle terminal (Will close).
7. Toggle terminal (Will open).

**Expected behavior**
Terminal will be closed.

[2022-05-28 08:42] k14lb3 commented on #232
![gif](https://user-images.githubusercontent.com/76220140/170817669-100a8675-1a62-444d-b33f-40ab9bb15074.gif)

Also, I've just found out that if you open nvim-tree toggleterm, the bug won't happen.

[2022-05-30 12:37] amit-ug opened #233 "Cannot copy text from terminal to system clipboard"
I tried copying text both by using `<CMD-c>` and `"*y` and both fail to copy.
I use a mac, and I tried it using both Kitty and the builtin Terminal app.

I tried it previously with NeoVim 0.7 and now with nightly 0.8 as well.

[2022-05-30 12:53] akinsho commented on #233
@amit-ug this isn't really an issue specifically for this plugin and is more a question about using neovim's terminal. I recommend having a look at `:help terminal` regarding `<cmd-c>` I think you need to find out how your terminal emulator handles that key since by default cmd-c doesn't copy anything in nvim. In either case this plugin just opens windows and doesn't control mappings or native ter

[2022-05-31 16:40] akinsho commented on #226
@anurag3301 thanks for reporting, haven't had much time to investigate though just mentioning that I've seen your issue 👍🏿

[2022-06-02 18:05] akinsho commented on #226
@anurag3301 you could just set your shell for that terminal to use `bash` e.g. `Terminal:new {shell = 'usr/bin/bash'}` or something which will probably run quite fast and prevent this issue

[2022-06-03 00:11] etjupm opened #235 "ToggleTermSendVisualSelection doesn't work as expected"
The ToggleTermSendVisualSelection command sends the block defined by the start and end of the visual selection rather than the visual selection itself. For example, with the lines:
[code]
attempting to select and send the whole line `echo hello` and then `echo w` will end up sending `echo h\necho w`. Sending to the terminal will fail altogether in visual-block mode if the starting column is to the

[2022-06-03 20:16] kraxli opened #236 "Question: how to escape/write cmd-argument to run under Linux and Windows"
I would like to execute the command `run "<full_file_path>"` in an ipython instance of a toggleterm-terminal. The following works perfectly under Linux
[code]
However, on Windows only `nil` is passed to the ipython instance in the toggleterm-terminal. How would I need to escape or set-up the string such that it works under Linux and Windows?

[2022-06-04 08:42] akinsho commented on #236
@kraxli the short answer is I have no idea I'm primarily a mac and Linux user and have never developed on a Windows machine, so I have no idea how any of it works with paths or any of that, tbh all windows related code in this plugin has been contributed by Windows users of this plugin I have no idea about any of it personally. I'm guessing you read through past issues and tried things like using

[2022-06-04 18:47] Rid1-fz-06 opened #237 "TermExec automatically moves cursor."
I use toggleterm to compile or to run any script. So I binded F9 to a function which uses TermExec command to compile or to run the script. If the terminal split is not opened, it works fine. But if terminal split is opened, whenever I hit F9, cursor automatically moves to the last line of my script

### To reproduce:
Execute the following command in command mode to bind <f9>

`:nnoremap <f9> :Ter

[2022-06-05 14:27] akinsho commented on #235
Hi @etjupm,

So this functionality was kindly submitted by another user and I suggested that rather than put it in the wiki it might deserve being part of the plug-in. I think it is by no means perfect and probably will never be since there are so many edge cases. I personally don't add to or tweak this functionality since it's kind of out of scope for this plugin but if you or another user wants

[2022-06-05 21:02] akinsho commented on #226
Gonna close this out since I don't think this is something I can fix easily and is more a userland issue.

[2022-06-05 21:02] #226 closed

[2022-06-06 19:24] kraxli commented on #236
`vim.opt.shellslash = true` solves the issue :-) - I thought this has been tackled in #110

[2022-06-06 20:37] akinsho commented on #236
Going to close this out then

[2022-06-06 20:38] #236 closed

[2022-06-07 06:39] akinsho commented on #235
closed by #239

[2022-06-07 06:39] #235 closed

[2022-06-07 06:39] akinsho commented on #233
Closing this out as per my above comment

[2022-06-07 06:39] #233 closed

[2022-06-07 06:41] #180 closed

[2022-06-08 05:05] #237 closed

[2022-06-08 05:08] Rid1-fz-06 commented on #237
Duplicate of [#167](https://github.com/akinsho/toggleterm.nvim/issues/167) and feature is not planned.

[2022-06-08 06:27] akinsho commented on #237
@Rid1-fz-06 so just to clarify this feature is not planned or unplanned, no features are. I simply extracted logic from my dotfiles and that has grown a lot ever since. I have written in the README and repeated countless times to users that if they want to see functionality, they should consider contributing. This is the same as what I said in the original issue you linked to. I'm quite serious ab

[2022-06-09 04:09] akinsho commented on #232
I'm not entirely sure if I understand this issue, but I also don't think this plugin promises or offers that it will resize itself based on other windows or anything like that. I'm not sure what the expected behaviour here is, but frankly I *personally* don't really intend to add a bunch of convoluted logic to try and resize the window if other windows are opened or something

[2022-06-09 06:42] jantari commented on #178
Ok so I got it working with the help of https://github.com/neovim/neovim/issues/15634 and `:help shell-powershell`

My Environment:

[code]

the neovim config I needed (I still use vimfile config, not LUA, sorry):

[code]

after this, both `:execute termopen('powershell')` and `:ToggleTerm` just worked.

@akinsho Would you mind If I added this to the [toggleterm wiki](https://github.com/akinsho/to

[2022-06-09 06:46] akinsho commented on #178
@jantari that is a great idea and really helpful for others, thanks 👍🏿

[2022-06-09 19:40] jantari commented on #178
Well I sorta messed up putting it inside the Tips and Tricks section and now I don't know how to move it, but anyway it's there and maybe you can move it: https://github.com/akinsho/toggleterm.nvim/wiki/Using-with-PowerShell

Thank you for the great plugin, I've already enjoyed using it a lot even just today :)

[2022-06-13 14:28] metalelf0 commented on #119
Hi all! I'm trying to get it working but I can't find a way to darken toggleterm windows. If anybody has a working config, do you mind sharing the dots? Thanks!

[2022-06-14 12:06] experiacc opened #241 "Pass in Current File when Opening a Custom Terminal"
hi,
I wanted to know how can i pass in currently opened file when opening custom terminals.
So far I've tried doing something like this
![image](https://user-images.githubusercontent.com/82676586/173572683-843ea959-da44-4ca0-bf0d-44ff9c57f9ce.png)
but it didn't work.
thanks

[2022-06-14 12:49] experiacc commented on #241
I was already aware of TermExec (and it works) but it opens the full terminal with shell prompt whereas i just want to run a single process and then quit on execution.
The custom terminal thing was perfect for my usecase if only it was possible to pass in the file.
But if that's not the case, I can make do with TermExec as you said 😄

[2022-06-14 13:09] akinsho commented on #241
@experiacc I think you can work something like this out in your config but I'd suggest something like create the new terminal inside a function which will re-evaluate the command every time then use the close on exit boolean or something. I don't know exactly what the effect you are trying to achieve is but you can do some experimenting in your config to see what works 🤷🏿

[2022-06-14 18:47] experiacc commented on #241
okay, so how can i autoclose the :TermExec spanned terminal if the process exists successfully. sorry if this is too obvious

[2022-06-14 22:09] justleoo opened #242 "theme"
hello! is possible activate a theme with toggle term?? theme: https://github.com/itsook/ok.nvim, if possible, how?

[2022-06-14 22:11] akinsho commented on #242
@justleoo custom themes per window is not supported in neovim yet so this plugin cannot do that

[2022-06-14 22:15] justleoo commented on #242
ah, thank you

[2022-06-14 22:15] #242 closed

[2022-06-15 12:25] szsdk opened #243 "Wrong indent when a complex section is sent to ipython"
The python code I want to send:
[code]
The python code shown in ipython:
[code]
If I directly copy the code, result is correct.

[2022-06-15 12:27] akinsho commented on #243
@szsdk the send selection logic is user contributed and best effort. I don't actively maintain that logic myself. Feel free to have a go at fixing it you'd like though

[2022-06-15 13:41] DG9Jww opened #244 "[Bug] cursor position is not expected"
Cursor position is not expected after openning terminal again.

-  This is the first time I open the terminal.Currently the cursor is below the window
<img src=https://user-images.githubusercontent.com/84201009/173838460-4627eac3-40cf-41c8-9803-69ed5f5c7990.png width=60% />

- And then when I closed the terminal and opened it again,the cursor will move to the bottom
![image](https://user-images.gi

[2022-06-15 14:11] akinsho commented on #244
Hi @DG9Jww,

Since I do not experience this problem, and it hasn't been reported before, you need to *include a minimal init.lua/vim with steps to reproduce this problem exactly*. Without those, I won't be able to help and will have to close this issue

[2022-06-15 15:15] DG9Jww commented on #244
Hi @akinsho ,
Here is my config file
[code]

[2022-06-15 19:38] experiacc commented on #241
Ok I finally figuered it out, the command I was trying to run was just getting executed without giving any process exit code with TermExec. All I had to do was modify the command outside of neovim to terminate. Thanks for the help and this great plugin @akinsho 😄

[2022-06-15 19:38] #241 closed

[2022-06-16 13:23] DG9Jww commented on #244
Windows Terminal &&PowerShell 7.2.1

NVIM v0.7.0
Build type: RelWithDebInfo
LuaJIT 2.1.0-beta3

[2022-06-16 13:33] akinsho commented on #244
@DG9Jww I have a very similar setup that I use, and it doesn't cause this issue for me, but I'm not a Windows user so don't know if it relates to your shell. Can you please try using `bash` or something and seeing if this issue reproduces

[2022-06-16 15:29] #244 closed

[2022-06-17 08:50] #76 closed

[2022-06-17 19:17] ryansch opened #246 "Floating window doesn't hide on switch"
This works correctly on `v2.0.0` but does not work as of `ce755e3a07f2464287dc60ed448fdbbe6ea157f5`. I haven't bisected further than that.

Repro:
- Show floating window.
- Try to move "up" via `vim.keymap.set('t', '<C-k>', [[<C-\><C-n><C-W>k]], keymap_opts)`.
- Floating window is now in front of focused content.

[2022-06-17 19:31] akinsho commented on #246
@ryansch can you try setting `persist_mode` to false and see if that changes anything. Honestly the commit you point to didn't relate to floats so seems quite odd that they would be working differently

[2022-06-17 19:40] ryansch commented on #246
No change. I don't know that it's that commit but rather something in the range: https://github.com/akinsho/toggleterm.nvim/compare/v2.0.0...ce755e3a07f2464287dc60ed448fdbbe6ea157f5

[2022-06-18 17:07] himanshugoswamiii commented on #246
Same problem in mine as well after the recent update

[2022-06-19 06:39] invokermoon opened #247 "How to scroll to the old views"
Env:
MacOS12 + iterm2

[code]

I trigger a new sub terminal in Nvim, i can work on it.
But when i tried to scroll the terminal to locate old outputs, i only could see the history commands from the terminal.
So how to scroll the sub terminal?

[2022-06-19 08:14] akinsho commented on #247
@invokermoon the scroll history of the buffer isn't something that this plugin interacts with or controls at all. *This plugin just creates windows and puts terminals in them* it doesn't change the native functionality of the terminal at all. If you are unable to get scrollback history I'd read the terminal docs and if not there then raise an issue in core

[2022-06-19 08:14] #247 closed

[2022-06-19 14:34] askfiy commented on #97
This is an expected feature ..

[2022-06-19 14:46] akinsho commented on #97
Is a pretty incorrect statement for *a lot of reasons*, I'd rather not go into explaining all the details of how windows work in neovim, but a few points.

1. The sidebar panel of *any plugin* is just a window, neovim does not discriminate, just because you put a file tree in a window doesn't make that window magic, it is still expected to move and be moved just as any other buffer in a window wou

[2022-06-19 14:47] akinsho commented on #97
Or better still ask the other of nvim tree to add functionality to that plugin so that if it is not full height at any point then it re-arranges itself 🤷🏿‍♂️.

[2022-06-19 15:23] askfiy commented on #97
I see what you mean, sorry it might be a translation issue, I mean it makes sense, but should let people implement it themselves, because there are many plugins for the sidebar, like undotree, nvim-tree, neotree, etc., these It needs to be maintained by the user..

sorry for misunderstanding

[2022-06-19 16:11] NEX-S opened #248 "Is there any ways to set the term's floating-window edge distance?"
I am wondering if there is any ways to config my toggleterm's floating-window's edge distance (padding)

[2022-06-20 11:22] askfiy commented on #97
I researched for some time and now it should support 3 types of sidebars `nvim-tree`, `undotree`, `dbui`.

If you are interested, you can try:

[code]

use it:

[code]

Notice!!! When opening multiple terminals, if you open `dbui` then every time you redisplay the terminal it will always focus on the last terminal.

[2022-06-20 16:56] askfiy opened #249 "It doesn't seem to respect `bufferline offset` when used with `bufferline`"
I know these 2 plugins are your masterpieces, you are a respected Neovim plugin developer.

Here, I first express my thanks.

My problem is that it seems that after toggleterm is turned on, the offset -> right of bufferline will be overwritten by bufferline, I think it is caused by toggleterm, so I raised an issue here.

normal circumstances:

![图片](https://user-images.githubusercontent.com/814783

[2022-06-21 04:45] zbindenren commented on #246
Same problem here...

[2022-06-21 06:48] #246 closed

[2022-06-21 06:50] akinsho commented on #246
This should now hopefully be fixed, next time please do not post comments just saying you are experiencing the same issue these are just distracting and noisy and make maintaining this plugin harder since it increases the noise. I maintain several plugins and fix bugs and issues as and when I can. If you are bothered by a bug you can +1 the OPs issue, wait or contribute, *not add same problem comm

[2022-06-21 06:54] akinsho commented on #249
@askfiy the issue is not a bug with toggleterm but a limitation with the offset feature in bufferline that I have discussed *many times*, if you search for undo tree and offsets in bufferline you will find similar issues. I explained in those issues that offsets in bufferline work by checking if a window is *full height*, and if so it adds an offset if that window has a matching filetype. In your

[2022-06-21 07:28] askfiy commented on #249
Ok, I think I understand the reason for this exception.

This may be difficult to solve ..

then i closed it, thanks for your reply

[2022-06-21 07:28] #249 closed

[2022-06-21 11:51] ryansch commented on #246
Confirmed fixed.

[2022-06-21 16:34] ptwales opened #250 "NormalFloat and FloatBorder are required if highlighting a floating terminal"
When applying any highlighting to a floating terminal, you must provide _both_ `NormalFloat` and `FloatBorder` or else you will get an `attempt to index attrs (a nil value)` error.

Those highlights are hard coded on [ui.lua#L98](https://github.com/akinsho/toggleterm.nvim/blob/ce755e3a07f2464287dc60ed448fdbbe6ea157f5/lua/toggleterm/ui.lua#L98) and aren't checked if they are nil on [ui.lua#L103](ht

[2022-06-22 06:27] gabrielkryss opened #251 "Toggleterm not working with Windows Powershell"
Hi, first let me describe my environment:

- using Windows 11
- Pwershell as my default terminal
![image](https://user-images.githubusercontent.com/20222391/174957521-041d6a88-3bf4-422c-9bcd-87aa14d7f9cf.png)
- using nerovide on Windows not wsl
- running nvim on neovide on Windows
- using nvim 0.8.0

I installed the plugin and when I bring up the terminal it shows the following

![image](https://u

[2022-06-22 06:44] gabrielkryss commented on #251
Oh nvm, I figured it out I just need to comment out my `vim.opt.shell` statement and just not use it at all it seems like, it makes sense cuz the official docs says its depricated it seems

![image](https://user-images.githubusercontent.com/20222391/174961384-646b42f9-1461-4c15-bb48-44d5c5b40f10.png)

but anyway it works now.

[2022-06-22 06:44] #251 closed

[2022-06-22 12:49] etjupm commented on #243
This comes from ipython's autoindent feature. For an immediate solution, you can invoke ipython with the `--no-autoindent` flag and then redefine the send-code commands to not trim leading and trailing whitespace:
[code]

Note, the second argument to send_term() is a boolean that determines whether or not to trim whitespace. Note also that you can define new user commands instead of overwriting th

[2022-06-23 00:17] LamprosPitsillos opened #252 "Prevent terminal window from switching to other buffer"
Is there a way to stop the window from changing buffers? I have tab set for buffer switching and i sometimes press it changing the term window to a buffer ,which breaks things a bit..

[2022-06-23 05:18] zsytssk commented on #99
I add some keymap to terminal as open_mapping. and toggleterm allways open a new terminal.
[code]

[2022-06-23 07:51] szsdk commented on #243
@etjupm Thanks. It works well.

[2022-06-26 01:44] jrock2004 opened #253 "Tiling Manager Blocking Keymap to Toggle Term"
Has anyone ran into an issue where a tiling manager takes `<Ctrl> + \` for toggling the term? If so how did you fix?

[2022-06-30 15:58] Normanras opened #255 "Minimal setup :ToggleTerm opens split for 0.5s and then closes."
The title says it all, I followed the instructions for a minimal setup using Packer. With no other files or configuration, when I use the command `:ToggleTerm`, I see the terminal split open for half a second and then it closes. It closes too quickly for me to interact with it.

My default shell is fish. I read the docs 3x over and didn't see anything about fish shell causing issues, or anyone els

[2022-06-30 16:22] akinsho commented on #255
@Normanras have you tried another shell to see if it relates to fish. I know there are a lot of fish related issues in neovim and vim. I don't use it nor do I know much about it so can't really advise you. I'd suggest trying to open neovim's terminal as normal without this plugin and see how that behaves as well

[2022-06-30 17:54] Normanras commented on #255
The standard terminal doesn't really work. It opens and throws a "process exited" immedieatly. Which I assume is what is happening with ToggleTerm since it uses the same terminal.

I looked through a few other's `toggleterm.lua` config's and got it working. Then I updated my `keymaps.lua` and it stopped working again - same issue. I don't know how this could help neovim as a whole, but if I open t

[2022-07-01 17:36] akinsho commented on #255
@Normanras thanks for documenting your findings. I'm not sure if that should be part of the docs since I don't know what exactly is happening anyway, so not sure if it's advice I should give since I don't know what it means. Anyway, I'll close this out and maybe other people can find it in the future.

[2022-07-01 17:36] #255 closed

[2022-07-04 07:22] akinsho commented on #250
@ptwales can you try #257 , there is logic already to add defaults for each of those groups which is why they are used without `nil` checks but could be the fallbacks are not being set so I've adjusted the logic now so that `nil` should default to a default highlight.

[2022-07-04 16:58] haluk opened #258 "Floating terminal bottom borderline is not rendered"
I'm using neovim compiled from master branch. When I toggle the floating terminal, it's bottom borderline is not rendered. I didn't have this problem with neovim 0.7.

![image](https://user-images.githubusercontent.com/183110/177195644-ef96a3a6-012a-4df5-9627-50aea2a8ac05.png)

[2022-07-04 17:08] akinsho commented on #258
@haluk, have you enabled winbar globally, by any chance? This doesn't reproduce under normal circumstances. If you have then you'll need to figure out how to disable it in toggleterm in your config, at least until nvim core fix its usage in floats

[2022-07-06 10:25] saccarosium opened #259 "How to send enter to executing command (`:TermExec`)"
Hi,
Every time I try to execute a command with `TermExec` the program is not executed. I don't know if it is intentional or not, but if you happen to know how to send enter with the command, would be very appreciated.

[2022-07-06 10:40] akinsho commented on #259
@saccarosium it sounds like something is configured incorrectly on your side or there is an issue with how you are using `TermExec` I just tested `TermExec cmd=ls` and this works fine. A user should not have to manually add an enter character.

[2022-07-06 10:40] akinsho commented on #258
Going to close this out as this is not reproducible without using winbar which is known to have this bug

[2022-07-06 10:40] #258 closed

[2022-07-06 10:51] saccarosium commented on #259
I'm using it in a command

[2022-07-06 12:41] jrock2004 commented on #253
It was, thank you

[2022-07-06 12:46] saccarosium commented on #259
Sorry, I wasn't at my computer.

Basically, I want to create a command, called `Repl`, that if it is called without any arguments gives me a terminal in a horizontal split, else it opens a split and try to run the argument.

*the function*
[code]
*the command*
[code]

https://user-images.githubusercontent.com/96259932/177552985-25616568-5e46-410b-94ed-377ab0b105ad.mov

[2022-07-06 14:15] akinsho commented on #259
@saccarosium you should use the Lua API instead to programmatically trigger term exec i.e. `require('toggleterm').exec(cmd)` if you read the README or docs this explained there

[2022-07-06 15:43] saccarosium commented on #259
@akinsho I have tried what you suggest, and gives me the same problem. I also tried to run it manually from vim's command line and with this example command that you gave in the docs: `command! -count=1 TermGitPushF lua require'toggleterm'.exec("git push -f", <count>, 12)`.

I don't really know what the issue is… I have also tried in other terminals, but doesn't seem to help.

Some info about my s

[2022-07-06 16:02] akinsho commented on #259
@saccarosium `command! -count=1 TermGitPushF lua require'toggleterm'.exec("git push -f", <count>, 12)` defines a command, it doesn't execute one. I genuinely don't know what you are specifically doing that isn't working. This works perfectly fine for me locally. Can you please make sure there are no issues in your shell

[2022-07-06 16:24] saccarosium commented on #259
I think is a problem with my setup.

I close the issue.

Thanks for you help👍.

[2022-07-06 16:25] #259 closed

[2022-07-07 19:27] ktunprasert commented on #205
Adding to this Issue I just finished configuring LazyGit to send file back to host thanks to @szsdk it's a bit hard coded so it's not perfect
[code]
I've tested this and it will work even without the `--listen` option - when I run my Neovim without that option the output of `vim.v.servername` is `/tmp/nvimirBxpY/0` which is the focused instance of your Neovim.

[2022-07-08 21:02] fgsch opened #260 "[QUESTION] is it possible to support side-by-side tabs?"
Hi.

Is there any reason why side-by-side is not supported for tabs? If not, can I turn this into a feature request? 😄
Thank you!

[2022-07-08 21:20] akinsho commented on #260
@fgsch please add details when opening an issue you've only included a single line, I have no idea what this request is asking for, but it sounds like trying to emulate the UI of a GUI editor

[2022-07-08 21:26] fgsch commented on #260
@akinsho Sorry, let me clarify. The README says that opening multiple terminals side-by-side is not supported when the direction is tab. I was wondering if there is an underlying technical limitation or if this is something that could be implemented in the future. Thanks again.

[2022-07-08 21:44] akinsho commented on #260
Hmm, it's not a technical limitation and could look nice, but I don't think it will be easy. How would it work if a user closed one of these tab splits, when they try to re-open it if they have to move to another tab with their normal buffer in it what should happen? Do the terminal stay locked to the containing tab or are they supposed to be reopened in any other tab if someone toggles them with

[2022-07-08 22:06] akinsho commented on #243
Gonna close this out since this seems rather specific to this use case. I guess if either of you wanted to submit a PR that had some general purpose value, that could be good 🤷🏿‍♂️

[2022-07-08 22:06] #243 closed, assigned to nobody

[2022-07-08 22:07] akinsho commented on #248
If you meant how far away the content of the window is from the border then no, unfortunately neovim does not support that

[2022-07-08 22:07] #248 closed

[2022-07-08 22:11] akinsho commented on #51
Going to close this since it's been quite a while. I'm still open to this idea, but *I personally* have no idea how this could actually be done, as mentioned earlier there is no api to easily tell me if a window is horizontal or vertical and any heuristic will be a bit buggy. If someone comes along who know *for sure,* please post here, but otherwise I'll close this out rather than have it open fo

[2022-07-08 22:11] #51 closed

[2022-07-09 13:11] sinnrrr opened #261 "Can't close terminal: `Couldn't find a terminal to close`"
When I am opening the `nvim` for the first time, when I press `C-t` and then `C-t` again to close, I am ended up with two terminal windows. When pressing `C-t` for the third time - closes one of them, but doing this again causes the error. See video.

https://user-images.githubusercontent.com/25615887/178107109-c420ee1b-ff44-4407-873c-4aad8e648e45.mov

In the end, I am clicking on the terminal to

[2022-07-09 14:12] akinsho commented on #261
@sinnrrr can you share your config or does this reproduce without one?

[2022-07-09 14:13] sinnrrr commented on #261
@akinsho sure, https://github.com/sinnrrr/dotfiles/tree/macos/lvim/.config/lvim

[2022-07-09 14:24] akinsho commented on #261
@sinnrrr can you just share the snippet that causes this issue just the few lines off code needed, not the entire config 🙏🏾

[2022-07-09 14:26] sinnrrr commented on #261
@akinsho oh, I am really sorry for this
https://github.com/sinnrrr/dotfiles/blob/macos/lvim/.config/lvim/lua/options/toggleterm.lua

here is my config for `toggleterm`

`.active` is for lunarvim to know if I still need toggleterm, or lunarvim can remove it

[2022-07-09 14:33] akinsho commented on #261
@sinnrrr lunar vim is a layer on top of this plugin. This plugin exposes a setup function. what I need is the exact settings that go into that. Do you know how this plugin is set up in a minimal environment without lunarvim if so can you just paste the setup call for this plugin. What you linked still involves some layer of abstraction from this plugin

[2022-07-09 14:35] sinnrrr commented on #261
okay, [here](https://github.com/LunarVim/LunarVim/blob/6d43a7946489764b57d2771fcfba260109ef984b/lua/lvim/core/terminal.lua#L5) is the setup config options and [here](https://github.com/LunarVim/LunarVim/blob/6d43a7946489764b57d2771fcfba260109ef984b/lua/lvim/core/terminal.lua#L50) it `.setup()` function call

[2022-07-09 14:39] akinsho commented on #261
@sinnrrr these are really large files with a bunch of comments can you please just just figure out on your side exactly what settings trigger this issue in just a few lines and paste that. I have many issues in many plugins to fix. It makes things very hard for me to try and dig it a user's specific config at minimum I need each user reporting an issue to share exactly the minimum code to show the

[2022-07-09 14:43] sinnrrr commented on #261
@akinsho seems like this is a problem on my end (something in config triggers terminal duplication), I have run a clean LunarVim config and this problem doesn't exist there. Sorry for wasting your time...

Thank you very much for such a great project!

[2022-07-09 14:43] #261 closed

[2022-07-09 19:35] fgsch commented on #260
That's fair. Thank you for getting back to me. I will close this for now.

[2022-07-09 20:33] akinsho commented on #260
@fgsch I sort of like this idea tbh, that maybe you could open a tab and then have a bunch of terminals which are localized to that tab 🤔. I'll keep this open a little while longer, if the idea tickle the back of my mind long enough I might try and implement it. Otherwise I'll close this out if I come back and don't think it'll work

[2022-07-09 20:38] akinsho commented on #260
Note for a possible future self or contributor.

I'm thinking that each terminal could store a tab number in its state, not sure if this would work if nvim was closed and a session was restarted later, would the tab number change.

If a terminal has a tab number then it should act as hidden unless that tab is in view so that a user can't open a tab local terminal outside the host tab (they should

[2022-07-10 02:55] JavaHello opened #262 "vim.highlight.create is deprecated"
Using the Neovim development version to start the error
[code]
[code]

[2022-07-10 02:59] JavaHello commented on #262
Switched to the master branch and the error disappeared

[2022-07-10 02:59] #262 closed

[2022-07-10 14:12] ElcomJ opened #263 "Last neovim unstable update."
Good Morning.

I am using the unstable version of neovim, and in the update that occurred today, when I went to open my neovim, it complained about some deprecated terms in the toggleterm as seen in the images below:
![Captura de tela de 2022-07-10 11-09-52](https://user-images.githubusercontent.com/37147897/178148493-713beac6-7f1a-490f-9a01-6f54add28099.png)

![Captura de tela de 2022-07-10 11-10

[2022-07-10 14:22] akinsho commented on #263
@ElcomJ seems you are using an old version of this plugin since I dropped the usage of the method a while ago. Can you make sure your version is up-to-date and see if the error is still there afterwards

[2022-07-10 14:31] ElcomJ commented on #263
@akinsho I just used vim.plug to be able to update all my Plugins, and I am using the latest version yes.

But still the error continues :(

Can you tell me how I can fix this problem ?

[2022-07-10 15:01] akinsho commented on #263
@ElcomJ did you change the tag for this plugin. Can you please post how you install the plug-in. What line are you using?

[2022-07-10 15:24] ElcomJ commented on #263
@akinsho I use the same one that is indicated for use in the Readme on github.

Github:
![Captura de tela de 2022-07-10 12-22-26](https://user-images.githubusercontent.com/37147897/178151234-a7dda01f-c2cf-448e-8085-f40cc80bd320.png)

Mine:
![Captura de tela de 2022-07-10 12-24-25](https://user-images.githubusercontent.com/37147897/178151249-4a5ad3bc-905c-4d32-bb3b-04b77d7545eb.png)

[2022-07-10 17:15] akinsho commented on #263
@ElcomJ try updating the plugin again, I just pushed a new tag. The last tag was old and didn't have any of the changes I made for a while. I'll re-open if it's still broken

[2022-07-10 17:15] #263 closed

[2022-07-10 17:31] ElcomJ commented on #263
@akinsho It worked! :)

Thanks for the quick help and congratulations on your great plugin, have a great day :)

[2022-07-14 09:30] justusschock opened #265 "Close only when successful"
Hi, thanks for this very great plugin!

Is there a way to achieve that the terminal is only closed when the process exited with 0 but stays open otherwise?

I have tried the following (which unfortunately didn't work):

[code]

[2022-07-14 09:44] akinsho commented on #265
@justusschock can you clarify what command you are trying to run and how you are running it that doesn't work? Can you also clarify that the on exit handler is correctly being called and what the value of the exit code is?

In general, this plugin provides users with the tools to implement this sort of functionality that you might want on your own. I don't specifically know how you might tie thing

[2022-07-14 12:17] akinsho commented on #265
@justusschock close will only close the window not destroy the terminal. You probably want to use `shutdown` instead or something that will actually kill the terminal

[2022-07-14 13:00] justusschock commented on #265
Works perfectly, thank you!

[2022-07-14 13:00] #265 closed

[2022-07-15 04:48] hisamafahri opened #266 "`vim.highlight` deprecation warning"
Hi, so recently I have updated my NeoVim to the following version, and got a deprecation warning as follows:

- Nvim version:

[code]

- System:

[code]
- When open NeoVim:

[code]

When open a terminal:

[code]

[2022-07-15 04:55] hisamafahri commented on #266
Sorry, duplicate of #262

[2022-07-15 04:55] #266 closed

[2022-07-15 12:31] edte commented on #180
well,but it working when i set like this
[code]

![a](https://user-images.githubusercontent.com/50194671/179223504-2f5595a9-801d-4967-953a-972999953bdf.gif)

[2022-07-15 23:29] alexmailo opened #268 "Error opening vertical,horizontal and tab terminals"
- Error
`Error executing Lua callback: .../pack/packer/start/toggleterm.nvim/lua/toggleterm/ui.lua:141: E474: Invalid argument`

- Stack traceback
[code]
- `nvim --version`
[code]

- config
[code]

I suspect it has something to do with `winbar` (even though it is disabled) cause it works just fine on nvim `0.8.0`

[2022-07-16 09:30] akinsho commented on #268
@alexmailo can you try again, this should be fixed after the most recent commit

[2022-07-16 10:51] ianworth opened #269 "Invalid argum ent stack traceback - in function '__newindex'"
I upgraded the toggleterm plugin to [91505816335a93b10f026409228aef5e8d48e6d9](https://github.com/akinsho/toggleterm.nvim/commit/91505816335a93b10f026409228aef5e8d48e6d9) and got the error

[code]

When I run the command

    2TermExec dir="%:p:h" cmd="git push && exit 0" size=6

When I rolled back to commit before https://github.com/akinsho/toggleterm.nvim/commit/bd2b6f67f03566e68215442680ccb3b7d

[2022-07-16 11:22] YuCao16 opened #270 "`:ToggleTermSendVisualLines` terminal_id` got string"
Hi, I have just recently discovered that toggleterm has a send function, but I get following ERROR when I try to follow the GIF (I didn't add terminal_id) in Readme.
<img width="1218" alt="image" src="https://user-images.githubusercontent.com/62466929/179352673-43ac11c9-2026-45b9-b02c-b20882db0a0e.png">

I tried to modify `toggleterm.nvim/lua/toggleterm.lua:204`, `set terminal_id = 1` it works.
<i

[2022-07-16 11:23] idabsent opened #271 "The open_mapping property does not work."
Hello. I apologize for the English. The second day I suffer with opening and closing the terminal with the state saved - the Ctrl-\ keys do not work out when pressed.

[code]

[code]

[2022-07-16 11:53] akinsho commented on #269
Looks like a duplicate of #268, the latest commit should have fixed it

[2022-07-16 11:54] #269 closed

[2022-07-16 11:54] ianworth commented on #269
Ah - thx, I should have checked that - latest commit works good for me.

[2022-07-16 12:43] akinsho commented on #268
Reports in a duplicate issue is that this is fixed so closing this out now. If anyone on the latest version still has this issue comment back here

[2022-07-16 12:43] #268 closed

[2022-07-16 13:09] akinsho commented on #271
@idabsent from what I can tell you have not set `hidden` in your config, can you also try to use Google Translate to explain in more detail what you mean about the mapping not working since it definitely works for me and most other users. Also, from your configuration, you have not actually added on open mapping to your config?

[2022-07-16 13:22] akinsho commented on #270
This should now be fixed by 9f050333629308c80540bfa88631c9eccacbd282

[2022-07-16 13:22] #270 closed

[2022-07-16 13:53] YuCao16 commented on #270
Thanks for your quick reply, it now works!

[2022-07-16 16:20] alexmailo commented on #268
Doing a `:PackerUpdate` fixed it. Thank you very much.

[2022-07-18 09:04] akinsho commented on #252
Gonna close this out since I believe the plugin above solves the OP's issue

[2022-07-18 09:04] #252 closed

[2022-07-18 10:13] #250 closed

[2022-07-18 19:52] willocho opened #273 "Requiring toggleterm causes stack overflow"
Trying to require toggleterm is causing a stack overflow in lua

To reproduce
1. Open neovide
2. Type ":lua require('toggleterm').setup{}
3. Error message: "E5105: Error while calling lua chunk: stack overflow"

I don't have any other requires in my init.vim or in any of the plugin folders

[2022-07-18 20:16] willocho commented on #273
I think the issue is that I was using nvim < 0.5. Updating got rid of this error

[2022-07-18 20:16] #273 closed

[2022-07-19 08:35] #175 closed, assigned to nobody

[2022-07-19 20:29] AlexvZyl opened #274 "Shade floating terminal"
Hi, thanks for the cool plugin!  Simple and adds a lot imo.

I am not sure if this is a limitation that is caused by neovim, but would it be possible to add `shading_factor = <VALUE>` to the floating terminal (`float_opts`)?  It seems like it is using the normal background color.

[2022-07-19 20:39] akinsho commented on #274
Hi @Alex-vZyl so the floating windows aren't shaded on purpose. Most people use them for things lazygit or top or terminal file managers. So shading would probably be disruptive in those circumstances, at least that has been my reasoning. It's possible to add, but to be completely honest I'm not particularly interested in adding this myself. Feel free to raise a PR if you're interested in making t

[2022-07-19 20:42] Alex-vZyl commented on #274
I understand that.  I am relatively new to neovim plugins, but I will give it a shot.

[2022-07-19 20:50] akinsho commented on #274
The terminal shading is added here

https://github.com/akinsho/toggleterm.nvim/blob/9db6f98af4f700945cff0f4f34b92ec80ab67a2b/lua/toggleterm/config.lua#L92

what I would suggest is that you add an option to `shade_filetypes` which is `float` (not quite a filetype) and then you can check the `conf.shade_filetypes` in `config.lua` just above where I linked and if it includes `float` then similar to t

[2022-07-21 14:35] augustocdias opened #275 "Wrong behavior with custom matches in Toggleterm"
Hi,

I'm trying to create a custom match to highlight trailing spaces and tabs in my windows and I would like to except toggleterm from that rule, but I'm having issues as it seems it is removing and re-adding the matches after setting the filetype.

So the idea is basically set the highlight to every new window and remove from specific filetypes as you can see in the auto commands definitions her

[2022-07-22 07:42] akinsho commented on #275
@augustocdias I don't really know that this is a toggleterm issue or something I can meaningfully intervene with. I have extra whitespace highlighting in config, and it works fine without involving toggleterm. Are you sure that `toggleterm,help` as an autocmd pattern works as you expect? Anyway, really not sure that this is an issue for here rather than a config thing 🤷🏿‍♂️

I think other people w

[2022-07-22 08:11] augustocdias commented on #275
well... it works for the `help` buffer. What I find specially strange is that after the event is fired the matches are set back

[2022-07-22 10:51] augustocdias commented on #275
You're right... I have no idea what is happening.

I've put some prints inside toggleterm when it sets the filetype and look at this:

[code]

[code]
Only during the event the window doesn't have any match. But before and after it is there...

[2022-07-22 10:51] #275 closed

[2022-07-22 11:01] augustocdias commented on #275
I figured out the reason, but not why it happens. It turns out during toggleterm activation it triggers the event in a window that is not the same from the one in toggleterm. I printed the current window in the plugin and in the event and they're different. After everything is executed the window from event doesn't exist anymore...

[2022-07-22 11:29] augustocdias opened #276 "Activating winbar results in error"
When I enable the winbar I'm getting the following error:

[code]

[2022-07-22 11:56] akinsho commented on #276
@augustocdias can you please share a minimal config that reproduces this error. I've been using the winbar locally and don't get any errors

[2022-07-22 12:31] augustocdias commented on #276
[code]

[2022-07-22 19:51] anasrar opened #277 "bug: winbar cause broken bottom border on floating window"
I hope we can disable winbar in floating mode

![image](https://user-images.githubusercontent.com/38805204/180516546-1419975d-01f8-44da-aaad-4ba25b4578c2.png)

# minimal config
[code]

# related issues
- #258

[2022-07-23 08:17] akinsho commented on #277
@anasrar I don't think the winbar you are seeing is related to this plugin because it needs to be enabled in the config which your example doesn't do and it also ignores floating windows

[2022-07-23 09:06] akinsho commented on #277
Oh, I just realized you mean the winbar added by lualine, tbh I think lualine should be more careful about how *it* enables winbar, it should be checking that it isn't adding a winbar in floating windows. I think this is a problem that should be solved in that plugin not here. Since I did not add this winbar another plugin did

[2022-07-23 09:19] anasrar commented on #277
@akinsho did terminal buffer has `filetype` attribute, lualine support ignoring list of filetypes

[2022-07-23 09:22] akinsho commented on #277
Toggleterm buffers have a filetype of `toggleterm` you can find this out yourself in the future using `:echo &filetype` inside a buffer to know it's filetype

[2022-07-23 09:31] anasrar commented on #277
got it, lualine winbar still take space, gonna report this bug to lualine instead
![image](https://user-images.githubusercontent.com/38805204/180599553-10646eb1-6ee1-451b-82d2-e494e0bec258.png)

[2022-07-23 09:31] #277 closed

[2022-07-23 16:17] xiyaowong opened #278 "[Feature] dynamic width and height for float terminal"
like `size` , we can pass function to `float_opts.width` `float_opts.height` :)

[2022-07-24 03:41] KarlWithK commented on #205
Just fyi, with the latest lazygit I've noticed that I had to use local `lg_cmd = "lg -w $(pwd)"`

[2022-07-24 10:42] akinsho commented on #278
@xiyaowong please feel free to make a PR for this 🙏🏾 it's not high on my list as I have other things in currently working on

[2022-07-24 11:49] #276 closed

[2022-07-24 11:50] akinsho commented on #276
This should be fixed now 👍🏿 thanks for reporting it

[2022-07-24 13:49] #278 closed

[2022-07-25 00:08] ResolverJay opened #280 "`hide_numbers = false` doesn't work with float terminal"
As titled, I can't seem to get `hide_numbers = false` working with float terminal, though the other directions work fine. Is this a bug or something I missed in the config?
[code]
<img width="718" alt="image" src="https://user-images.githubusercontent.com/13752789/180671091-43fdca2d-961e-4c09-82f0-c0155c0897cc.png">
<img width="718" alt="image" src="https://user-images.githubusercontent.com/137527

[2022-07-25 06:23] akinsho commented on #280
@ResolverJay by default neovim does not show numbers in floating windows. That option is intended for directions like horizontal where it is relevant. If you want to show numbers in floats you'll need to figure out how to add that in your config on your own. I don't intend to do that in this plugin since this is non standard behaviour

[2022-07-27 09:07] elan-hwang opened #281 "lazygit opens outside the terminal mode in windows 10"
I'm using the Windows terminal in Windows 10, when I toggle lazygit, I have to press i or a to enter the terminal mode, I expect it to open in terminal mode directly. However I cannot replicate the same behaviour in Archlinux.
before pressing a:
![image](https://user-images.githubusercontent.com/90620964/181208015-49e02568-ecfd-4ed7-a209-c698664dab72.png)
after pressing a:
![image](https://user-im

[2022-07-27 09:17] akinsho commented on #281
@elan-hwang I don't really know what I can do about this tbh, I don't use windows or have access to a Windows machine (nor the desire to go down that rabbit hole) so I have no way to test this behaviour and no idea why it might be like that 🤷🏿‍♂️. I guess you could check the OS being run and if it is windows you could run `startinsert` inside the on open function for your lazygit terminal.

[2022-07-27 09:20] #281 closed

[2022-07-27 09:59] elan-hwang commented on #281
Thanks I added the on_open function and it works
[code]

[2022-07-28 09:36] DPDmancul opened #282 "`persist_mode = false` doesn't work on window switch"
I recall that months ago when switching between a buffer and the terminal (using the mouse or <C-w><C-w>, with <C-w> mapped to <C-\><C-n><C-w>) I found the terminal always in terminal (insert) mode.
Now when I switch window I found the terminal always in normal mode. I guessed this change was introduced by #245, so i put in my config `persist_mode = false`. It works when I close the terminal and t

[2022-07-28 10:10] DPDmancul commented on #282
I tried to temporary solve with:
[code]

I tested with both `persist_mode` to true and to false: the behavior is the same: it always returns to normal mode

[2022-07-28 11:17] akinsho commented on #282
@DPDmancul not sure if I understand your suggested solution, but this is a known gap in the implementation I did for persist mode. It only persists the mode when toggling the buffer not on `WinLeave` and `WinEnter`. With persist mode false and no `start_in_insert` the plugin just uses vim's native behaviour which just uses normal mode for all window switching since you can't run commands/maps like

[2022-07-28 12:26] akinsho commented on #282
Ok so turns out I was wrong, and it was a mixture of what I said (a bit) and another issue. One issue was that the win leave and win enter were there, but I was relying on `BufWin{Leave|Enter}` which don't actually do exactly what you'd expect.

The other issue was the recommended mappings of `<C-\><C-N>key` actually put you first in normal mode then execute the key, which means normal mode is alw

[2022-07-28 12:49] akinsho commented on #282
Should be fixed on `main` now 👍🏿

[2022-07-28 13:29] #282 closed

[2022-07-28 20:56] Astrantia opened #283 "[Upstream] WinSeparator/VertSplit cannot be changed locally"
I would like to change the winhl of my toggleterm buffer, but it doesn't look to me this is possible now.

[2022-07-28 20:59] akinsho commented on #283
@Astrantia you can change the highlights of the terminal by just using the highlights key for each terminal e.g.
[code]
Since winhighlight is just about adding highlights, then you should be able to achieve whatever you want using those 🤷🏿‍♂️

[2022-07-28 20:59] akinsho commented on #283
Please read the README for more details on how to use it

[2022-07-28 21:07] Astrantia commented on #283
[code]
doesn't seem to have any effect, be it with link or hex

[2022-07-28 21:12] akinsho commented on #283
@Astrantia you can't set a window local WinSeparator as far as I can tell, I've tried adding one to toggleterm by default, but it doesn't work. You can try this yourself by running `setlocal winhighlight=WinSeparator:Visual` inside the toggleterm buffer or whatever buffer you'd like

[2022-07-28 21:15] Astrantia commented on #283
Is nvim-tree using some different neovim way to present itself? they use WinSeparator over there https://github.com/kyazdani42/nvim-tree.lua/blob/64cc3c17e1a8d00d0fafcb61349b2a7d57234e53/lua/nvim-tree/view.lua#L38 and it seems to work for me too. As for why I'm interested in this is to make the split border disappear. Speaking of which https://user-images.githubusercontent.com/18753533/159889865-7

[2022-07-28 21:19] Astrantia commented on #283
also nevermind the WinSeparator, shouldn't VertSplit have had an effect to style the border?

[2022-07-28 21:23] akinsho commented on #283
The attached video doesn't work, FYI.

To clarify, in versions of neovim greater than 7.0 which is all that this plugin aims for since I don't support older neovim versions, `VertSplit` has been replaced by `WinSeparator`. I don't know what behaviour you are seeing in nvim-tree that looks like this is working, but a few very important points to clarify are:
* what direction of toggleterm you are s

[2022-07-28 21:29] Astrantia commented on #283
the video is one from the readme. i'm using nightly neovim so it should be good on that front.

i'm trying to specifically change the vertsplit for terminal only, and i'm using horizontal split for the terminal (lower half)

doing that setlocal command changes the background color of the terminal, but it doesn't get rid of the white split border.

[2022-07-28 21:35] Astrantia commented on #283
![image](https://user-images.githubusercontent.com/32885386/181641661-e34668df-0f5a-4f95-ad4f-ef2715a63629.png)
this is my neovim now and i want to blend in that white border with the rest of bg colors

[2022-07-28 21:39] akinsho commented on #283
@Astrantia as I have already mentioned, this is something that I noticed as soon as `WinSeparator` was added. As far as I can tell there is an upstream neovim issue here since as you have already observed if you set `WinSeparator` via `winhighlight` it doesn't work anyway nor does `VertSplit`. Setting it *globally* like you mention with `highlight` (obv) works but is not the desired outcome. This

[2022-07-28 21:41] Astrantia commented on #283
I guess using a global highlight and winbars as a visual guide for separating buffers is something I can do for now. Feel free to close or keep this issue opened for an upstream reference

[2022-07-30 03:36] ResolverJay commented on #280
Thanks @akinsho. I fixed by
[code]
One note though, it only works after insert mode is activated (or set `start_in_insert = true`).

[2022-07-30 03:36] #280 closed

[2022-07-31 13:53] pasha009 commented on #227
For anyone facing similar issue, you can try deleting the keymap for `<C-l>` in terminal mode

`vim.keymap.del("t", "<C-l>")`

[2022-08-02 00:15] azinsharaf commented on #255
hi @Normanras ,
Did you figure it the reason this issue happens?
I am using Fish (in Cygwin) and experiencing same issue in Astronvim when i use Toggleterm.

[2022-08-02 14:03] ChristianChiarulli opened #284 "Issue when winbar is active using latest Neovim"
![image](https://user-images.githubusercontent.com/29136904/182393908-85c19347-6c3f-47e2-acea-ea3820678b42.png)

[2022-08-02 14:54] akinsho commented on #284
This bug is caused by an upstream issue which is tracked here: https://github.com/neovim/neovim/issues/19458
The winbar feature here is still experimental and subject to these kinds of bugs, so I recommend not using it here till the feature in core itself is stable

[2022-08-02 16:20] ChristianChiarulli commented on #284
Gotcha, for anyone who wants to avoid this issue but still use 0.8 winbar and toggleterm you can checkout this commit: `2966cfe2`

[2022-08-02 19:05] Livingnight commented on #284
Is this a commit for toggleterm, winbar, or neovim?

[2022-08-02 20:34] akinsho commented on #284
Neovim commit @Livingnight, switching toggleterm commit won't matter if you're on a buggy nightly nvim version

[2022-08-02 21:17] Livingnight commented on #284
@akinsho i gotcha. I should've looked more closely at the previous comments. Seeing as it's an upstream issue then it must be a neovim commit :smile: Thank you!

[2022-08-03 04:52] nullchilly commented on #284
@akinsho Thank you so much, it was so frustrating for me but I didn't have the time to investigate.

The cost of using nightly features I guess...

[2022-08-04 03:18] c02y commented on #129
Using this to get right-bottom floating terminal with 50% of the width/height of current vim buffer window:
[code]

[2022-08-04 16:52] akinsho commented on #143
fixed by #285

[2022-08-04 16:52] #143 closed

[2022-08-04 18:39] Grazfather opened #286 "[Regression] Toggling tabs opens in 'normal mode' and do not close"
Noticed this just today.

Sometimes, after using nvim for a while and opening the terminal a few times, when I toggle the terminal it shows NORMAL mode. I have to hit `i` to get into TERMINAL mode.

I am on commit 5ea8233 on nvim v0.8.0 dev, not sure the specific dev commit, on ubuntu

[2022-08-04 20:26] akinsho commented on #286
@Grazfather this is probably because of the `persist_mode = true` and probably using terminal mappings that don't use `wincmd` I've added a notice about this in the README but the quickest solution is to set persist mode to false or carefully read the notice I've added and update your config

[2022-08-04 20:31] akinsho commented on #286
I've just changed the default for this mode to false by default, since really I guess only people who have set up their mappings for it should be using it.

[2022-08-05 11:33] cherrot opened #287 "Cannot switch to normal mode in terminal when using the default key mapping <C-\>"
I tried to map `<ESC>` to `<C-\><C-n>` in terminal mode to switch to the normal mode. But it doesn't work, instead, it just toggles the terminal.

Maybe it's not a good idea to use `<C-\>` as the default mapping?

I'm using nvim 0.7.2. Here is the plugin's config:
[code]

[2022-08-05 12:02] akinsho commented on #287
@cherrot that is not a default mapping a user can use whatever they want that is just an example. You are expected to use what works for you. I use the mapping in the docs and it's worked without issue for me for years at this point

[2022-08-05 13:35] Grazfather commented on #286
I've updated to b9f7e08 and the issue still exists, actually, so I don't think that that's it.

[2022-08-05 13:45] akinsho commented on #286
In which case, can you provide a minimal `init.lua` with steps for me to reproduce this myself.

[2022-08-05 14:59] Grazfather commented on #286
[code]

[2022-08-08 02:01] rish987 opened #289 "[Feature idea]: Alternate smart-toggle strategies"
Hi there! I've been using this plugin for quite a while (it finally got me off of tmux!), and wanted to ask for your opinion on this idea for a new configuration option + set of external utility functions. Currently, when using `:ToggleTerm` without a count, it defaults to "smart-toggling", which has the effect of opening the first unhidden terminal if none are open, and closing open terminals one

[2022-08-08 17:43] rish987 commented on #289
Another smart-toggle helper we could add is one that opens the last-used terminal, which I think could be very useful to avoid having to provide a count before `<C-\>` when possible, though I think we might have to add some state to make this work. Anyways, I wanted to gauge your opinion on #290 before working on this (in a separate PR).

[2022-08-08 20:22] akinsho commented on #289
Hi @rish987

Sorry I haven't spent much time to properly weigh in, I'm generally intrigued by the idea but also concerned about introducing complexity that increases the maintenance burden by either adding complexity to the plugins usage of its code. Ultimately whatever change is added would have to be as minimal as possible in the first instance and more importantly easy to maintain. Ultimately t

[2022-08-08 20:35] rish987 commented on #289
Hi, thanks for the input! This should be fairly self-contained I believe, I tried to keep it minimal in #290. Really all that changes is that instead of hard-coding the smart-toggle strategy, we've abstracted this to allow the user to pick one from a set of given strategies (and which defaults to the original "first non-hidden terminal" strategy). It doesn't touch any core aspects of the code, so

[2022-08-08 21:52] akinsho commented on #286
@Grazfather from what I can see in your config you are not using `start_in_insert` so there isn't really a reason why the terminal should *not* start in normal mode. If you just run `:terminal` then by default neovim doesn't start a terminal in insert mode. The same applies here unless you set this plugin to behave differently

[2022-08-09 00:43] rish987 commented on #289
To summarize, the overall point of this functionality is to minimize the occurrences of count + `<C-\>` by the user (the number keys are hard to reach, after all, and terminal numbers are hard to remember!) when they're simultaneously using many different terminals in many different contexts. I figured that the current tab is a good heuristic for figuring out the context, but in the future I think

[2022-08-09 02:38] Grazfather commented on #286
Well, `start_in_insert` defaults to `true`, plus, I never needed it before (this seems to be a regression), and finally, setting it to true explicitly does not remediate the issue.

Were you able to reproduce with my init.lua?

[2022-08-09 07:24] akinsho commented on #286
I couldn't initially reproduce this using splits, but it seems to specifically reproduce with tabs, although what I'm seeing is more that toggling tabs doesn't work well.

I'll re-open this issue and leave it to track the bug, but I don't have time to look into this currently, so it won't be high on my list. Please feel free to dig in and contribute if it's affecting your workflow.

[2022-08-09 13:24] Grazfather commented on #286
Thank you for taking a look. I will switch to float in the meantime, and I will try to take a look (though I do not know Vim's lua api very well at all).

[2022-08-12 11:36] caamittiwari opened #291 "E :315"
![Screenshot 2022-08-12 170155](https://user-images.githubusercontent.com/73481919/184346197-02b40ca6-361f-41fe-89a1-70df0ff3dac3.png)

[2022-08-12 11:38] caamittiwari commented on #291
it  happen  not  always  but   most   time

[2022-08-12 13:52] akinsho commented on #291
@caamittiwari this is unfortunately not a very well formulated issue, it does not contain steps to reproduce this issue with a minimal `init.lua`, nor does it explain what actions you take to reproduce this.

Judging for the message though, `ml_get: invalid lnum` is an upstream issue caused by neovim nightly and the most common reason is using `winbar` which is broken in neovim nightly and should

[2022-08-12 13:52] #291 closed

[2022-08-12 14:31] zubrailx commented on #211
Just an example with cd:

[code]

Call it:
[code]

[2022-08-12 14:42] caamittiwari commented on #291
thanks  for  support

[2022-08-12 15:02] zubrailx commented on #211
Example with cd:
[code]
Cmd:
[code]

[2022-08-12 15:21] eeeXun opened #292 "toggleterm broken if `dir` not exist"
I usually use mapping to open toggleterm in directory of current file like this.
[code]
But if I accidentally open term in not exist file, such as `Git` in [vim-fugitive](https://github.com/tpope/vim-fugitive).
The toggleterm would not show the shell, then I can't type to shell anymore.
What I can do is reopening neovim. Then open toggleterm in a exist file.

[2022-08-12 15:38] akinsho commented on #292
@eeeXun I don't entirely follow exactly what is going on here, but from what you are saying, it sounds like you are trying to open toggleterm in an incorrect directory. This seems like a user error to me, I'd suggest not opening it in a non-existent directory. If you'd like to contribute some validation to make this easier on the user, then please be my guest.

If you or no one else is going to su

[2022-08-13 18:59] akinsho commented on #292
fixed by #293

[2022-08-13 18:59] #292 closed

[2022-08-17 19:51] azinsharaf commented on #251
@gabrielkryss Hi Gabriel, How do we dictate which shell we want to use in Toggle Term? I have fish installed on my Cygwin env.
I defined a $SHELL env var but didn't work.

[2022-08-18 13:28] PolSust opened #294 "Fish vim mode"
I can't use the "fish_vi_key_bindings" because when I press escape I just enter normal mode in the editor.

Any way to avoid this?

[2022-08-18 13:51] akinsho commented on #294
@PolSust this is not an issue with toggleterm but a usage issue with neovim, AFAIK you cannot use any kind of vim mode in neovims terminal because escaping will always remove you to normal mode in neovim

[2022-08-18 13:51] #294 closed

[2022-08-18 18:24] azinsharaf opened #295 "can't use Fish shell in toggleterm"
hi,

I can't configure `toggleterm` in `neovim`. Not sure if it is a teoggleterm misconfiguration/issue or neovim/shell issue in my env.
this is the related lines in `plugins.lua` file:
[code]

this is the keymap in `keymaps.lua` file:  (Sapce is leader key.)

`keymap("n", "<leader>t", ":ToggleTerm<cr>", opts)`

so when i press leader-e i get he following error: (same result if I run `:ToggleTerm`

[2022-08-18 18:42] akinsho commented on #295
@azinsharaf issues relating to fish shell are not specific to this plugin, but related to getting fish shell working in general. Please check this issue https://github.com/akinsho/toggleterm.nvim/issues/255 I personally do not use fish shell so have no other advice than recommending switching your `vim.o.shell = bash` for a quick fix

[2022-08-18 18:42] #295 closed

[2022-08-22 16:14] akinsho commented on #268
@matcha1024 I can't reproduce this on the latest nightly. You'll need to provide more information or exact reproduction steps if winbar is disabled, or you are on the correct version of nightly with winbar enabled, you should not be seeing this error

[2022-08-24 07:16] akinsho commented on #284
This has now been resolved in the latest nightly versions, so going to close this out

[2022-08-24 07:16] #284 closed

[2022-08-25 11:56] Miradorn opened #296 "Active Buffer scrolls to bottom and lose focus on `TermExec` if terminal is already open"
Hey there and thanks for this great plugin ❤️

I have a kind of weird behaviour that I couldn't really debug by looking through the code:

Basically, when im in Buffer `A` on any line and do `:TermExec` the first time (when no terminal is currently showing) everything works as expected (focus stays in Buffer `A` on the current line).
Now if i do the exact command again while the terminal is still

[2022-08-25 13:03] akinsho commented on #296
Thanks for reporting this @Miradorn this is probably due to an issue in the auto scroll logic that was added a little while ago. I'll take a look

[2022-08-25 13:31] akinsho commented on #296
@Miradorn can you try again, I've just pushed some fixes to the main branch

[2022-08-25 15:16] Miradorn commented on #296
wow, thanks for that super quick reply! Seems to work great 🤟

[2022-08-25 15:16] #296 closed

[2022-08-26 14:54] krshrimali opened #297 "Setting background color for horizontal/vertical term"
Hi! I know this is a silly question, but I'll still ask.

How can I set the highlight like it can be set for floating mode using `float_opts`? I want to set the background for my horizontal and vertical term to the original alacritty colorscheme...

Horizontal Term:
![image](https://user-images.githubusercontent.com/19997320/186932955-a6accd73-0faf-4afd-bb48-8d226013936f.png)

Float Term: (I want

[2022-08-26 15:02] akinsho commented on #297
@krshrimali you should disable `shade_terminals` it's in the help docs

[2022-08-26 15:02] #297 closed

[2022-08-26 15:03] krshrimali commented on #297
Thank you so much! I appreciate the help.

[2022-08-26 16:16] krshrimali opened #298 "Launching terminal with an initial command, like `Terminal:new`"
Hi, I'm looking to bind running my build file for each project to launching a vertical terminal. How can I do this using toggleterm?

`TermExec` sends the command to the recent terminal. So doesn't really help in this case.

Basically, I want to launch a terminal with a given command every time I hit a keymap. Is it possible using toggleterm?

[2022-08-26 16:33] akinsho commented on #298
@krshrimali please don't use the issue tracker as a customer support desk or help centre, it's for reporting bugs i.e. specifically broken things, or suggestion feature requests that you might have time to help implement or have at least thought through implementation yourself.

I'm only one person and maintain several plugins as well as a job and a personal life, I can't help every user with ever

[2022-08-26 16:33] #298 closed

[2022-08-26 16:43] krshrimali commented on #298
Hi Akin! I appreciate and I understand that you can't help with all the issues. However, to call this as a mere attempt to treat as a customer desk or help center, sounded unfair. I understand though, that it wasn't an issue to be raised, I should have asked in some other discord community for neovim users.

Also, you can freely ignore the issue, close it as not to be answered, by creating an issu

[2022-08-26 17:03] akinsho commented on #298
@krshrimali describing it as

is not intended harshly but simply at face value i.e. this is not an issue with the plugin not working or a request for it to have some new functionality but rather a request for help to make it work a certain way that you would like. "How can I make the plugin do X in my workflow". I get *dozens* of these requests, almost daily or more. I find this sort of question p

[2022-08-26 17:10] krshrimali commented on #298
Well, we diverge on our opinions here, but that's a good part! It's all open-source is about, I believe. I thank you for your contributions, and work.

I can understand what you mean by exhausting, and I'll try to help others wherever I can on this repo once I've dug deeper. Again, don't mind my arguments, wish you the best!

Thank you!

[2022-08-29 15:15] ishwar00 opened #300 "toggling terminal dragging prompt to bottom."
Hey there, thanks for the plugin :)

I was setting up `toggleterm.nvim`, and i copied first 39 lines of this [config](https://github.com/LunarVim/Neovim-from-scratch/blob/master/lua/user/toggleterm.lua). When i toggle terminal using `<c-\>`, terminal pops up as expected, press it(`<c-\>`) again to close it, and after doing(toggling) it couple of times, a new prompt appears at the bottom, with old

[2022-08-29 15:31] akinsho commented on #300
@ishwar00 this isn't super clear what you are describing, can you attach a GIF or some screenshots, I don't really know what you mean. You can maybe try and set `auto_scroll` to false, but otherwise I'd need some images as I can't tell

[2022-08-29 17:15] ishwar00 commented on #300
Right!, i should have attached some visuals. While recording below video, i was only toggling(pressing `<S-t>`) terminal. First time works as expected, you get a prompt at the top, but second time it does not go well.

- I tried `auto_scroll=false`, it did not fix
- Ran `:PackerAsync` before creating this issue.

(I changed `open_mapping` from `<c-\>` to `<S-t>`)

[Screencast from 29-08-22 10:24:5

[2022-08-29 17:20] akinsho commented on #300
@ishwar00 this doesn't reproduce for me, I hit the mapping several times in a row and the terminal does not do this. Can you please try running a minimal configuration without any other things except loading this plugin and seeing if the behaviour reproduces.

[2022-08-29 17:32] ishwar00 commented on #300
Hey @akinsho,

I figured, it's [nushell](https://www.nushell.sh/)'s bug. I tried with `bash` it works fine :D.

Sorry to bother you.

[2022-08-29 17:48] #300 closed

[2022-08-31 10:51] akinsho commented on #286
@Grazfather can you try the tab mode again and see if it behaves correctly on the latest commit?

[2022-08-31 11:14] akinsho commented on #286
To be clear if `start_in_insert = false, persis_mode = false` the expected behaviour will be always in `normal` mode, unless explicitly set to do it, the terminal *does not open in insert mode*

[2022-09-01 18:44] sfmth opened #302 "How to set it up?"
I added this to my ~/.config/nvim/init.vim
[code]
and It doesn't even enable a ToggleTerm command

I know I'm a noobie in nvim but the instructions on readme.md are very unclear

[2022-09-01 19:02] akinsho commented on #302
@sfmth you seem to have copy and pasted blocks from the readme that tbh I explicitly mention should only be used by people who are trying to do something complex. I *strongly* recommend reading the readme very closesly in detail.

A short example of how to use this would be
[code]

As a new user, I strongly recommend reading some preliminary documentation, so you understand how lua in neovim works

[2022-09-01 19:02] #302 closed

[2022-09-03 14:30] Grazfather commented on #286
I am afraid I still have the issue on commit b402342. Is it fixed for you?

[2022-09-03 14:33] akinsho commented on #286
@Grazfather can you clarify the issue exactly again, I'm no longer sure I know what is actually going wrong, do you expect the terminal to be in insert, and it's not despite some settings or vice versa?

[2022-09-03 14:35] Grazfather commented on #286
I do this:

1. Open vim
2. Open terminal, it is in insert mode, as expected.
3. Toggle the terminal, back to my main buffer.
4. Open the terminal now, no longer in insert mode.

[2022-09-03 14:36] akinsho commented on #286
@Grazfather are you using `start_in_insert = true` and `persist_mode = true` ?

[2022-09-03 14:37] akinsho commented on #286
If not then I would not expect the terminal to be in insert also if you are using persist mode have you changed your terminal mappings as mentioned in the notice in the readme?

[2022-09-03 14:40] Grazfather commented on #286
Yes I am using those settings. You should be able to repro with my minimal config above.

[2022-09-03 15:04] akinsho commented on #286
@Grazfather think this should now be fixed, can you try again.

[2022-09-03 15:12] Grazfather commented on #286
It seems fixed at 7abb25e!

[2022-09-03 15:15] akinsho commented on #286
👍🏿 should be now seems the issue was that the mode wasn't being reset for tab pages due to a specific edge case

[2022-09-03 15:15] #286 closed

[2022-09-03 15:46] Grazfather commented on #286
Thanks for the fix!

[2022-09-03 18:47] yuchanns commented on #119
@metalelf0 Just following the above instruction, turn off `shade_terminals` in the toggleterm configuration and add toggleterm to `vim.g.tokyonight_sidebars`.

first, toggle to open terminal then see it transparent. While you focus on another buffer then come back to term, it becomes dark.

https://user-images.githubusercontent.com/25029451/188284218-2c3f6b61-b2b2-4b17-8f61-e408c93c4ae9.mov

[2022-09-04 10:14] yehorb opened #303 "[Documentation] Explicit instructions for setting up `powershell` shell in `nvim`"
Hi. I recently encountered an issue using `powershell` shell with `toggleterm.nvim`. As usual, I was getting an empty screen when I opened the default terminal, and no terminal programs were working (a terminal window flashed for a second). This is a known issue, already mentioned in https://github.com/akinsho/toggleterm.nvim/issues/90, with a solution mentioned in https://github.com/neovim/neovim

[2022-09-05 07:32] akinsho commented on #303
@yehorb so I very much do not want to be in the business of maintaining documentation for an OS I do not use with commands I do not understand. I generally do not want to be in a situation where I'm having to give specific instructions to fish users or powershell users etc. I would have no way of knowing if these commands were correct or validating these instructions if a user decided to contribut

[2022-09-05 07:33] akinsho commented on #303
Actually this already exists 😆 https://github.com/akinsho/toggleterm.nvim/wiki/Tips-and-Tricks#using-toggleterm-with-powershell I completely forgot. I will link to it in the README

[2022-09-05 07:39] akinsho commented on #303
I've now added a link in an FAQ section to the README and added your lua version of the solution. I believe this is a reasonable compromise, so will close this out.

[2022-09-05 07:39] #303 closed

[2022-09-05 12:03] xbladesub opened #304 "Dynamic directory change (follow nvim-tree)?"
Is it possible to dynamically change current directory - follow current nvim-tree path? Would be very-very useful. If you jump between buffers and projects (project.nvim) I'd like to also change opened terminal window directory.

[2022-09-05 12:41] yehorb commented on #303
Great, thanks! Having the FAQ related to PowerShell on the main page is much better than not having one. Wiki can be overlooked sometimes (I definitely missed it).

[2022-09-05 15:41] #304 closed

[2022-09-06 19:57] SownteeNguyen commented on #118
Shell với theme bác dùng là gì vậy ?

[2022-09-07 02:20] tynguyen2k1 commented on #118
Shell mình dùng starship còn theme là tokyo night

[2022-09-07 08:23] nwaywood opened #305 "[BUG] `close_on_exit` no longer working?"
I have `lazygit` setup with toggleterm https://github.com/nwaywood/dotfiles/blob/master/config/nvim/lua/user/plugins/toggleterm.lua.

When I press `q` to quit `lazygit`, toggleterm used to close the terminal window (because I have `close_on_exit = true`).

But after running `:PackerSync` it has stopped working, now when I quit `lazygit` I get this:

<img width="1655" alt="image" src="https://user-

[2022-09-07 08:37] akinsho commented on #305
@nwaywood can you narrow this down to a specific commit?

[2022-09-07 10:44] nwaywood commented on #305
I'll try a bunch of different commits and see if I can help narrow it down.

Btw are you able to reproduce the issue?

[2022-09-07 10:53] akinsho commented on #305
@nwaywood no I cannot reproduce this on the latest commit. I tried using `ToggleTerm direction=float` then I ran `exit` which successfully closed the window. Can you try the same flow?

[2022-09-07 11:02] nwaywood commented on #305
Yes that works for me as well.

What doesn't work is lazygit. Does that work for you?

![Sep-07-2022 21-01-27](https://user-images.githubusercontent.com/3773641/188862791-a05ad406-823e-44fa-a7e5-075ea6c538be.gif)

[2022-09-07 11:55] akinsho commented on #305
My lazygit exits fine without the behaviour you've shown above, not a lazygit expert though, so I wouldn't know why. Can you see how it behaves in a terminal outside neovim

[2022-09-07 12:02] nwaywood commented on #305
lazygit exits as expected outside of neovim. I don't think its a lazygit issue because the message in the toggleterm window that sticks around after quitting lazygit says `[Process exited 0]`. So I assume that means that toggleterm knows that the process has exited?

[2022-09-07 12:11] nwaywood commented on #305
@akinsho I just setup a minimal `init.lua` and it works... so it must be something else in my config causing this issue somehow. Sorry to bother you!

init.lua
[code]

[2022-09-07 12:12] #305 closed

[2022-09-07 16:41] SownteeNguyen commented on #118
làm sao để 1 ở 1 dòng thế bác ? Em dùng ZSH a
![image](https://user-images.githubusercontent.com/90148193/188933524-c2e2034a-a534-4a7d-9e5d-d48ac089ddb0.png)

[2022-09-07 16:50] SownteeNguyen commented on #118
Với cả bác biết settings NVim sử dụng PowerShell không ? ( em sợ bác dùng Linux )

[2022-09-08 08:16] asteroidalaz opened #307 "[Question/Bug] auto scroll not triggering on term open"
When I pass `auto_scroll = true` to the terminal, it is not autoscrolling in normal mode.

[2022-09-08 08:19] akinsho commented on #307
@asteroidalaz please provide specific examples of what exactly doesn't work what exact config you are using and what the expected outcome is, otherwise I will close this issue out for lack of information

[2022-09-08 10:00] asteroidalaz commented on #307
I am trying to open toggle term with this command
[code]
but the output is not automatically scrolling, (I am in the normal mode in the terminal window).
I am always at the top of the line

[2022-09-08 10:10] akinsho commented on #307
@asteroidalaz can you give an example of the type of command you are running that isn't working, that is kind of important. The "scroll" just jumps to the end of the buffer, so the behaviour will kind of depend on what you are doing. It would be useful to have the entire steps that you are following so I can just do exactly what you are doing. If the command is sensitive then something similar wil

[2022-09-08 22:49] Strongleong opened #308 "[Bug] Terminal:send is not working"
If I set in my setup config `on_open` handler like this:
[code]
I get error
[code]

I looked at the code, specifically into  `lua/toggleterm/terminal.lua` and I found that cmd parameter is overridden with boolean value before it sent to the terminal (line 296) :

[code]

[2022-09-09 07:06] akinsho commented on #308
@Strongleong your example uses this method incorrectly. It does in fact work correctly. In lua in order to call a method you must use the `:` syntax i.e. `term:send('ls -a')` not `term.send('ls -a')` the second example is wrong because the `:` syntax implicitly passes `self` as the first argument. If you change your example to the correct syntax this should work.

[2022-09-09 07:06] #308 closed

[2022-09-09 07:07] akinsho commented on #308
The line you point to is not ovewriting command with a boolean operator. It is essentially a ternary operatory that checks the type of `cmd` and call the function one way or another

[2022-09-09 11:18] akinsho commented on #141
Thanks for raising this, sorry lost sight of this issue. Just reproduced this locally and is definitely a bug but tbh it's not immediately clear what the right behaviour should be, but I guess in keeping with the general logic, if you haven't specified a terminal, and you decide to run `Toggleterm direction=tab` then move to another tab and convert it to a `horizontal` split then only one terminal

[2022-09-10 19:31] sozoalvin opened #310 "disabling ESC in toggleterm's floating window"
hi! tried out toggleterm today and its pretty cool! i would say better than neovim's inbuilt terminal definitely.

I do have a question - im trying to use lazygit together with toggleterm and everytime i hit esc key on lazygit, it just brings me to the `buffer in the background` i.e. the buffer that is there before toggleterm was  opened.

I figured if we can disable the ESC key in toggle term the

[2022-09-10 20:54] akinsho commented on #310
@sozoalvin the code snippet is kind of unreadable, but the issue with the escape key is not an issue with this plugin because it doesn't map the `esc` only the user does that. A common requirement of using the custom floating terminals in this plugin is you have to unmap stuff like `<esc>` yourself. I recommend you create an `on_open` handler function and then unmap any conflicting mappings you ha

[2022-09-10 20:55] #310 closed

[2022-09-11 12:22] sozoalvin commented on #310
thank you for the hint:

i did apply them like this hoping to delete the effects of "Esc"

`local float_term = Terminal:new {
    direction = "float",
    on_open = function()
        vim.api.nvim_del_keymap('n', '<Esc>')
        vim.api.nvim_del_keymap('i', '<Esc>')
    end,
    count = 1,
}`

However, Escape keys still takes the same effect as before. Do you have any idea's what I'm doing wrong?

[2022-09-11 22:13] Strongleong commented on #308
Thank you! Now everything works. But now I realize `on_open` is not what I actually want, so now I have a second question: is there something like `on_init` hook?
I don't want to execute a command every time I open a terminal, only when I open it for the first time

[2022-09-13 08:39] ioreshnikov commented on #141
Oh man, I completely forgot about this! :)

I agree. I remember at the time skimming the code and thinking that this behaviour might be intentional. The use-case I have might be a bit different from what the extension initially intended – instead of multiple terminals I just want to have one.

This sounds good. I will give it a try today.

[2022-09-14 07:35] jdeut commented on #304
I think it is worth noting that 6dcdad0b9815f28b6e6299767edd4fbefa7e5d9a doesn't realize a very dynamic approach of following the current working directory. If the terminal is already open then the directory is only changed upon reopening the terminal.

Perhaps `toggleterm` would benefit from a more dynamic approach. I suggest implementing a suitable autocommand like the following one:

[code]

Be

[2022-09-14 07:48] akinsho commented on #304
@jdeut thanks for the suggestion. I actually opted against such a solution because it felt way too invasive. There isn't really a good way to monitor the state of a terminal, it's just being open is not really a guarantee that now is a good time to try to mess with it. Imagine a user is halfway through a command or doing whatever in their terminal, and they switch directories. Suddenly, toggleterm

[2022-09-14 10:16] ioreshnikov commented on #141
@akinsho I have just tested it and it seems to be working as intended. Thanks!

[2022-09-14 10:36] akinsho commented on #141
Cool, I've just merged this in 👍🏿

[2022-09-14 10:36] #141 closed

[2022-09-14 10:53] ioreshnikov commented on #141
@akinsho I've just discovered a bug:

* open nvim
* call `ToggleTerm tab`
* switch back to the original empty tab
* call `ToggleTerm tab` one more time
* the terminal tab stays there, but you cannot switch to it

[2022-09-14 12:06] jdeut commented on #304
I can understand your reasoning. It really depends on the specific use case and user preferences. However unless the shell implements a proper ipc/jobcontrol to query information about running processes from outside we always have to guess the current state of the shell in any case.

In my case the approach you've mentioned would heavily interfere with my workflow. I use `toggleterm` solely with `

[2022-09-14 17:02] akinsho commented on #141
Will have a look 👍🏿

[2022-09-15 08:19] akinsho commented on #141
@ioreshnikov I cannot reproduce this behaviour, when I follow the steps above it works fine. Althought it's important to clarify that the correct command is `ToggleTerm direction=tab` not `ToggleTerm tab` and the second command definitely doesn't need to have `tab` argument. The correct flow should be:

* `ToggleTerm direction=tab`
* `ToggleTerm`

Can you ensure that you have `hidden` enabled.

[2022-09-15 08:25] ioreshnikov commented on #141
Yes, sorry, I didn't write the proper commands because I have them bound to key combinations I didn't bother to go and properly look up what is executed.

As to why you cannot reproduce it, I think it's just a rendering issue specific to my vim version. I've built it from a nightly some months ago once they've introduced `cmdheight=0` and didn't update it since then.

[2022-09-16 07:11] sozoalvin commented on #310
@akinsho would be lovely if you could lend a hand!

[2022-09-16 07:17] akinsho commented on #310
@sozoalvin I manage a few different projects and have a lot on my plate. I really don't know why you see this behaviour with escape in your config, probably one of the reasons this might be happening is that the keymap you are deleting is in __normal mode__ but keymaps in the terminal are in __terminal__ mode `vim.keymap.del('t', '<esc>')`. @sozoalvin as this is not reproducible in a minimal `init

[2022-09-16 07:39] sozoalvin commented on #310
thank you

[2022-09-16 11:15] xbladesub opened #314 "Jump to last line after TermExec"
If I use for example ```TermExec cmd="cargo test"``` - command executes, but terminal doesn't scroll to the end. Is there any way how I can change this behavior?

[2022-09-16 11:22] akinsho commented on #314
Setting `auto_scroll = true` should do this. If it isn't working then this is a duplicate of #307 so will close this in favour of that. Please feel free to contribute a fix if it turns out it isn't working. I don't have the time atm.

[2022-09-16 11:22] #314 closed

[2022-09-16 11:49] xbladesub opened #315 "Use TermExec with vim.fn.input"
How can I use TermExec with vim.fn.input? I made shortcut for which-key plugin to run TermExec, but I also want to pass some arguments by my choice and confirm execution.

something like ```"<cmd>TermExec cmd='cargo run' .. vim.fn.input('args: ')<CR>"``` doesn't work

<img width="602" alt="Screen Shot 2022-09-16 at 7 44 35 PM" src="https://user-images.githubusercontent.com/45129790/190632508-75e80

[2022-09-16 12:37] akinsho commented on #315
@xbladesub the issue tracker isn't the right place to open issues about how to setup your configuration but rather a place to raise bugs with the plug-in which this is not. You need to change your mapping into a function. The example you are trying isn't valid code

[2022-09-16 12:37] #315 closed

[2022-09-16 15:37] strogonoff opened #316 "Using mouse within toggleterm"
I have verified that:

- My terminal application handles mouse input
- Software I run within the terminal (e.g., lazygit) handles mouse input when run directly in terminal
- Nvim itself handles mouse input

However, if lazygit is run within toggleterm within nvim, it does not seem to handle mouse input. I wonder if it is a configuration option or mouse support is not yet implemented?

[2022-09-16 15:49] xbladesub commented on #315
I figured it out. May would be helpful for someone:

[code]

[2022-09-16 16:12] akinsho commented on #316
@strogonoff how mouse input is handled in the terminal in neovim is well outside the scope of this plugin, which simply opens the native terminal inside of specific window layouts. How the terminal behaves e.g. taking mouse input is not controlled or at all handled by this plugin. I just tested out clicking on lazygit inside neovim in toggleterm's floating window, and this worked fine for me.

Ple

[2022-09-16 16:12] #316 closed

[2022-09-16 16:55] strogonoff commented on #316
As I wrote, neovim and all other stack components handle mouse input just fine—it is only when toggleterm is involved that mouse input is ignored.

However, I have not yet used native terminal in neovim through any other wrapper.

Since this works for you I assume it is either my config or insufficiently fresh neovim/toggleterm version.

[2022-09-16 17:11] akinsho commented on #316
@strogonoff I would suggest running a naked `:terminal` command and then opening `lazygit` and seeing how that behaves this plugin doesn't really is just about opening windows and keeping track of state

[2022-09-16 17:22] strogonoff commented on #316
It indeed does not work under plain `:terminal`. Clearly I was mistaken about my neovim handling mouse input, there may be missing configuration. Thanks for the pointer (both figuratively and literally I guess)!

[2022-09-18 01:30] uloco opened #317 "Terminal:new does not source ~/.zshrc"
Is this by design? Because I am confused that the :ToggleTerminal commands just inherit my ~/.zshrc and Terminal:new does not. I was confused when setting up lazygit as described in your help file, because it would not find my custom config directory.

[2022-09-18 12:54] uloco opened #318 "Use default terminal colors"
The :terminal command uses my default terminal colors, but :ToggleTerm does not. Is there a way to use the defaults directly or do I have to specify the highlights somehow to achieve this?

[2022-09-18 13:04] uloco commented on #318
sorry, was a configuration issue.

[2022-09-18 13:04] #318 closed

[2022-09-18 13:06] akinsho commented on #317
@uloco so this is a bit of a misunderstanding about how this plugin works. It mainly opens a terminal with different types of windows. It does not control or manage how the terminal behaves, this is entirely up to neovim. Regarding using lazygit, presumably you pass the lazygit command directly to this plugin, which in turn passes it to neovim, and it controls what is loaded and what isn't.

When

[2022-09-18 13:06] #317 closed

[2022-09-18 13:11] uloco commented on #317
I have to use the lazygit function within my .zshrc because it takes into consideration what macos theme I have currently and has a different config directory etc. I did not know that there is a difference in opening a new terminal vs :toggleterm, this made things much clearer, thanks. From reading your help pages this was not clear though, because I have invested quite some time yesterday to figu

[2022-09-18 20:16] benwoodward opened #320 "[BUG]: some key combos cause whatever has been typed at the prompt to be deleted"
So far I have found that ctrl-; and shift-space cause this to happen. It does not happen in neovim, or in a regular iTerm shell prompt—_only_ in `toggleterm`.

![CleanShot 2022-09-19 at 06 02 42](https://user-images.githubusercontent.com/1472981/190926338-c01351c4-cf3e-4d7d-896f-4511429f6b2b.gif)

I have triple-checked that these key-mappings don't exist, and even used `nvim_del_key('t', '<c-;>')`

[2022-09-18 21:45] akinsho commented on #307
This should now be fixed by #319 so going to close this out. Please report back if it's not

[2022-09-18 21:45] #307 closed

[2022-09-18 21:53] akinsho commented on #320
@benwoodward so toggleterm does not influence *at all* the way that neovim's builtin terminal works. It also doesn't set any key mappings other than the open mapping. When you say you have verified that this doesn't happen in neovim, did you try opening a terminal the native (non-plugin) way, i.e. `:terminal<CR>`. I just tried this out in neovim and I observe that `<c-;>` does clear the prompt, bu

[2022-09-18 21:54] #320 closed

[2022-09-18 21:58] benwoodward commented on #320
thanks for the lead @akinsho! I will continue investigating

[2022-09-20 10:39] nitaicharan commented on #176
I'd like how to do it @akinsho . I still have a problem with it and i couldn't find a way to solve it.

[2022-09-21 19:24] LamprosPitsillos opened #321 "[Bug] Strange behavior when deleting buffer"
https://user-images.githubusercontent.com/61395246/191591174-fe2e0f4b-2326-4f9e-b0ce-bea6ca905161.mp4

[code]

I use this autocommand to open pdfs from neovim. If the terminal is open while this autocommand runs it takes the whole screen and it makes it impossible to regain control back (i need to trick it to switch buffer then exit the terminal and launch it again..)

[2022-09-23 11:58] uloco opened #322 "toggle opens hidden"
If the first terminal I open in toggleterm is a hidden one with Terminal:new, :1ToggleTerm opens the hidden terminal instead a new one. Is there a way to prevent this?

[2022-09-23 12:14] uloco commented on #322
So the first term is a floating term, if that's helpful...

[2022-09-23 12:21] uloco commented on #322
local status, toggleterm = pcall(require, 'toggleterm')
if (not status) then return end

toggleterm.setup({
  open_mapping = '†', -- Alt-Gr + t
  insert_mappings = true,
  terminal_mappings = true,
  persist_size = false,
})

local Terminal = require('toggleterm.terminal').Terminal
local lazygit  = Terminal:new({ cmd = "source ~/.zshrc; lazygit", hidden = true, direction = 'float' })

[2022-09-23 14:00] uloco commented on #322
I am using `tag = '*'`.
Will try the latest version and report asap.

[2022-09-23 14:02] uloco commented on #322
OK this still happens for me on the latest version too.
It only happens when there is no other terminal open and the first one is the lazygit one.
When I open a normal terminal first it does not happen anymore.

I have set the lazygit terminal to hidden as you can see above. neovims hidden setting is on by default also.

How I reproduce:
* Press keymap for lazygit
* Press again to toggle
* Type `:

[2022-09-23 14:03] uloco commented on #322
It does not happen when I run the keymap with toggleterm (without a number)

[2022-09-23 14:47] akinsho commented on #322
@uloco I can now reproduce it, seems specifically to happen when toggle is used to close the float as opposed to closing the window. Not sure what the difference is, but for my own part I close the float window with a `q` mapping rather than toggling it back closed since I've unmapped mode switching in toggleterm buffers.

I'm going to mark this as low priority and welcome any contributions as the

[2022-09-23 14:55] uloco commented on #322
I'm happy to contribute, but I have no clue where to start :D

[2022-09-23 15:08] akinsho commented on #322
@uloco so probably a good place to start is with

https://github.com/akinsho/toggleterm.nvim/blob/2a787c426ef00cb3488c11b14f5dcf892bbd0bda/lua/toggleterm.lua#L52-L56

This part of the function to handle a command to open a terminal should check if a terminal with the number passed in exists and if so it should return it *unless the terminal is hidden*.

This happens here, the terminal should not b

[2022-09-23 15:11] uloco commented on #322
Ok thanks. I'll have a look when i got time!

[2022-09-25 18:41] MikaelElkiaer commented on #305
Did you figure out what caused it? I am experiencing the same for lazygit and lazydocker, but not for zsh.

[2022-09-29 18:46] jayceekay opened #323 "Error using mapping to toggle terminal"
here's the stack trace:
[code]

here's the minimal config i used: https://github.com/jayceekay/minimal-neovim-init/blob/toggle-term/init.lua

to reproduce: trigger `c-\`

[2022-09-30 07:43] akinsho commented on #323
I'm unable to reproduce this using your minimal configuration. Can you please add additional information about what version of neovim you a re using and on what system etc. This plugin will not support very old versions of neovim i.e. anything before 0.7 is old btw.

[2022-09-30 15:50] jayceekay commented on #323
i forgot to mention i started it using `./start`. tried to keep it self contained but i might have messed something up.

here's `:version`:
[code]
here's `:checkhealth`:
[code]

[2022-09-30 17:52] jayceekay commented on #323
here's a gif of what i'm seeing with a fresh clone/checkout of my test repo:
![toggleterm](https://user-images.githubusercontent.com/1119866/193328114-e04f4ed0-68ca-4a21-b195-4b37b3798e36.gif)

[2022-09-30 18:01] akinsho commented on #323
@jayceekay I genuinely have no idea why this happening. The line that is mentioned in your stack trace is just setting the `winhighlight` for the window. It shouldn't be throwing an error in a recent version of neovim.

https://github.com/akinsho/toggleterm.nvim/blob/2a787c426ef00cb3488c11b14f5dcf892bbd0bda/lua/toggleterm/ui.lua#L123

My guess is that something about your environment is causing th

[2022-09-30 22:19] musjj opened #324 "Compatibility with Git Bash/msys64?"
This is my terminal-related settings:
[code]

Running `:ToggleTerm` spawns the following process:
`C:/msys64/usr/bin/bash.exe --login -i -c "\"C:/msys64/usr/bin/bash.exe;#toggleterm#1\""`

Which results into the following error:
`bash: C:/msys64/usr/bin/bash.exe;#toggleterm#1: No such file or directory`

It seems that the command would work *if* you don't put literal quotes inside the command stri

[2022-09-30 23:34] musjj commented on #324
It seems that setting `vim.opt.shellxquote` to an empty string fixes this issue, but I'm not sure what side effects that might cause.

[2022-10-01 06:06] jayceekay commented on #323
ok. random question then, is there a discord or gitter i can join to maybe find help debugging this?

[2022-10-01 16:23] xbladesub opened #325 "Neovim 0.8+ and neovide - broken floating terminal"
I use neovide as neovim gui, just updated to latest neovim version. Can't run lazygit in floating terminal window - it just freezes my neovide instance some reason. Everything works in alacritty for example. Was fine before update. Not sure that it is 100% toggleterm issue

[2022-10-01 18:07] akinsho commented on #325
@xbladesub This seems like something to raise with neovide rather than here. If things are working correctly in Alacritty as they are in kitty term for me then I don't think this is something that I'd be expected to fix. I don't know how the terminal interacts with GUIs at all. Also, to be honest, the changes in 0.8 to the terminal relate to the library that is used in neovim core toggleterm doesn

[2022-10-01 21:24] akinsho commented on #324
@musjj I'm not a Windows user, so I can't comment on any of the requirements, but I'm aware that there are some hoops that need to be jumped through to make things work in the terminal with certain windows shells and neovim. I must clarify the toggleterm does not directly influence the underlying behaviour of the terminal. It is a UI wrapper that opens windows in a specific way, but how a terminal

[2022-10-01 21:24] #324 closed

[2022-10-01 21:26] akinsho commented on #325
If someone along the chain of debugging feels that this is a toggleterm issue, feel free to re-open it, but it does not sound like one. If running `:terminal<CR>` then running lazygit in neovide results in the same issue then this is definitely not a toggleterm and should be dealt with in that GUI

[2022-10-01 21:26] #325 closed

[2022-10-01 22:48] akinsho commented on #323
@jayceekay there's no discord or gitter it's essentially just me maintaining this plugin. Rather than going through convoluted debugger setups which is not so straightforward for an nvim plugin, I recommend just going into your local copy of the plugin and maybe printing out some of the variable around the line I linked to see what those values are as that might indicate why they are erroring for

[2022-10-02 00:07] xbladesub commented on #325
running lazygit in separate terminal window works fine (I meant only floating lazygit). I already opened issue in in neovide repo. https://github.com/neovide/neovide/issues/1575#issue-1393353687

[2022-10-02 14:31] Paveloom opened #327 "Spaces are not rendered in `lazygit` in floating windows"
Hello there.

The space character in any input field inside `lazygit` is not rendered until any other character is printed (or something else causes the UI to get rendered, like focusing with a mouse). This includes subprocesses, e.g. `nano` while editing a commit message. This happens only in floating windows inside `toggleterm`. I don't see it occurring neither in `:ToggleTerm` nor in the builti

[2022-10-02 16:47] YasserKa commented on #323
I get similar behavior when `direction` isn't `float`

[2022-10-02 19:36] daviddevs23 opened #328 "Depreciation of vim.highlight.create in Neovim 0.8.0"
Hello,

I opened Neovim after upgrading to 0.8.0 and I receive this message. This isn't a real problem right now but could cause issues later on when Neovim 0.9 is released.

`vim.highlight.create is deprecated, use vim.api.nvim_set_hl instead. See :h deprecated
This function will be removed in Nvim version 0.9
stack traceback:
        /usr/share/nvim/runtime/lua/vim/highlight.lua:14: in function

[2022-10-02 19:51] akinsho commented on #328
@daviddevs23 are you on the latest commit of toggleterm I think I removed those functions quite a while ago.

[2022-10-02 20:14] daviddevs23 commented on #328
@akinsho It would appear you are right. Packer was not updating it so I had to do it manually. My apologies for not catching that.

[2022-10-02 20:14] #328 closed

[2022-10-03 07:12] akinsho commented on #323
@YasserKa what I need to fix this is *clear minimal reproduction* that works for me, that it also affects you, is unfortunately not particularly useful information. Presumably, both of your setups are doing something different than mine. Can you both try nvim 0.8 stable and see if this issue still occurs there. I wonder if you are using outdated nvim nightly versions

[2022-10-03 07:16] akinsho commented on #327
@Paveloom I'm not sure what you mean when you say spacing isn't rendering. From what I can see in my local version, this does not seem to be the case in neovim 0.8. FWIW, toggleterm is very unlikely to actually be affecting an internal terminal process in any way. All this plugin does is open windows, it has no concept of what program a user is running, nor does it affect the user's terminal funct

[2022-10-03 07:20] YasserKa commented on #323
`nvim --version`
[code]

The error doesn't occur with the stable version.

[2022-10-03 07:23] akinsho commented on #323
That's good to know, well ultimately nightly is *unstable*, so I don't guarantee things will work with nightly. If things work in stable then that's good enough from my perspective

[2022-10-03 07:24] akinsho commented on #323
If it's confirmed to work in stable I consider this issue closed then as the problem is with some commit in nightly I have no way of knowing where exactly your build came from was it old or new etc. but as long as stable is not affected then that's fine.

[2022-10-03 07:24] #323 closed

[2022-10-03 07:31] Paveloom commented on #327
Here's a [recording](https://asciinema.org/a/dhHifPOXdOESzObQX4jLRztLm) of what I mean. I press Space after each word when typing a name for a new branch. Notice how the space character is not rendered in the floating window, but it is rendered in the full buffer.

Perhaps, that's an issue with floating windows? I'm using the latest Neovim from the `master` branch.

[2022-10-03 08:11] akinsho commented on #327
@Paveloom this could easily be an issue with neovim nightly, I don't intend to follow nightly this release cycle. I don't think the issue you are referring to is related to anything toggleterm is doing because it doesn't operate at this level i.e. handling input or terminal workings, it just opens the terminal and leaves the rest to neovim. I recommend trying this in nvim 0.8 stable and if it is n

[2022-10-03 16:01] Paveloom commented on #327
Aight, I found it. I've been adding the buffer-local <kbd>Space+l</kbd> keybinding after the buffer opens, so, naturally, Neovim was waiting for the next key before rendering the space. Fixed by changing to a different keybinding which does not contain <kbd>Space</kbd>.

[2022-10-03 16:55] jayceekay commented on #323
yeah sorry, last night i decided to uninstall and reinstall neovim and the error went away. thanks everyone!

[2022-10-05 10:44] nwaywood commented on #305
@MikaelElkiaer no I never got to the bottom of the issue sorry.

It was getting too difficult maintaining my own config so I switched to LunarVim. The issue isn't present in LunarVim

[2022-10-08 14:55] jedrzejboczar commented on #219
A random note: it just came to me that the solution would be to use a custom URI scheme for toggleterm terminals. So toggleterm buffers could use `toggleterm://{id}:cmd` or something similar to [neovim terminal emulator](https://neovim.io/doc/user/nvim_terminal_emulator.html#terminal_emulator.txt) which uses `term://{cwd}//{pid}:{cmd}`. And in `BufReadCmd` the URI would be parsed and a terminal jo

[2022-10-13 18:06] ofseed opened #329 "[Feature Request] [Winbar] Better mouse interaction"
If I click a #2 in a winbar like this
![image](https://user-images.githubusercontent.com/61115159/195673699-c505c89f-a18d-4955-b551-8a805fc3d9a4.png)
it will open #2 split like this
![image](https://user-images.githubusercontent.com/61115159/195673828-d63db9f5-158a-4d1b-b2ba-e3815eff0897.png)
But I think maybe in most situations, I just want #2 to replace #1 like this
![image](https://user-images.

[2022-10-13 19:00] JonMontgo opened #330 "[Bug] Use of Deprecated vim.highlight.create"
It seems `vim.highlight.create` has been deprecated in Neovim 0.9 and instead `vim.api.nvim_set_hl` should be used

Currently I am getting the below deprecation notice
[code]

[2022-10-13 20:03] akinsho commented on #330
This issue is a duplicate of another issue that was raised claiming the same problem, but it turned out that the user had failed to update the plugin to the latest version. The code that they are referenced had since been removed. The plugin doesn't currently use the API you're talking about

[2022-10-14 03:38] gkzhb commented on #330
I got the same problem here. And I found I had been using v1.* version of this plugin.

After using `*` tag for this plugin according to the latest README, the problem disappeared.

[2022-10-14 07:37] #330 closed

[2022-10-14 07:39] akinsho commented on #329
@ofseed I'd be happy to take a PR that allowed customising the functions used when clicking the winbar. The main issue is that there is currently no function in toggleterm that allows you to replace the current window terminal so that would need to be created

[2022-10-14 18:30] willocho commented on #286
I was also just running into this issue. That commit works for me, thanks for fixing it!

[2022-10-19 06:53] superfive666 opened #331 "`vim.highlight.create` is deprecated"
vim.highlight.create is deprecated, use vim.api.nvim_set_hl instead. See :h deprecated
This function will be removed in Nvim version 0.9
stack traceback:
        ...ar/neovim/0.8.0/share/nvim/runtime/lua/vim/highlight.lua:14: in function 'create'
        ...k/packer/start/toggleterm.nvim/lua/toggleterm/colors.lua:99: in function 'set_highlights'
        ...ite/pack/packer/start/toggleterm.nvim/lua

[2022-10-19 07:05] akinsho commented on #331
Please update your version of toggleterm I'm getting this issue almost weekly now but people aren't checking their toggleterm version before reporting this. This change was made a long time ago so your version must be quite old.

[2022-10-19 07:05] #331 closed

[2022-10-19 07:10] superfive666 commented on #331
@akinsho Oh, ok, thanks for the update, let me double check on my end :)

[2022-10-19 07:14] superfive666 commented on #331
got it working now with update to:
`tag = "*"`

[2022-10-20 07:41] akinsho commented on #219
@jedrzejboczar the skin used by the neovim terminal is actually not under my control. It's chosen on purpose and is used by neovim to restore terminals when you reload a session so I can't actually change its structure which is why I currently just append a comment to the name of the terminal which includes the toggle term ID

[2022-10-20 07:45] Dawn-K commented on #304
@jdeut

[2022-10-20 16:21] jedrzejboczar commented on #219
@akinsho Sure, I know that the current `term://` is the default and neovim restores the terminals. My suggestion was that it should be possible to instead use `toggleterm://` - in such case when neovim restores session it would first create a buffer with the same name as the saved buffer without creating a terminal, but there would be an autocmd on the pattern `toggleterm://*` (defined by this plu

[2022-10-20 21:48] axieax opened #332 "Better way of naming terminals"
Is it possible to do something like this to name terminals:

[code]

I'm aware of `:ToggleTermSetName` but it seems like a lot of extra code + could not get it working without the vim.ui.input prompt, passing in count.

Also, another question: is it possible to configure `close_on_exit` to be true if exit status is 0, and false otherwise? Would be great for catching errors.

[2022-10-22 23:46] Senpai-10 opened #333 "toggleterm colorsceme"
Hi im trying a nvim gui [nvim-qt](https://github.com/equalsraf/neovim-qt)
and i have noticed that because im not running nvim in a terminal
toggleterm don't have a good colors is there any way to fix this?

# toggleterm in nvim

![](https://i.imgur.com/vBK6Huc.png)

# toggleterm nvim-qt

![](https://i.imgur.com/LQVKLfu.png)

[2022-10-24 08:27] akinsho commented on #333
@Senpai-10 I don't run neovim in a GUI, so I don't know why that behaves as you show above, but perhaps someone on Reddit or the nvim discourse can help. In either case, I don't think this is a bug with this plugin as it works as expected in the terminal.

[2022-10-24 23:58] tlelson opened #334 "Feature Request: Repeat Last Command"
I often want to repeat a command a couple of times as I navigate around a file editing it.  For example `go test -run TestSomeTest`.

Something like this:

[code]

I would just add this command to my own configuration but I need to save a set of lines within the module for later access.

If others would find this useful I'd be happy to submit [this commit ](https://github.com/akinsho/toggleterm.nv

[2022-10-25 22:29] tlelson commented on #334
Perhaps a more general solution to implement an optional `on_stdin` function in the configuration would allow for this and other customization in a more standardized way?

[2022-10-26 21:59] akinsho commented on #334
@tlelson under the hood toggleterm uses the `termopen` function, which has the same args as `:help jobstart`. If you read through the arguments that that takes, you will find that there is no `on_stdin` option for the terminal in neovim. I don't mind the idea, but there isn't really a robust mechanism for keeping track of what the "last command" was. You could hook into things where a user specifi

[2022-10-27 11:03] xiantang commented on #304
for nerdtree can use this config

[code]

[2022-10-27 11:06] xiantang commented on #97
for nerdtree

[code]

[2022-11-01 12:28] xyegithub opened #336 "Can't unbound the shortcut <c-h>"
In my linux, the shortcut `<c-h>` is used in the fish shell command line.  Thus, I do not want to use `<c-h>` in `toggleterm`. However, even I only set `open_mapping = [[<c-\>]]`. `<c-h>` is used by `toggleterm` and is not used by my fish shell command line.

[2022-11-01 17:48] akinsho commented on #336
@xyegithub toggleterm does not bind control-h. That key might mean something different in the terminals than you expect, but in either case this issue does not come from this plugin as this plugin doesn't do anything with that key

[2022-11-01 17:48] #336 closed

[2022-11-03 09:21] diegoulloao opened #338 "[Bug] ;2u appears when I accidentally type shift + space"
This appears when I'm typing fast and I press shift + space instead of only space:

![Screenshot 3](https://user-images.githubusercontent.com/45423661/199684084-504599aa-73f1-4d05-8e44-ae0c45722327.png)

It's really annoying have to go back and erase it

[code]

`toggleterm latest version`

Config:
[code]

[2022-11-03 11:46] akinsho commented on #338
@diegoulloao toggle term doesn't *at all* control what is rendered in the terminal. That is all handled by neovim. Nothing that appears or doesn't appear when you type is actually the responsibility of this plugin. I think if this is an issue it is best directed to nvim core unless you can show that this does not happen in any other floating or normal terminal except in toggleterm

[2022-11-03 11:46] #338 closed

[2022-11-03 20:13] trev-dev commented on #211
I bound the following local function to a normal map binding:

[code]

Works well

[2022-11-04 05:36] diegoulloao commented on #338
OK I'll check it in my weekend.
Thanks for the quick response, I'll keep you updated on this.

[2022-11-07 01:34] tlelson commented on #334
@akinsho Thanks for the background.  That all makes sense.  I realized that the simplest solution for this is a mapping to `TermExec cmd='!!'`.

I will still look into the idea of an input preprocessor somewhere because I think it makes sense as a feature and I specifically need to be able to skip empty lines.

The reason for this is that I like to send multi-line input to repl's.  The following p

[2022-11-07 09:39] akinsho commented on #219
I think terminals have to follow neovim's native format, changing their names seems like it would cause a bunch of bugs or issues I'd definitely rather stay away from messing with something that has significance internally and could lead to unpredictable weirdness

[2022-11-08 16:08] PiyushDuggal-source opened #340 "After closing terminal and opening after 2-3 mins, the content and the session is getting lost"

[2022-11-09 10:30] akinsho commented on #340
This issue doesn't really contain much information, a minimal config or steps to reproduce. So closing it out

[2022-11-09 10:30] #340 closed

[2022-11-09 12:26] tykoon787 opened #341 "Oh My Posh Theme not showing on toggle term"
Whenever I spawn a terminal instance inside nvim, the terminal does not show up with my custom bash theme. I have, however, seen quite a number of other users using toggle term with their custom themes. I don't know why I it doesn't work.

**My Normal terminal**
![image](https://user-images.githubusercontent.com/85307460/200829845-1bfce13c-ca06-4745-848e-ed37677a33c9.png)

**My toogle term**
![ima

[2022-11-10 16:57] Supreeeme opened #342 "Add API reference to docs"
The docs say:

However, to me it's not really clear everything that is part of the public API. For example, there are functions that take a Terminal object, but it's not immediately obvious what fields of a Terminal can be accessed.
From briefly glancing at the code (to figure out what fields Terminals have) it's already pretty well commented. I don't mind throwing up a PR for this myself, I was j

[2022-11-11 14:05] ksk0 opened #343 "[Feature] row and col option as function"
I'm using floating terminal window, with dynamically defined size accounting for cmdline height with config:

[code]
While this, defines window of appropriate size, it's placement is in the center of screen according to formula:
[code]
resulting with  command line area overlapping the floating window. Correct row value should be:
[code]
modifying config as:
[code]
does not yield  result since `tog

[2022-11-11 14:44] Paveloom commented on #211
So, after poking around with the source code of the plugin for quite a while, I found out that the easiest way to change the current directory for the terminal is... just do it directly in your `toggle` function:

[code]

Here are some nuances of this solution:
1) You need something to change the current working directory for you (e.g., `nvim-rooter.lua`).
2) In case of Lazygit, this will only wor

[2022-11-12 10:36] troflog opened #344 "Toggleterm do not load"
I have installed toggleterm with:

use {"akinsho/toggleterm.nvim", tag = '*', config = function()
          require("toggleterm").setup()
end}

but it does not work. I have to run the command: lua equire("toggleterm").setup() everytime I start neovim. I tought that this allready is done in the config thing.

[2022-11-14 02:34] MikePresman opened #345 "[Question] How do I remap hjkl for LazyGit"
I'm trying to use LazyGit `:lua _LAZYGIT_TOGGLE()` but the hjkl keys are horribly slow and the arrow keys albeit work as expected in terms of response speed just doesn't cut it for my workflow.
I assume this has been solved already considering how popular ToggleTerm + LazyGit is, so if anyone could explain this it'd be appreciated.

[2022-11-15 06:27] kuang22 opened #346 "How to change the directory of Custom Terminal when changing working project"
### Problem Description
I have custom terminal defined like this:
[code]
And I mapping this function call "lua _BOTTOM_TOGGLE()" to some key, e.g., <\\-b>
When I enter nvim, and open my first project (let's say ProA), then press <\\-b> to call out this bottom terminal. So far, it works well.
However, when I need to work on another project temporarily, I search another project (let's say ProB) with

[2022-11-16 16:58] akinsho commented on #342
@Supreeeme in general, any function prefixed with `__` is private. I don't mind a PR exposing this, but I haven't done it yet because generally I'd rather avoid having to maintain yet more documentation. The large majority of function other than `toggle` aren't really necessary for most users.

[2022-11-16 17:00] akinsho commented on #341
@tykoon787 this likely relates to which shell neovim is running. This isn't something that this plugin is setting or interacting with but rather an issue you need to sort out with your neovim config in general as this is almost certainly the case with the native terminal i.e. `:terminal` and not caused by this plugin

[2022-11-16 17:00] #341 closed

[2022-11-16 17:02] akinsho commented on #344
@troflog apologies for the late reply, unfortunately I really don't have the bandwidth to deal with anything other than bugs breaking functionality or super valuable feature requests. This plugin definitely does work/can be loaded, so this is very likely a configuration issue on your end.

[2022-11-16 17:02] #344 closed

[2022-11-16 17:04] akinsho commented on #343
@ksk0 I'd take a PR to add this functionality, but please ensure before raising it that `_resolve_size` is a general enough solution to use 🙏🏿

[2022-11-16 17:17] akinsho commented on #343
@ksk0 I think something like
[code]
would be better

[2022-11-18 19:51] piersolenski commented on #334
Is there a way to stop the current process running first when running `TermExec cmd='!!'`?

[2022-11-19 12:01] akinsho commented on #334
I'm going to close this issue out as there's no clear and easy way to implement this. If anyone has a suggestion please raise a PR. As for tips on how to achieve this feel free to post comments but I won't be involved as I don't have any of these answers (I don't automate running the last command, I just do that in the shell)

[2022-11-19 12:01] #334 closed

[2022-11-19 19:14] ryuheechul commented on #63
I first encountered the issue when I started using https://github.com/voldikss/vim-floaterm.

I thought it could be a performance issue with `vim-floaterm` (or neovim) and now I know it is not (from those) and it's because of `jk` mapping (and it was mapped for all terminal not just for `toggleterm` as I copied and pasted the configuration from the readme).

I understand this is a tricky to figure

[2022-11-19 22:14] diegoulloao opened #348 "toggle 2 terminals individually with different keymap"
I have 2 terminals, the default one, which I trigger with Ctrl+t, and a second one which I open programmatically in order to open spotify tui, a spotify terminal client.

I have the following code:
[code]

key mappings:
[code]

but when I open the spotify terminal the first time with Ctrl+y and I try to toggle/hide it, it not works.

I want to toggle the default one by pressing Ctrl+t and the spot

[2022-11-20 02:30] HUAHUAI23 opened #349 "how do i get all opened term id and kill the specified term running in the background ?"

[2022-11-20 04:09] chiahsoon commented on #193
hey @ravenxrz, did u manage to find a fix for this?

[2022-11-23 15:47] minego opened #350 "Error displayed with :ToggleTerm - E716: Key not present in Dictionary: "t""
If I start neovim, and then run `:ToggleTerm` it displays `E716: Key not present in Dictionary: "t"`

It only happens the first time opening a terminal after starting.

[2022-11-25 11:33] RomanoZumbe opened #352 "Cancel long running process"
I have a long running process which directly responds to changes in my code. I want to start it in toggleterm to see the results without switching to another terminal window. Unfortunately the only way to stop that process is by pressing <C-c> (in Powershell). Is there any way to cancel that process from the toggleterm window? <C-c> is just passed to nvim, which inform me about saving and using :q

[2022-11-26 10:29] akinsho commented on #349
Please feel free to have a read through the code to figure this out

[2022-11-26 10:29] #349 closed

[2022-11-26 10:47] HUAHUAI23 commented on #349
haha.., this is a good suggestion

[2022-11-26 11:24] RomanoZumbe commented on #352
I noticed that the process ID is displayed on the bottom of the window. So I just used that to Stop the process. Does the plugin somehow expose the process ID so that I can map a keybinding to that operation?

[2022-11-28 08:08] tykoon787 commented on #341
@akinsho
True True.
Changed the shell I was running from `bash` to `tmux`. Works okay.

[2022-11-28 14:13] jtr109 opened #353 "Fix Powershell support command in lua"
I followed the Wiki, [Using Toggleterm with Powershell](https://github.com/akinsho/toggleterm.nvim/wiki/Tips-and-Tricks#using-toggleterm-with-powershell), to set the terminal in NeoVim into Powershell but failed. The error message showed the "pwsh" is used. But what I need is "powershell".

<img width="958" alt="image" src="https://user-images.githubusercontent.com/13946679/204296374-a8a9cfef-eb9e

[2022-11-28 18:05] akinsho commented on #348
I'm closing out all question issues as I personally don't have time to debug personal use case issues/problems. Please try to debug things if you can, or seek help on Reddit.

[2022-11-28 18:05] #348 closed

[2022-11-28 18:10] #353 closed

[2022-11-29 14:05] ggteixeira opened #354 "When I open ToggleTerm, it shows "zbzbzbzb""
After updating LunarVim, when I open ToggleTerm it shows the string below. Could it possibly be a ToggleTerm bug?

![image](https://user-images.githubusercontent.com/24235344/204549856-0870a688-bc63-4a76-acfc-e03d986ebf65.png)

[2022-11-29 16:54] akinsho commented on #354
I haven't made any changes to toggleterm in several weeks and no one else has reported this nor is it something I'm seeing personally so I think it's quite unlikely to be coming from this plugin. If you are able to reproduce this with a minimal init.lua and can definitely show it's coming from toggleterm you can post here but otherwise I'm going to close this out

[2022-11-29 16:54] #354 closed

[2022-11-29 17:39] MikePresman commented on #345
I resolved the issue. It gets fixed here -> https://github.com/MikePresman/dotfiles/commit/e78c2292a79bdad158556858f384a3e5a8fdc0be#diff-626b9e62906156d37a3b7ffc138c271a3c58ae93985e2145be73fc403c0b3620