[2020-11-08 17:02] ten3roberts opened #2 "Allow the user to customize terminal size"
Currently, the terminal size is hardcoded in [plugin/toggleterm.vim](https://github.com/akinsho/nvim-toggleterm.lua/blob/master/plugin/toggleterm.vim) and [plugin/toggleterm.vim](https://github.com/akinsho/nvim-toggleterm.lua/blob/master/lua/toggleterm.lua) to 12 rows in the call to exec().

A variable like g:toggleterm_size could easily be created and allow the user to set their preference by fee

[2020-11-09 15:36] akinsho commented on #2
hey @ten3roberts yeah this is a hangover from me pulling this out of my dotfiles. Technically the exposed functions all take a `size` argument so you can map this to whatever you want. I'm going to have a look at refactoring this so all user preferences go into the setup call which I will externalise like

[code]

Regarding changing the way it opens, yep that will be a bit more work.

[2020-11-09 19:04] akinsho commented on #2
@ten3roberts I've done a bit of a refactor to allow setting user preferences in the `setup` call which I've now made mandatory to initialize the plugin as a way to take a user's preferences. you can also set the split direction but the stacking remains

[2020-11-10 18:02] ten3roberts commented on #2
Awesome. The new way is much, much better and keeps the lua-ness of the plugin with the setup.

I edited my nvim dotfiles and it is all working with a vertical 60 wide terminal without any bugs (splitting several and toggling works like a charm).

[2020-11-11 08:44] #2 closed

[2020-12-13 04:53] xaljer opened #4 "Can I specify the path where terminal open from?"
Like open term from directory/git root/project root of current file?

[2020-12-13 17:02] akinsho commented on #4
@xaljer currently you can't, I use this plugin by opening vim in the project dir so all terminals open with vim's `cwd` which is my project dir. If I need to move to a specific dir in a terminal I cd in that terminal. I *personally* don't think I would use/need to open a terminal at a directory that wasn't the main one I was working in, so not personally keen on implementing this.

It is a reasona

[2020-12-16 16:12] xaljer commented on #4
my usage is that working in Android repo which contains many git repository. so i need to switch between various git.

[2020-12-18 12:16] akinsho commented on #4
@xaljer I think it sounds like a reasonable addition, I just haven't got time to do this atm but will accept a PR otherwise I might look into in the future

[2021-02-10 22:00] FabioRamatis opened #7 "How can I start terminal on Insert mode"
I tried this autocmd

[code]
But It only enters insert mode on the first opening, when I toggle down and toggle up again, it starts on normal mode

https://asciinema.org/a/AOjS5IuzDJE4sk8KSQcE183TP

[2021-02-11 09:23] akinsho commented on #7
@FabioRamatis you can setup autocommands in your `init.vim` or `init.lua` like
[code]
This will automatically put you in insert mode on entering a terminal buffer

[2021-02-11 13:20] FabioRamatis commented on #7
Thank you! It worked

[2021-02-11 13:20] #7 closed

[2021-02-11 13:31] akinsho commented on #7
@FabioRamatis I actually just added  this as feature to toggle term i.e. so without that setting it should now start in insert mode automatically

[2021-02-11 13:32] FabioRamatis commented on #7
Awesome! thank you very much

[2021-02-15 08:24] urandom opened #8 "shade_terminal isn't useful for light themes"
It produces a very low-contrast terminal that's very hard to see. A better approach might be to darken the terminal if the user uses a light theme instead.

[2021-02-15 09:45] akinsho commented on #8
@urandom thanks for raising this 👍🏿 can you share a screen shot +/- the color scheme name since I'm not sure what it looks like, light themes is a bit of a best effort since I never really use one other than the one that is part of `vim-one` once in a blue moon and that works fine with toggle term so that's what I based the light behaviour off of

[2021-02-15 11:55] urandom commented on #8
@akinsho
Here's a link to a screenshot
https://imgur.com/cmyC84z

As you can see, the contrast is less than ideal. I assume the shade function reduces the lightness of the colors, which might be a wrong choice for light backgrounds, since the fonts are darker. A better result might be to increase the lightness instead.

I'm currently using the edge color scheme.

[2021-02-15 12:04] akinsho commented on #8
Hmm I'll have a play around to see what might work, I think increasing the lightness might amp up the brightness in an undesirable way. It might better instead to darken things even further for bright colorschemes so the contrast is greater

[2021-02-16 17:00] akinsho commented on #8
Going to close this now @urandom if the solution is workable for you

[2021-02-16 17:20] #8 closed

[2021-02-25 11:09] Chaitanyabsprip opened #10 "Terminal opening blocking on ToggleTerm"
In my experience so far, the `:ToggleTerm` command is really very slow.
It takes about 3-4 seconds to spawn the terminal in a split.
I believe making the process asynchronous would help a bit.

[2021-02-25 12:01] akinsho commented on #10
@Chaitanyabsprip that definitely sounds like something specific might be going on in your setup. To be clear all this plugin does when opening a terminal is use the existing nvim function `:h termopen()`. I don't think this needs to be made asynchronous since it's all already handled directly in `neovim`. When running `:ToggleTerm` it opens essentially instantaneously on my machine.

Can you do a

[2021-02-25 12:06] akinsho commented on #10
Also just to be clear when you say it takes 3-4 seconds to spawn the terminal do you mean that the window takes 3-4 seconds to open or that your terminal prompt takes 3-4 seconds to appear.

Also just to add to the things to test out. Can you try running `:call termopen('<your-shell-here>')` e.g. `termopen('zsh')`

[2021-03-01 12:30] akinsho commented on #10
@Chaitanyabsprip is this still an issue for you?

[2021-03-02 10:05] akinsho commented on #10
Gonna give this a couple more day then close this out since I don't have anymore information and can't reproduce the issues described here

[2021-03-02 10:50] Chaitanyabsprip commented on #10
## Version
Neovim:
[code]
OS: Arch Linux
`git log`:
[code]

[2021-03-02 10:57] Chaitanyabsprip commented on #10
It takes simlar amount of time with minimum config.

[2021-03-02 11:02] akinsho commented on #10
@Chaitanyabsprip can you try this

and clarify

[2021-03-02 11:06] Chaitanyabsprip commented on #10
calling the function directly was responsive enough. and the delay is in the gui I think, because as soon as the gui loads the terminal is already open

[2021-03-02 11:12] akinsho commented on #10
How long does this actually take @Chaitanyabsprip ? if you run `:new | term` how does that perform?

[2021-03-02 11:15] Chaitanyabsprip commented on #10
running `:new | term` takes about no time to open the gui and about half a sec more to launch the shell

[2021-03-02 11:29] akinsho commented on #10
@Chaitanyabsprip I think this is likely to related to something in your environment or an interaction with this plugin and something in your environment either something about the setup of windows, the current `$SHELL` value or something. Primarily because I cannot reproduce this on a minimal vimrc using on 2 different machines (with full and minimal configs), an no one else has reported any simil

[2021-03-02 11:54] Chaitanyabsprip commented on #10
I had tried the above snippet only, and what I just now noticed was after I do `:ToggleTerm` and immendiately press any other key, the gui is drawn instantly and then the terminal shell follows. I believe the gui is waiting for the shell to completely initialise before drawing

[2021-03-02 13:33] akinsho commented on #10
@Chaitanyabsprip what shell are you using? one potential cause could be that there is something blocking in the startup of your terminal that is causing vim/or the new shell to pause and wait for input. Can you try running `:call termopen('bash')` or some other shell that isn't the one you regularly use so we see what it does when it isn't running your `.{zsh|bash}rc` file

[2021-03-02 17:55] Chaitanyabsprip commented on #10
I am currently using fish, and setting the `set shell` parameter to different shell does not change the behaviour. Also the `:call termopen('shell_name')` is very responsive for all shells, I tried these for fish, bash and zsh

[2021-03-02 18:06] akinsho commented on #10
@Chaitanyabsprip what you've described seems to indicate that somehow the terminal is hitting a wait for enter prompt situation where some error message causes something to block and wait for user input.
This is essentially how toggle term opens a terminal.

[code]

I think somehow this command is causing an error that is blocking for you.
Can you try `:lua vim.fn.termopen(vim.o.shell .. ";#toggle

[2021-03-02 18:53] Chaitanyabsprip commented on #10
it started the terminal very promptly and it was faster than `:call termopen('')`. However, it caused the "neovim" size to decrease on the terminal emulator.

[2021-03-02 18:56] Chaitanyabsprip commented on #10
![Screenshot:2021-03-03](https://user-images.githubusercontent.com/55058351/109699715-e8818a00-7bb6-11eb-83c0-0f621c318121.png)

This is how it ends up

[2021-03-02 19:36] akinsho commented on #10
The resizing is strange but not sure if it's relevant. On calling `termopen` for me just replaces the current buffer rather than resizing the window, maybe you have terminal autocommands which are triggering or something that affects window height. I can't tell from the version snippet you posted earlier are you on `nvim` nightly the snippet doesn't actually show that.

Tbh I can't really debug th

[2021-03-02 19:44] akinsho commented on #10
Can you send a screen grab of the bug in action?

[2021-03-14 22:56] oscarprabhakar opened #12 "Pass current file name to TermExec"
Is there. a way to pass the path of the current buffer (%) to the TermExec function like you can with the :terminal command?

[2021-03-14 22:58] akinsho commented on #12
@oscarprabhakar when you say pass the path do you mean set the path of the terminal to that of the current buffer? in which case I'm working on that in #11 if not then can you clarify what you mean

[2021-03-14 23:20] oscarprabhakar commented on #12
No. I mean I would like to execute a shell command on the current file for which I would need the relative path of the file in the current buffer.

I could of course use toggleterm to open a new terminal and enter the command there and switch back, but it would be cool to do it in one command using the % register like so:

For e.g. to run unit tests in the current file I would like to run `:TermEx

[2021-03-14 23:38] akinsho commented on #12
hmm I think you can do this on the commandline in vim without it needed to be built into the plugin tbh something like `TermExec 'mocha '.expand('%').' -watch'`. I think this is much easier to do directly via the command line rather than adding extra parsing to the command.

[2021-03-15 16:34] oscarprabhakar commented on #12
Alright. I guess I could easily put this into a mapping. I just thought there might have been an easier way to integrate this in the plugin as I see it supported in other plugins. I'm not familiar with Vim script or Lua or I would have offered to make a PR. Thanks for checking though :-)

[2021-03-15 16:34] #12 closed

[2021-03-15 16:43] akinsho commented on #12
@oscarprabhakar I'd accept a PR that implemented this but, it would involve having to add logic to parse each term exec command looking for a `%` surrounded by spaces and tbh not sure which other commands for what languages might end up breaking because of that. It wouldn't be as trivial for me or anyone implementing this as just adding a mapping.

[2021-03-15 16:59] oscarprabhakar commented on #12
Yeah, I totally understand. Out of curiosity I checked the  vim-floaterm plugin I mentioned earlier. It does indeed look like there is special handling of command line parameters, and it goes beyond the % register. See [here](https://github.com/voldikss/vim-floaterm/blob/master/autoload/floaterm/cmdline.vim#L51)

I have closed the issue. Thanks for your time.

[2021-03-23 13:18] akinsho opened #14 "Screenshots"
![exec](https://user-images.githubusercontent.com/22454918/112119367-36d1e980-8bb5-11eb-9787-5936391127a3.gif)

[2021-03-23 13:18] #14 closed

[2021-03-23 13:21] #4 closed

[2021-03-23 20:19] goolord opened #15 "disable insert mode ToggleTerm keybinding"
would you be open to making the insert mode mapping configurable? https://github.com/akinsho/nvim-toggleterm.lua/blob/master/lua/toggleterm.lua#L264

I basically never want to make insert mode keybinds

[2021-03-23 20:23] akinsho commented on #15
Should be pretty easy to add a configuration option for it, like `insert_mappings = true` by default and then you can wrap that block with a check to see what a user has set. I'm not gonna be able to get to it for a little while but it's a pretty small PR if you want to have a go at adding it.

[2021-03-23 20:59] #15 closed

[2021-03-31 22:44] hahuang65 opened #17 "Question: Change direction dynamically?"
Is there a way for me to toggle a terminal, and then want to toggle another terminal, but in a different direction/orientation? It looks like right now, the direction is just hard-coded into the setup.

[2021-04-01 08:26] akinsho commented on #17
@hahuang65 no, you currently can't dynamically swap terminal orientation. I didn't actually add the vertical orientation that was another user. I don't really know what that'd be useful for tbh, anyway my approach with this plugin is if someone has an idea for a feature that they want to add that isn't too complex or different from the stated goals of the project I'm happy to take a look.

From my

[2021-04-03 02:31] hahuang65 commented on #17
Thanks for the hard work so far! I'd love to see if I can make a PR but feel free to close this ticket if you want. I can always make a new PR ticket when I get around to it, if I get around to it.

[2021-04-03 15:40] carlitux opened #18 "Exit insert mode from terminal"
How can we exit the insert mode when in terminal?

[2021-04-03 15:44] akinsho commented on #17
@hahuang65 👍🏿 I'll keep this open for a little while in case you or someone else gets to it and close it eventually if no one does

[2021-04-03 15:46] akinsho commented on #18
@carlitux do you mean in neovim's terminal in general? that's documented under `:h terminal-input` but the TLDR is `<C-\><C-N>` I as well as most people have that remapped to something nicer but I didn't include stuff like that in this plugin since that's definitely a thing of personal preference

[2021-04-09 11:03] akinsho commented on #18
@carlitux can I close this? is this still an issue you have? I might add some extra options to this plugin soon to add some of the mappings I have locally to this plugin for example automatically binding `<Esc>` in terminal mode etc.

[2021-04-09 11:11] akinsho opened #19 "Add option to hide numbers"
Locally I've removed the display of numbers from the terminal buffer since I don't think terminal's need that. The actually aren't visible in vim 8+'s terminal. I thought it might add this as a configurable option so other users can have it. I'll implement this in the coming weeks but if anyone has an opinion of why it shouldn't be the default please post here

[2021-04-09 14:53] carlitux commented on #18
Yes, closing this I am using another toggle keymap and keep default exit mode

[2021-04-09 14:53] #18 closed

[2021-04-10 02:00] niceloaf opened #20 "Ability to open a terminal in a separate buffer"
Is there a way you could open the terminal buffer in a separate buffer instead of a split?

[2021-04-10 11:46] akinsho commented on #20
@niceloaf do you mean a full window? since when the terminal is open it already creates a buffer. The buffer is just the file contents or in this case the shell. the window is what is what contains the content. In the case of toggle term, it creates a split window, so I'm guessing what youre asking is if it can be a full window not a split.

In which case basically no currently that isn't supporte

[2021-04-13 21:17] akinsho commented on #14
![toggleterm_window](https://user-images.githubusercontent.com/22454918/114622544-00642780-9ca6-11eb-950f-fef95f9a49af.gif)

[2021-04-13 21:25] akinsho commented on #20
@niceloaf this plugin now offers a new `direction` which is `window` which will allow for creating a full window terminal. Fixed by #21

[2021-04-13 21:25] #20 closed

[2021-04-13 21:27] akinsho commented on #10
@Chaitanyabsprip I'm going to close this as I've never been able to reproduce it myself and don't have any information I could use to debug, if it's still happening for you and you are still using this plugin let me know and I can see if there's something else to try

[2021-04-13 21:27] #10 closed

[2021-04-14 20:16] zetashift opened #22 "Open mappings only in normal mode?"
Is there a way to toggle the terminal only when in normal mode, using the provided `open_mapping` settings? Or can this only be done using the manual way? I'm new to neovim (and lua), so apologies in advance if this is a dumb question.

This is what I'd like:

In normal mode \` will toggle a terminal and in insert I'd have it mapped to Ctrl + \` .

PS:I tried a different mapping as an experimentat

[2021-04-15 07:48] akinsho commented on #22
@zetashift I think I understand what you want, in which case you can remove the insert mode mappings using `insert_mappings = false` and add an `inoremap` mapping to trigger toggle term like
`inoremap <c-b> <cmd>ToggleTerm`. Regarding the using a leader mapping that should work fine. Can you paste the out put of running `:verbose map <leader>ot`. The plugin basically passes the lhs you specify dir

[2021-04-15 12:38] zetashift commented on #22
Hiya! Thanks `insert_mappings` was indeed what I was looking for.

`:verbose map <leader>ot` gives me: `No mapping found`

My setup function being

[code]

[2021-04-15 12:49] akinsho commented on #22
Hmm can you try another mapping maybe using the key directly instead of `<leader>` or just another key just to see what it does

[2021-04-15 12:52] zetashift commented on #22
Well currently I use ` (backtick) key and that works fine.

[2021-04-16 09:21] akinsho commented on #22
@zetashift I've just tried it using your leader mapping and that works fine for me. Could anything else be conflicting this or is `<leader>` set before this function is run? Does it work if you use `\ot` or `,ot` or whatever your leader value is

[2021-04-16 13:15] bscuron19 opened #24 "Error on Terminal Toggle"
I keep getting this error when I toggle the terminal:

<img width="1107" alt="Screen Shot 2021-04-16 at 9 13 59 AM" src="https://user-images.githubusercontent.com/29784485/115029548-15061280-9e94-11eb-85c1-0e045707c96c.png">

Here is my mapping in my init.vim:

<img width="356" alt="Screen Shot 2021-04-16 at 9 14 39 AM" src="https://user-images.githubusercontent.com/29784485/115029633-2cdd9680-9e9

[2021-04-16 13:26] akinsho commented on #24
@bscuron19 thanks for trying out the plugin. There are a few bits missing from this report I  need in order to help you out. The screenshot you show only includes part of the message so I can't exactly seen what's going on. Also are you on `nvim nightly`? what version of this plugin are you using? latest commit?

Regarding you mapping tbh you should really need to map togglerm like that since you

[2021-04-16 13:32] bscuron19 commented on #24
Nvim version:
NVIM v0.5.0-dev+0ab88c2ea

I am using Vim-Plug as my plugin manager and I ran :PlugUpdate so I am on the latest commit

I will look into the open mapping that you suggested

To get the full error message, do you have a recommendation on how to do that? When I run the ToggleTerm command that is the only message I see.

[2021-04-16 13:35] bscuron19 commented on #24
I just tried using the open mapping like you suggested and everything now works perfectly! Thanks for your help

[2021-04-16 13:36] akinsho commented on #24
Yeah the open mapping is required if not the plugin will error. I'll add a more clear error message for the future 👍🏿 otherwise will close this if it now works for you?

[2021-04-16 13:38] bscuron19 commented on #24
Yes this works thanks!

[2021-04-16 13:38] #24 closed

[2021-04-16 13:56] likelxl opened #25 "why i can't work in the same termninal"
i use the latest neovim and plugin,my config is below:
[code]
before i can use number and this keymap([c-a-\]) use the  same serial number term to run diffrent command in their respective term,but now it can't, every time it open a new term with clear info, then the command I ran is missing, it can't be reduced.
What can I do to achieve the previous effect?

[2021-04-16 15:48] akinsho commented on #25
@likelxl I'm not sure I understand entirely what you mean. I've just tested my mapping and everything still works. The open mapping you are using doesn't look like a valid vim mapping I don't think you can bind those keys like that. I think what that mapping should look like is `<c-a>\` maybe. But in any case I need more information about what *exactly* you are doing step by step that isn't workin

[2021-04-17 01:16] likelxl commented on #25
![录屏_deepin-terminal_20210417091202](https://user-images.githubusercontent.com/12811070/115097549-8f4e9980-9f5d-11eb-830d-179005d2455c.gif)
the command I ran is missing, because it open a new term

[2021-04-17 13:39] akinsho commented on #25
@likelxl I was able to reproduce your issue and it seems to happen if you don't set `hidden` in your neovim config. I just assumed that everyone using vim has this setting on tbh. Not sure why the refactor has exposed this problem. Probably because it now uses nvim apis to close the window. Can add
`set hidden` or `vim.o.hidden = true` (if using `lua` to your config and see if fixes this for you)

[2021-04-18 09:12] likelxl commented on #25
ok, set hidden, solve my problem

[2021-04-18 09:12] #25 closed

[2021-04-18 12:30] zetashift commented on #22
I was setting my <leader> wrong indeed, thank you for your help and this great plugin!

[2021-04-18 12:30] #22 closed

[2021-04-19 21:35] akinsho commented on #14
![image](https://user-images.githubusercontent.com/22454918/115306123-42d2ac00-a15f-11eb-84fc-c4246ee82a09.png)

[2021-04-20 14:46] bronzehedwick opened #26 "Error on float term"
First off, thanks for the great plugin!

I was excited to test the new float term functionality, but am getting an error. It's entirely possible I'm doing something wrong in my configuration. The documentation is not entirely clear.

I am setting `direction = 'float'`, which by looking at the code seems to be the way to opt in, although in the read me documentation float was not presented as an op

[2021-04-20 15:53] akinsho commented on #26
@bronzehedwick thanks for trying out the plugin 👍🏿 .

Yeah sorry the documentation is mission on the float direction key, I'll update that. As to the error you are seeing it seems your version of nvim nightly is too old. Native border support was added a few weeks ago and this functionality relies on that. Try updating your nvim and trying again. I just tested with your config locally and that app

[2021-04-20 16:30] bronzehedwick commented on #26
Ah of course, thanks @akinsho! I updated my copy of neovim and everything's working.

[2021-04-20 16:30] #26 closed

[2021-04-26 13:39] rafamadriz opened #28 "Question: Is it possible to set different keybindings to toggle different layouts with specific purposes ?"
Right now I'm using [vim-floaterm](https://github.com/voldikss/vim-floaterm) to spawn a terminal with lazygit like this:

![2021-Apr-26_1](https://user-images.githubusercontent.com/67771985/116089677-9e86c300-a692-11eb-9115-ce44b55f6b4b.png)

And that's the only thing I use floaterm for. It's just to have a nice integration of git inside neovim. Then I use toggleterm to toggle a terminal easily in

[2021-04-26 15:03] akinsho commented on #28
@rafamadriz good question, this is actually the main use case I actually implemented floating windows for. As well as refactoring the plugin's API to facilitate something like this. So I added the ability for users to create a specific terminal with specific commands which a user can create a mapping for. Here's an excerpt from my own config
[code]

This way a user can create a specific terminal t

[2021-04-27 11:49] rafamadriz commented on #28
<details><summary>...</summary>

</details>

That's awesome, I'm gonna wait until that PR gets merged. Thanks for your work.

[2021-04-28 17:31] akinsho commented on #14
![image](https://user-images.githubusercontent.com/22454918/116447435-e69f1480-a84f-11eb-86dd-19fa29646aa1.png)

[2021-04-28 17:35] #28 closed

[2021-04-28 19:52] rafamadriz commented on #28
Cool, it does adds the feature of setting custom keybindings to toggle custom terminals with specific commands and layouts. There's one minor thing that is annoying. When using something like this.
[code]
Once the terminal is open, you cannot toggle it while being in insert mode, you have to do the whole `<C-\><C-n>`  to go out of insert  mode and then you can toggle it with whatever key you have

[2021-04-28 21:39] akinsho commented on #28
@rafamadriz you have two options you can create a mapping inside this buffer that does that using the `on_open` command e.g.
[code]

Or if you want the open mapping to work then don't use `hidden = true` and the terminal will be like other toggle terminals and respond to the open and close mapping

[2021-04-29 04:32] ajstrand opened #30 "Add an explicit "install" section?"
I'm pretty new to use using vim/neovim and still finding my way around installing plugins/editing my config.

It seems like there's no consistent naming scheme for neovim/vim plugins, so I had to try a couple plugin names before the plugin installed successfully.

Suggestion:
add an install section with directions like

[code]

I'd be happy to contribute a PR if this is something worthwhile.

[2021-04-29 08:25] akinsho commented on #30
@ajstrand thanks for raising the issue, I had completely forgotten it didn't have one tbh. regarding how to specify the name it's actually pretty standardised i.e. `username/repo-name` most plugin managers are just concatenating that to `github.com/%s` and calling git clone really. Anyway a PR would be fantastic. I think one showing using packer which is the one lua option I'd rather include and o

[2021-04-29 21:50] #19 closed

[2021-04-29 21:51] akinsho commented on #19
Closed in 2c54f8c73c4d2c9a115691a9518262dcdaac0c71

[2021-04-30 12:32] Chaitanyabsprip opened #31 "[Feature request] Close terminal window on process exit"
Autoclose when we exit the terminal inside the buffer. if no terminal is running the buffer then it should delete the buffer and close the window

[2021-04-30 13:54] Chaitanyabsprip commented on #31
So I checked, and  you're right,, even for me it is working the same, except when i do `jk` which is, for me, bound to exit into normal mode. and when I do, the window just stands there until I go back into terminal/insert mode and press a key

[2021-04-30 16:00] akinsho commented on #31
@Chaitanyabsprip give #32 a try to see if it solves this

[2021-04-30 18:32] Chaitanyabsprip commented on #31
@akinsho  I tested  the PR, It works great!

[2021-05-01 13:30] #31 closed

[2021-05-04 08:24] #30 closed

[2021-05-04 13:28] e-cal opened #34 "Prevent Esc Switching to Normal Mode"
When I use the plugin for a floating lazygit window I want to be able to press esc to cancel a commit, etc instead of being put in normal mode (not really useful in lazygit). I tried adding

[code]

but it doesn't seem to work. Any ideas?

[2021-05-04 13:54] akinsho commented on #34
@e-cal this is likely because when you are in the terminal mode the correct mode should actually be `tnoremap` I have similar thing in my on open, but how I do it is
[code]
Setting it to `<nop>` is probably not what you want since that will actually just make the `<esc>` key do nothing meanwhile what you want is for it to behave like a normal `<esc>`. Anyway the key is that you should use `:h tnor

[2021-05-04 15:11] e-cal commented on #34
Awesome thank you! Got it working now.

[2021-05-04 15:11] #34 closed

[2021-05-09 12:29] IDl0T opened #35 "Pass current file name to TermExec"
As in #12, I'm trying to pass the current file name to `TermExec`.
However after the [syntax update](https://github.com/akinsho/nvim-toggleterm.lua#notices), `TermExec cmd='a'.expand('%').'b'` no longer works, it only considers `a` as the command.

[2021-05-09 15:53] akinsho commented on #35
@IDl0T can you try #36 I implemented the functionality suggested in #12 to replace the broken syntax, so that user can now do `cat %' and have that expand to the current filename

[2021-05-10 01:51] IDl0T commented on #35
It does work! Thanks for such a quick fix.

[2021-05-10 02:15] IDl0T commented on #35
However, when I try to run `TermExec cmd='g++ -std=c++17 % -o run'`, the command got truncated to `g++ -st`.
Seems like everything after `-st` are truncated.

[2021-05-10 12:10] romgrk opened #37 "Open mapping opens a second window"
Config:
[code]

After first mapping:
![Screenshot from 2021-05-10 08-09-17](https://user-images.githubusercontent.com/1423607/117656995-09da9580-b167-11eb-8c60-7ad98af0b59d.png)

After second mapping:
![Screenshot from 2021-05-10 08-09-22](https://user-images.githubusercontent.com/1423607/117657016-0e9f4980-b167-11eb-9072-8fabb9e23275.png)

Can't remember what was the previous time I updated but t

[2021-05-10 12:20] akinsho commented on #37
Hi @romgrk, do you have `set hidden` on in your config? if not this is one known thing that causes this issue. If you do already use that but are still seeing this can you try a minimal config with just this plugin and see if it still causes this issue

[2021-05-10 14:11] romgrk commented on #37
Not reproducible with minimal config. Any idea what kind of issue might be causing this?

[2021-05-10 14:19] akinsho commented on #37
@romgrk do you have an terminal related autocommands? I previously encountered this in #25 I think, the issue there being that that person didn't have `set hidden` on which meant when the terminal was being hidden it was being disposed of so every time it was triggered it wouldn't find the previous one.

In your screenshots it's appears to be trying to recreate terminal `1` each time, so it mustn'

[2021-05-10 15:10] akinsho commented on #37
No nothing off the top of my head other than I think something else must be set somewhere i.e. a vim setting I'm not thinking of or an autocommand, sorry no immediate ideas/suggestions other than the classic binary settings search

[2021-05-10 17:23] romgrk commented on #37
Found it, custom `setf terminal` was conflicting with toggleterm's filetype.

[2021-05-10 17:23] #37 closed

[2021-05-17 21:49] lcrockett opened #42 "Question :: (Re)-focus on open terminal window using it's count number"
First of all, excellent plugin and thanks a million for putting effort in this (and other) plugins. I'm using nvim-toggleterm daily in my workflow with a few custom functions for my specific preferences.

One thing I haven't been able to figure out yet is how to navigate to a terminal window based on it's count number, regardless if the terminal window is already open (but not focused) or not open

[2021-05-18 16:49] akinsho commented on #42
Hi @lcrockett 👋🏾 , so you've actually stumbled upon a bug that I haven't really been tracking anywhere in the initial implementation of this plugin it was designed so this would work i.e. `4ToggleTerm` should open terminal 4 no matter what. Somewhere along the way though this functionality got broken/wasn't preserved during a refactor.

It's on my list though of things to fix 👍🏾

[2021-05-23 02:36] lcrockett commented on #42
Cheers ! Let me know if you need more information or a test of the fix once available.

[2021-05-25 08:52] Chaitanyabsprip opened #43 "Should delete buffer on process exit."
I made a custom floating buffer and if I close the shell by doing `exit`, the buffer is taken off focus but is still hidden. When I toggle the custom floating terminal again, it shows the last session with a `[Process exited 0]` at the end of terminal. The expected behaviour should be to delete buffer on process exit.

[2021-05-26 08:33] akinsho commented on #43
@Chaitanyabsprip I've noticed this as well, there have been some changes in neovim in how buffers in floating windows behave that have wreaked havoc in a few places, I think necessary changes but have lead to strange behaviour.

I'll ping you in a PR to see if that fixes things

[2021-05-26 10:11] Chaitanyabsprip commented on #43
The above PR fixes this, so closing this issue now!

[2021-05-26 10:11] #43 closed

[2021-05-28 14:35] David-Else opened #45 "Couldn't find a terminal to close after using custom terminal"
Thanks for the fantastic extension, I assume this is a bug.

1. ToggleTerm to make a new terminal
2. Enter normal mode (jk on my setup)
3. Open custom terminal (lazygit)
4. press q to quit lazygit custom terminal
5. Now you are back in the original terminal, ToggleTerm = "Couldn't find a terminal to close" error, the terminal must be exited manually with `exit`

in `init.vim`
[code]

I tried your

[2021-05-28 14:50] akinsho commented on #45
Hi @David-Else,

I just tried out what you described and I don't see the same behaviour you describe. What I did was
use the `open_mapping` which I have set to `<c-\>` to open a terminal. Then left insert mode using `jk` which I've mapped then opened lazy git with the mapping I have closed it with `q` and then used the close mapping again.

All of that works without issue.

Do you happen to have `

[2021-05-28 16:26] David-Else commented on #45
I have change my config to use the open mapping, Linux does not like `ctrl /` in the terminal. so I changed it to `<leader>t`. This is now my full setup for `nvim-toggleterm`:
[code]
I am afraid I get the same behaviour. I have installed the latest nightly (Linux appimage):
[code]
1. start nvim
2. `<leader>t` open terminal
3. `jk` enter normal mode
3. `<leader>g` open lazygit
4. `q` close lazygit

[2021-05-29 10:03] akinsho commented on #45
@David-Else I just tried with your minimal init.vim vim and was able to reproduce it 👍🏾 . That's definitely a bug. Will look into it once I get some time.

[2021-05-29 16:43] David-Else opened #46 "Plugin uses leader key in insert mode and normal mode"
[code]
When using `space` as the leader key now there is a delay after pressing every space in insert mode. The terminal can be toggled from insert mode, I assume this is an error as the leader key is expected to work from normal mode? I am not an expert in this, but that is how it works with all my other mappings.

With the above setup, whenever pressing space in insert mode Neovim acts as if the

[2021-05-30 12:51] akinsho commented on #46
@David-Else this plugin by default maps the open mapping in `normal` and `insert` mode. So the pause you see especially with a space leader is normal and unavoidable since space in insert mode will wait for the rest of any mappings. To work around this you can set the option `insert_mappings` (might need to cross check with the README) to false so this plugin won't create any insert mapping and so

[2021-05-30 16:48] #45 closed

[2021-05-30 17:13] David-Else commented on #46
I set `insert_mappings = false` and it works :) This is not mentioned in the readme, it would be great if it were added.

In https://github.com/akinsho/nvim-toggleterm.lua#usage-1 you have an example advanced setting for lazygit.

[code]
I tried it and the main difference was I now had an extra key to press to exit lazygit. are these settings recommend? I am not sure why you are setting `q` to qui

[2021-05-31 08:55] David-Else commented on #46
Hi, sorry to keep asking questions in the issues section. I think I am almost sorted now,

When I enter lazygit in the custom terminal I need to disable insert mode mappings with `insert_mappings = false`, but I can't work out how to do it. The following doesn't work:

[code]
If I use `[space]t` in my commit message in lazygit at the moment it leaves lazygit and tells me there is no terminal to cl

[2021-05-31 11:29] akinsho commented on #46
@David-Else I'm on mobile atm so can't answer properly. With regards to the insert mode mappings you have to unmap those yourself inside the on open function for the custom terminal. I have a similar thing in my dotfiles but I won't build it into the plugin because that presumed to much about a user's setup.

With regards to the insert mappings setting that should only need to be specified once at

[2021-05-31 11:32] akinsho commented on #46
Sorry didn't address the q mapping for lazygit since it's just an example I included the close mapping since it would be needed for other terminal applications and tbh this plugin didn't initially handle the q mapping from lazygit properly

[2021-05-31 11:33] akinsho commented on #46
I'd also happily accept a PR about the missing docs for insert mapping I haven't got too much time on my hands atm

[2021-05-31 12:42] David-Else commented on #46
I will have a look into making a PR regarding the insert mappings.

I found the section in your dot files regarding unmapping previously configured insert mode mappings and will try to use your settings, thanks!

If you look at my config above I have `require("toggleterm").setup{ size = 80, direction = 'vertical', open_mapping = [[<leader>t]], insert_mappings = false }`. This stops the insert mapp

[2021-05-31 20:36] akinsho commented on #46
@David-Else this should now be fixed, turns out the mapping was being set in `tmap` mode which is the specific mode for inserting into the nvim terminal which is different to regular `imap` i.e. insert mode. Will close this out now 👍🏾 , lemme know if it didn't work for you (I tried with your leader key and it seemed to)

[2021-05-31 20:36] #46 closed

[2021-06-04 09:55] LoydAndrew opened #48 "Question: How to toggle view with all the terminals?"
Thanks for the great plugin.
I have a question is there a way to have a command that toggles view with all the terminals that were created?
For example:
I created terminal with CTRl-\ than I created another terminal with a :ToggleTerm 2
which leads to this view

![Screenshot_2021-06-04_12-44-39](https://user-images.githubusercontent.com/28489428/120782978-3bab0600-c533-11eb-9102-8a358e7dfa0f.png)

[2021-06-04 10:42] akinsho commented on #48
@LoydAndrew that's a cool idea tbh I hadn't really considered it ever. There isn't really a way to do that currently but I like the idea. I think a reverse command would be good as well i.e. toggle all with none open opens all the previously opened and then using that again toggles them all.

It wouldn't be too hard to implement basically could add a check for the `all` argument to the toggle term

[2021-06-04 16:27] akinsho commented on #48
@LoydAndrew it was pretty straightforward to do i.e. more or less exactly what I had above so I just did it in my lunch break. Can you test it out and see if it works

[2021-06-06 13:54] #48 closed

[2021-06-06 18:19] LoydAndrew commented on #48
@akinsho
Thanks, great and quick work. I guess the only problem is to have 2 explicit commands rather then one toggle, but I can live with that. Again, very appreciate it.

[2021-06-06 18:42] akinsho commented on #48
@LoydAndrew if you had only one command and had 1 window open it not clear how it should work. Should it close that window or open other windows you previously toggled 🤷🏾‍♂️  I'm definitely open to a PR to fix it though but I probably won't spend more time on it myself, this isn't really a workflow I use

[2021-06-18 08:29] kiuKisas opened #51 "Moving window with Ctrl+W + L, toggle with wrong windows size"
https://user-images.githubusercontent.com/12698940/122531483-d6214400-d01f-11eb-90d1-e138ad0ae5bc.mp4

Steps:
- open `ToggleTerm`
- change window position with `Ctrl-W` + `L`
- close term with `:ToggleTerm`
- open term with `:ToggleTerm`
--> wrong size (full width)

[2021-06-18 08:41] akinsho commented on #51
@kiuKisas tbh this is not really a use case this plugin can support easily and one I personally am not particularly keen to add. I'll explain.

When you create a toggleterm you specify the orientation for the terminal and the size gets saved. When you then manually re-align it we don't try to figure out what orientation the window is now in and what it's new dimensions should be since I only save

[2021-06-18 09:36] akinsho commented on #42
@lcrockett I actually just came back to this after a while and realised I'd read the exact request incorrectly the first time. I thought the issue was that specifying a count wasn't *opening* the correct terminal. Which was an issue i.e. `4ToggleTerm` was not always toggling 4 but now it should be.

The specific issue here though seems to be about going to an unfocused but *open* toggle term, whic

[2021-06-26 02:00] lcrockett commented on #42
@akinsho Cheers on the understandable feedback. Trying to focus back on an unfocused but previously opened and currently open toggle term is indeed what i'm after.

[2021-06-28 06:08] rmagatti commented on #51
Hey @akinsho, great plugin! I had my own solution for this but yours is much more polished than what I had.

I believe what @kiuKisas suggested could indeed be achieved, but as you say, maybe not easily.

I imagine when toggling a specific terminal, one could at that point grab the window options and save them for a specific terminal number, then subsequently when reopening, setting those for the

[2021-06-28 09:21] akinsho commented on #51
Hi @rmagatti 👋🏾 ,

so regarding the window properties there was actually a PR from someone a while back to `persist_size` the idea being as you say on `WinLeave` to keep track of the window size. I refactored this plugin a while ago and I'm not sure how well that change survived. So basically there is already a bit of logic already trying to track window props, the difficulty here isn't *when* to

[2021-07-07 11:43] ahmadie opened #55 "send commands to terminal without toggle"
Is there a way to send commands to terminal without opening ?
Thank you

[2021-07-07 11:59] akinsho commented on #55
@ahmadie that isn't really possible since the window isn't open and the buffer is hidden, so sending text to it isn't possible as far as I know. If someone else knows something different, feel free to open a PR, but I don't think this is possible/how it could be done.

[2021-07-08 15:36] fedepujol opened #57 "Add vim help documentation"
It'll be really helpful to have the help documentation (help-tags? Don't know how is it call) for Neovim. Right now I've to come to github and search if what i've want to do is possible. (awesome plugin by the way!)

I could help if you need a hand!

[2021-07-08 15:40] akinsho commented on #57
@fedepujol it's a pretty tedious thing to have to manually curate help docs as well as the README in markdown. I maintain 3+ plugins so it's quite a lot of work (for me anyway).

If you or anyone else wants to contribute I'd be happy to have the help. I'm definitely all for it but if it comes down to me doing it tbh it'll be a while since I don't really have the time for that atm.

[2021-07-15 04:10] Johan-Palacios opened #59 "Background color issue"
When i open Toggle terminal, I have this issue

![image](https://user-images.githubusercontent.com/77251405/125727544-9a241343-08c3-4175-9d25-d0f6d06a7fb8.png)

Can you give a solution for this?

[2021-07-15 07:39] akinsho commented on #59
Hi @Johan-Palacios,

Can you clarify what the problem is specifically? Is it that your terminal is dark? This plugin doesn't apply any highlighting to floats. In all likelihood, your colorscheme includes some terminal colours and is what is making your terminal that colour. Can you try with a minimal init.vim i.e. remove the colorscheme and see if it still behaves this way.

[2021-07-15 11:31] ffuszthaler opened #60 "Failed to close window"
**When I toggle the terminal I get this error message:**

_Failed to close window: win id - <number> does not exist_

**my config:**

require("toggleterm").setup {
  size = 20,
  open_mapping = [[<C-y>]],
  hide_numbers = true,
  shade_filetypes = {},
  shade_terminals = true,
  shading_factor = 1,
  start_in_insert = true,
  insert_mappings = true,
  persist_size = true,
  direction = "horizontal

[2021-07-15 11:41] akinsho commented on #60
Hi @ffuszthaler can you please provide a minimal init.vim or lua that reproduces this issue, based on the information you shared I will not be able to solve your issue.

Just to clarify have you got `hidden` set in your config? this is a requirement and is detailed in the README.

[2021-07-15 11:48] ffuszthaler commented on #60
I added vim.o.hidden = true and now it appears to work, sorry I didn't see it

[2021-07-15 11:49] #60 closed

[2021-07-15 19:53] Johan-Palacios commented on #59
My terminal has one dark coloscheme, and I disabled the colorshceme in my init.vim and I have the same issue

![image](https://user-images.githubusercontent.com/77251405/125849050-3b13ced2-3f82-4e6f-a36a-cc8616a766aa.png)

[2021-07-16 11:07] akinsho commented on #59
@Johan-Palacios can you run a few tests for me. With the float window open can you run `:verbose set winhiglight?` and paste the result here. Can you also check what the value of `NormalFloat` is using `:highlight NormalFloat` it could be that your config or a plugin or something sets the normal float to that dark colour, which is the highlight group this plugin uses.

[2021-07-16 11:31] Nguyen-Hoang-Nam opened #61 "Emoji go through floating terminal"
At first, I think this is problem with neovim, but telescope work fine.

![normal](https://user-images.githubusercontent.com/74345759/125940934-f69a2f6e-78e2-4386-a46a-fb018f8b4242.png)

![terminal](https://user-images.githubusercontent.com/74345759/125941095-c8e8de6f-f87c-44b0-9bc4-b6eda1ac6631.png)

![telescope](https://user-images.githubusercontent.com/74345759/125941106-d5267f9f-0a94-4180-8c68

[2021-07-16 11:49] akinsho commented on #61
@Nguyen-Hoang-Nam I believe this is actually an upstream issue. The reason you don't see it in telescope is that by default this plugin uses a `winblend` to make the window slightly transparent. Using winblend causes this issue, not sure why but will have something to do with terminal rendering and multigrid in nvim probably. Can you try setting winblend to 0 and seeing if that resolves your issue

[2021-07-16 11:58] #61 closed

[2021-07-16 20:55] jamesgecko opened #62 "Sending current line number to terminal?"
Is there a way to send the line number with `TermExec`? I know it's available to vim via `line('.')`, but that doesn't appear to be one of the things that the `expand` command expands.

Context: I'm trying to use the `:TermExec` command to execute ruby specs. To run all the specs in a file, I have this key binding:

[code]

That works great for executing entire files of specs. But Rspec has a feat

[2021-07-17 09:52] akinsho commented on #62
@jamesgecko I haven't really had this use case so tbh I'm not really sure, I guess you could create a function that generates the command instead of mapping to the string directly e.g.

[code]
you could also do something like that with the terminal api, but it's roughly equivalent.

[2021-07-17 19:53] Shatur commented on #60
@akinsho, I have the same issue when I using `:bdelete!`.
I have a plugin that switches sessions and it closes all buffers. So after every session switch I see this error. Is it possible to suppress this error message somehow?

[2021-07-19 09:18] kylo252 opened #63 "Input lag when navigating with j/k in file-managers"
# Problem description

There's a significant delay when navigating with j/k compared to using arrow-keys.

### Demo

![F99VLliCTe](https://user-images.githubusercontent.com/59826753/126135758-67cd69d4-cad5-4ab3-81bd-a09b7741c150.gif)

[2021-07-19 09:22] akinsho commented on #63
Hi @kylo252 do you have any mappings for `j` or `k` in that buffer? you can check by going into normal mode and checking `verbose tmap j` and k. A common requirement for floating buffers using terminal programs is that you have to unmap some of your vim mappings since they cause you to have to wait for `timeoutlen` before executing. I can't/won't automatically remove them since I don't know what p

[2021-07-19 09:26] akinsho commented on #60
@Shatur are you using `hidden` or not? I won't suppress the error since it's actually a warning flag that something is going wrong, it means the plugin still has a reference to a buffer that no longer exists. Which shouldn't happen since there is an autocommand to listen for when a terminal closes and to tidy up the internal state of the plugin.

It might be that *if* you already have hidden set t

[2021-07-19 10:22] kylo252 commented on #63
Thanks for getting back me so fast on this. It turns out that I have somehow copied the mapping of `jk`-> `<Esc>` to terminal mode as well, I have no idea why I had it there.. 🤦

Feel free to close the issue if this is working as intended.

[2021-07-19 10:28] akinsho commented on #63
@kylo252 no worries it's a common issue, I did consider automatically removing those mapping but they are common but not 100% predictable and personally I'd rather stay out of the business of messing with user mappings when I don't know they preferences or use cases. I personally use this
[code]
I use that as my on open mapping to remove the mapping for my float terms

[2021-07-19 10:48] #63 closed

[2021-07-19 10:50] akinsho commented on #62
@jamesgecko came back to this after a day or so and realised you could probably use the lua api directly for this i.e.
[code]

[2021-07-19 12:43] Shatur commented on #60
@akinsho, yes, `:set hidden?` prints `hidden`. But I have this error.
So `:bdelete!` works for you without any errors?

[2021-07-19 13:01] akinsho commented on #60
@Shatur sorry I wasn't entirely clear exactly what the issue you were reporting was and if it was related to this original issue or a session plugin or something. Just tried a naked `bdelete` and that does cause the error. Hadn't really anticipated people deleting the buffer, I don't so 🤷🏿‍♂️. Bdelete removes the window before the terminal is closed, so when the terminal is shutdown the containing

[2021-07-19 14:16] Shatur commented on #60
@akinsho, yes, sorry, it looks like my problem is not related to this issue. I just was not sure :)

[2021-07-19 15:11] Shatur opened #64 "Buffer deletion causes error"
If you call `:bdelete!` on a toggleterm buffer, you will have `Failed to close window: win id - does not exist` error.

[2021-07-19 21:04] akinsho commented on #64
Should be fixed now

[2021-07-19 21:44] Shatur commented on #64
@akinsho Thank you! This fixes the issue, but it opens with a wrong size after deletion for me. Try to `:bdelete!` and then `:ToggleTerm`.

[2021-07-19 21:46] akinsho commented on #64
@Shatur I can't reproduce that issue. Are you using `persist_size` or something?

[2021-07-19 21:47] Shatur commented on #64
No, here is my configuration:

[code]

[2021-07-19 21:52] akinsho commented on #64
The default is `true` can you set it to `false` and see what happens?

[2021-07-19 21:54] Shatur commented on #64
Thanks, if I set `persist_size` to `false`, then I always have the same size (which I basically want). Is this expected to work like this for this parameter?

[2021-07-19 21:59] akinsho commented on #64
Persist size was added by another user a while ago because they wanted toggleterm to remember the size if the user manually changed it. It's been a bit of a nightmare for a while. Anyway I've had to revert the change since persist size is default and so that last change would maybe have broken things for everyone or at least anyone using `bdelete`. Will revisit a better solution when next I have t

[2021-07-19 22:02] Shatur commented on #64
Got it, will just disable `persist_size` for now!

[2021-07-20 15:40] jtourlamain opened #65 "Error starting terminal OutOfProcessMediatorBasse"
I'm using neovim (v0.5.0) on windows.
My shell is set to pwsh.exe. Starting a default terminal (so not using the plugin) works via the command :terminal

When using the plugin I get a quick error message before the terminal is closed:

[code]

I didn't change the default config a lot:

[code]

[2021-07-20 16:03] akinsho commented on #65
Hi @jtourlamain, thanks for reporting this. So I'm quite unfamiliar with windows or how it or it's shells work. So I don't really have any clue what to make of the error. By default this plugin uses the value of `vim.o.shell` which should be the same as the terminal. It also works by calling `vim.fn.termopen` which should be quite similar to just calling `:terminal`.

can you verify what a plain `

[2021-07-20 18:17] jamesgecko commented on #62
For some reason I couldn't get NeoVim to see the function in my init.lua. Here's what I ended up with:

**~/.config/nvim/lua/tools.lua**
[code]

**In ~/.config/nvim/init.lua**
[code]

Thanks for the help!

[2021-07-20 18:17] #62 closed

[2021-07-20 20:53] jtourlamain commented on #65
I tried with `vim.o.shell` but it has the same result. Executing the command `:lua vim.fn.termopen()` results in an error:

[code]

Does it mean I forgot some configuration?

[2021-07-20 21:36] is0n opened #66 "Integration with Terminal File Managers"
## Question
How could one go on about integrating this plugin with programs such as [joshuto](https://github.com/kamiyaa/joshuto), [nnn](https://github.com/jarun/nnn), [lf](https://github.com/gokcehan/lf), and [ranger](https://github.com/ranger/ranger)?

## Acknowledgments
I know that this is already somewhat possible as you can open a terminal that runs the program on startup and then just open t

[2021-07-20 21:58] akinsho commented on #66
@is0n I'm not entirely sure if I understand this issue but if it's primarily about opening a file in a terminal file manager and that opening a buffer in the already existing neovim instance then neovim doesn't natively internally support this, but it has been planned for years. There is a solution, though, built by an nvim maintainer called [nvr](https://github.com/mhinz/neovim-remote).

Since nv

[2021-07-20 22:02] akinsho commented on #65
@jtourlamain sorry that wasn't the full command, that was more of a pointer than the explicit full thing to use you can see the docs for termopen using `:help termopen` I believe it requires a cmd argument, so you can do `lua vim.fn.termopen(vim.o.shell)` please read the term open doc though in case I missed something else though.

[2021-07-21 04:49] is0n commented on #66
@akinsho Thank you for the fast and helpful response!

Surprisingly enough, just using "nvr" as the "open_with" command ***sort*** of works.

## Example w/ the plugin and function:
![JoshutoToggle](https://user-images.githubusercontent.com/57725322/126431270-39762d74-d250-4fac-a1a8-33e1d9247d89.gif)

### Code sourced in init.lua:
[code]

### Result:
A remaining floating terminal (direction doesn't

[2021-07-21 09:00] qvieth opened #67 "[Bug] horizontal term should close if it is the last window"
E5108: Error executing lua ...ack/packer/opt/nvim-toggleterm.lua/lua/toggleterm/ui.lua:256: Vim:E444: Cannot close last window
This was thrown when I was trying to exit from a file buffer while a horizontal toggle term instance is opening
Expected behavior :wq on file buffer exit both file buffer and the horizontal toggle term.

[2021-07-21 09:03] qvieth commented on #67
file:///home/qvieth/Videos/Screencast%20from%2007-21-2021%2004:02:15%20PM.webm

[2021-07-21 09:05] qvieth commented on #67
https://user-images.githubusercontent.com/71810726/126462620-3f6f41ec-d95a-4df8-a3c1-8ba9aa140fc1.mp4

[2021-07-21 09:16] akinsho commented on #66
@is0n the issue you are seeing is because you are trying to re-use the exact same window as toggleterm was in. So when toggle term is created it hides the numbers and signcolumn for *that window* in your case you must have nvr set to re-use the window where it was triggered from so the buffer inherits the same behaviour. Tbh I don't think this can be solved because there is no way I can see to fix

[2021-07-21 09:19] akinsho commented on #67
@qvieth this is partially a duplicate of #64, I've left it open though because a split window should technically not remain open if the other neighbouring window was closed. FWIW this is not how I envisioned people using the plugin or how I use it, till I or someone else gets a chance to fix this it is better if you *close the terminal* before closing the other buffer.

[2021-07-21 09:29] qvieth commented on #67
@akinsho Thank you, really appreciate your works on this plugin

[2021-07-21 13:33] akinsho commented on #59
@Johan-Palacios any news? I can't reproduce this in a minimal configuration on my end. This is what a completely minimal nvim with *only* toggleterm using a floating window looks like.

<img width="1253" alt="Screen Shot 2021-07-21 at 14 32 41" src="https://user-images.githubusercontent.com/22454918/126497173-0c5f7fcf-5dbd-49e9-af95-67dbadd2ea78.png">

There is no black background it seems *very l

[2021-07-21 15:18] Johan-Palacios commented on #59
I tried a minimal config and I have the same issue, for this reason now I use the terminal in vertical. I suppose that is a conflict with WSL

[2021-07-21 15:24] akinsho commented on #59
@Johan-Palacios how did you run the minimal config? if you use something like `packer` start plugins are loaded automatically? so it would still load any of your start plugins. You have to run `nvim -u <path/to/minimal> --noplugin` to ensure none of the start plugins are loaded

[2021-07-21 17:03] Johan-Palacios commented on #59
A ok I will try this

[2021-07-21 20:54] is0n commented on #66
I'll be closing this issue as implementing this feature seems to go beyond this plugin's capabilities.

[2021-07-21 20:54] #66 closed

[2021-07-22 07:57] akinsho commented on #59
@Johan-Palacios up to you in the end 🤷🏿 I doubt this is related to WSL especially since you tried other plugins and that worked. If anyone else with this issue wants to help me debug it by trying to isolate the problem, please try the minimal config above and see if that helps if not we can try some other stuff to debug it.

[2021-07-22 18:00] akinsho commented on #67
The error should now no longer appear, but the automatic closing of the terminal if it is the last window doesn't work yet

[2021-07-22 18:01] akinsho commented on #64
Ok now i think this is actually resolved by 895f8e2

[2021-07-22 18:02] akinsho commented on #64
Whether persist size is set, this should work. Gonna close this out now, so I don't forget to do it later but if it didn't work let me know, and I'll re-open it

[2021-07-22 18:02] #64 closed

[2021-07-22 18:44] will commented on #62
This is cool. Is there an easy way to get this to also open the terminal if it's closed (but not toggle, keep it open if it happens to already be open). I'm new to all this lua vim stuff, so I've been trying to peek though the code to figure it out, but no luck so far.

[2021-07-22 18:47] akinsho commented on #62
Hmm, not entirely sure if I follow, but `TermExec` and the underlying `exec` function will open a terminal if not opened or just send to that terminal if it is already open.

[2021-07-22 19:09] will commented on #62
Maybe it's something lunarvim is doing ( https://github.com/ChristianChiarulli/LunarVim/blob/95aa1ea8c6b8dc31bae26fe1d433e83f57dd4201/lua/core/terminal.lua#L2 ) but when I run this, it does run the specs in the background but the the terminal stays hidden until I hit ctrl-t (they remapped it from your default). Once I do hit that the terminal will appear and the test output will be in there.

I wa

[2021-07-22 19:30] Shatur commented on #64
It worked, thanks!

[2021-07-22 19:48] akinsho commented on #62
Ah, it's probably because the whole float functionality only got added a few months ago. Seems term exec doesn't open a float like it does for splits since it doesn't really seem to take the direction into consideration, maybe. Anyway, feel free to open a new issue. I'm probably not going to handle it soon, nvim plugins are taking waaaay too much of my free time atm.

[2021-07-22 19:54] will commented on #62
I hear you. Even just playing around with all the new nvim stuff has been taking up all of mine since I wasn't paying attention to any of the nightly stuff pre 0.5 🤣

[2021-07-22 19:56] will opened #68 "[Bug] Floating windows don't auto open on exec"
Following up from https://github.com/akinsho/nvim-toggleterm.lua/issues/62#issuecomment-885187362

Summary: when I was using `require('toggleterm').exec(...)` to run something with [this configuration](https://github.com/ChristianChiarulli/LunarVim/blob/95aa1ea8c6b8dc31bae26fe1d433e83f57dd4201/lua/core/terminal.lua#L2), the floating terminal would not auto open

@<i></i>akinsho said:

[2021-07-22 21:35] Johan-Palacios commented on #59
![image](https://user-images.githubusercontent.com/77251405/126712324-9ad5ddf9-1981-43c3-be32-510e08f9b6d0.png)

![image](https://user-images.githubusercontent.com/77251405/126712349-bce14e26-7edd-4cb6-a915-a60d75459b70.png)

Look this is very weird, and i discovered that black color in the bagraund is caused for a effect of
blurred, that have this plugin when this stay in float mode

[2021-07-22 21:40] akinsho commented on #59
@Johan-Palacios can you try setting
[code]

[2021-07-22 21:45] Johan-Palacios commented on #59
![image](https://user-images.githubusercontent.com/77251405/126713481-54278690-a24a-4aeb-866a-f30baf06700a.png)

JAJAJA sorry bro it works now xd

[2021-07-22 21:47] Johan-Palacios commented on #59
and i have a question, you know how i can open the float or vertical mode of this plugins with diferents commands?

[2021-07-22 21:56] akinsho commented on #59
Did any specific thing make it work? Or did it just start working.

@Johan-Palacios the README covers all the different ways to use the plugin, you can also just set your preference in the plugin's config.

[2021-07-22 22:01] Johan-Palacios commented on #59
First i Update the plugin, later I deleted line of code that i have, later of that i only change the values of the float_opt and it works, really weird bro

[2021-07-22 22:05] Johan-Palacios commented on #59
You know something for this?

[2021-07-22 22:12] akinsho commented on #59
@Johan-Palacios, all the instructions on how to use this plugin are in the README please take a look there's a lot to go through and I unfortunately am pressed for time. You need to add the `direction` you want in the `setup` config or in the command like `ToggleTerm direction=vertical` etc. (please read the docs 🙏🏿 )

[2021-07-22 22:16] Johan-Palacios commented on #59
Thank you bro, yeah I'm a noob in this and I need to read this docs, thanks for your help 👍

[2021-07-22 22:16] #59 closed

[2021-07-23 03:26] qvieth commented on #67
@akinsho I just did an upgrade but that error still appeared as same as before

[2021-07-23 03:32] qvieth commented on #67
@akinsho i just did an upgrade but the error still appeared to be the same as before

[2021-07-23 07:15] akinsho commented on #67
Oh, sorry this isn't actually a duplicate of the error I referenced before, ignore that then the status of this is the same as before then.

[2021-07-25 10:04] qvieth opened #70 "Ugly p10k prompt inside floating toggleterm"
![image](https://user-images.githubusercontent.com/71810726/126895257-3229b4df-7c90-49d5-aabc-45ae28d734fe.png)

This wasn't the case with vimfloaterm or Fterm.nvim, anyway to fix this?

[2021-07-25 10:05] qvieth commented on #70
![image](https://user-images.githubusercontent.com/71810726/126895360-09bb6df0-f092-410a-b017-8402827145a0.png)

here's my prompt in Fterm.nvim

[2021-07-25 12:56] akinsho commented on #70
@qvieth maybe disable the winblend option and see if that improves things. Details on that option are in the README configuration.

[2021-07-25 13:00] qvieth commented on #70
Thank you, @akinsho, changed the winblend option to 0 fixed the issue for me

[2021-07-25 13:00] #70 closed

[2021-07-25 23:00] zeertzjq commented on #17
Currently it seems different terminal can have different directions using `:ToggleTerm direction=`, however that only works for new terminals. The direction of existing terminals cannot be changed.

[2021-07-26 00:51] zeertzjq commented on #68
I think it is caused by `go_back = true` in `Terminal:send().

[2021-07-27 01:46] devewok opened #73 "are the terminals persistant with process in running ?"
If i run an nodejs server api in terminal, does can it persist that process ?

[2021-07-27 11:08] akinsho commented on #73
@devewok if you have set `hidden` which is a required setting for this plugin then terminal processes should be persisted, since the terminal should continue to run in the background. You can check `:h terminal` for more information of how terminal work in nvim.

[2021-07-28 19:53] #17 closed

[2021-07-28 19:53] #68 closed

[2021-07-28 19:54] akinsho commented on #73
Going to close this as I believe it's been answered, i.e. yes, so long as hidden is set

[2021-07-28 19:54] #73 closed

[2021-07-28 20:08] akinsho commented on #67
@qvieth this should now be fixed by the most recent commit on master, it works by choosing another buffer using `bnext` if a user closes the neigbouring window

[2021-07-29 00:25] qvieth commented on #67
So cool! Thank you so much @akinsho, Toggleterm works flawlessly for me now!

[2021-07-29 00:25] #67 closed

[2021-07-29 00:47] qvieth opened #74 "[Bug] horizontal term's size goes wrong after a special exit pattern"
https://user-images.githubusercontent.com/71810726/127414090-4d99a486-51ab-4f65-9af4-13a47cb44e97.mp4

Steps to reproduce :
1. open horizontal term
2. change to non-terminal buffer
3. :q
4. open horizontal term
5. use exit command
6. open horizontal term <-- bug happens

Setting `persist_size = false` seems to fix the problem(but idk why).

[2021-07-29 15:49] menash134 opened #75 "toggle back to nvim"
How to toggle back to the neovim editor from the float/vertical terminal. At the moment, I tried ctrl+w+ctrl+w, but it is not working? Any solutions?

[2021-08-01 21:05] vuki656 commented on #75
Since I assume its a buffer, try `:q`

[2021-08-01 21:15] akinsho commented on #75
@menash134, you press the `toggle` mapping that you set in your config for this plugin. The same mapping that opens the terminal, closes it.

[2021-08-02 00:58] alextricity25 commented on #75
Is it possible to leave the terminal open, and switch focus to back to vim while the terminal is still open? I believe that's what OP is referring to.

[2021-08-02 01:02] alextricity25 commented on #75
The terminal catches every key stroke, so I literally end up typing `:q` on the command prompt.

[2021-08-02 01:09] alextricity25 commented on #75
After some quick reading of the `nvim_terminal_emulator` docs, found out that all keys execpt <C-\><C-N> are sent to the underlying program. Use <C-\><C-N> to return to normal mode, then you can use the normal <C-w> commands to switch between windows.

https://neovim.io/doc/user/nvim_terminal_emulator.html

![image](https://user-images.githubusercontent.com/4964964/127791837-e704082f-ead5-47e5-a77

[2021-08-02 07:36] akinsho commented on #75
I can't build these into they plugin since it's really a matter personal preference how/if to map window movement and inevitably some people will complain about the keys or just adding them at all.

I'll add an example to the README though so people can add these mappings If they want

[2021-08-02 16:33] #75 closed

[2021-08-03 10:47] menash134 commented on #75
Thanks @alextricity25 for understanding the question and explaining it. Thanks @akinsho for the solution. Iam trying to learn about this tnoremap. I hope I can figure out from your dotfiles. I think basic setting/mapping is necessary to be builtin the plugin to be there for nvim or atleast in your toggleterm git homepage.

[2021-08-03 10:51] akinsho commented on #75
@menash134 sorry I don't follow exactly.

Tbh I wouldn't use my dotfiles as I'm not going for a simple solution there. I added a section to the README that shows you how to add the required mappings in vanilla nvim 0.5 so you can just copy and paste those. I don't think as I mentioned that this can/should be builtin since it goes beyond the scope of this plugin IMO to start messing with window nav

[2021-08-03 11:01] menash134 commented on #75
Thank you akinsho. Read me is perfect.

[2021-08-04 18:32] kdheepak opened #76 "Track whether in insert mode or not during toggle"
Hi, thanks for making this plugin! It is awesome!

I like the `start_in_insert = true` feature a lot. However, sometimes (for example, when I am looking at output of a lot of tests), I use `C-\ C-n` to exit insert mode and scroll up, and toggle to get to the test file in question. However, if I want to refer to the test output again, now when I toggle back to the terminal it enters insert mode and

[2021-08-05 20:48] unnsteinngardars opened #77 "Multiple terminals"
Hello, I have been trying without success to manage mapping keys to toggling multiple terminals. I can manage to open the terminal by using the open_mapping keymap but when I am already in an open terminal and in terminal mode, I cannot do 2<C-\> to open another terminal because it just writes the letter 2 into the terminal and then just closes it.

[2021-08-06 07:31] akinsho commented on #77
@unnsteinngardars the count for the open mapping can't be passed on whilst you are still in terminal mode after opening a terminal. Terminal mode is similar to insert mode so if you write two it will enter 2 rather than count it as part of the mapping. There's really nothing I can do here since this is just nvim behaviour. The best way to handle this is to map an escape sequence whilst in the term

[2021-08-06 07:52] unnsteinngardars commented on #77
Thanks for your answer, it is correct that it is normal behavior but your readme suggested that the **key** to use, which I suspect is the **open_mapping** key, should work in normal, insert and terminal mode. If that is not correct then what do you mean with the following paragraph?

"Setting the key to use for toggling the terminal(s) will setup mappings for insert, normal and terminal modes If

[2021-08-06 08:08] akinsho commented on #77
@unnsteinngardars the README has changed a lot over time and there are undoubtedly some inaccuracies in places as I maintain this and a few other plugins. The paragraph you refer to is meant to explain that use can use the open mapping in terminal mode and the subsequent sentence although the full stop is missing is to clarify that the open mapping takes a count, this should have a caveat explaini

[2021-08-06 08:47] unnsteinngardars commented on #77
I will take a look at the code and see if I can figure out how to add this and then create a PR.

Thanks for the clarification

[2021-08-06 08:58] akinsho commented on #77
@unnsteinngardars sorry just to clarify this doesn't require a code change, you just need to update the docs.

As for how to open multiple terminals in the GIF you need to add the `<esc>` that I linked to from the README to your config so that you can escape terminal mode and go into normal mode using a mapping like `jk` then you can press the open mapping with a count. Please read the link to the

[2021-08-06 09:35] akinsho commented on #77
@unnsteinngardars to make a PR you have to *fork* the repository then make a PR off of a branch you create. The easiest way to do this for something like the README is by clicking the edit icon on github
Have a look at [this guide](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request)

[2021-08-06 13:32] akinsho commented on #77
fixed by #79

[2021-08-06 13:32] #77 closed

[2021-08-07 15:39] kiuKisas opened #80 "Feature Idea: Terminals List that can be used with picker (e.g: Telescope)"
That could be great to have a list of opens terminal and to choose between them through a picker like Telescope for example.

[2021-08-08 11:54] kiuKisas opened #81 "Feature Idea: dynamic switch of direction for open terminal ?"
In can be nice to be able to switch direction of already opened terminal.
E.g: if you launch a server in a terminal, you would want to have it in `float` or `window` direction most of the time, but when it's debug time, it's nice to have it in `vertical` or `horizontal`

[2021-08-08 18:15] akinsho commented on #81
@kiuKisas there was a big (and much appreciated effort by @zeertzjq) in #71 to allow dynamic window switching of closed terminals.

Tbh I think we are beginning to stray into window manager territory with all of this logic which is not very simple. I don't think it's a bad use case, but I think it's all making this plugin more complex than it needs to be. For my own part I'm not really sure how we

[2021-08-08 18:16] akinsho commented on #80
This is a good idea, happy to review a PR for this 👍🏿

[2021-08-09 09:36] akinsho commented on #76
Hi @kdheepak,

Thanks for the kind words, much appreciated 🙏🏿 .
So persisting state so far has been a bit of a nightmare, probably the because the first implementation was aimed at one specific contributors use case and hasn't scaled well. I'm generally wary about adding more complexity to this plugin. The initial idea was quite simple but the scope has crept a lot.

I think doing this well would

[2021-08-09 15:42] akinsho commented on #65
@jtourlamain any news on this? did you manage to try the term open function to see how that behaves?
Will check back in in a few days and if I don't here from you I will close this out. This is definitely not something I can fix without input from a windows user also experiencing this.

[2021-08-09 19:56] jtourlamain commented on #65
@akinsho I found out that the problem is not caused by this repo. I had the same problem using vim-floaterm. Using bash wasn't problem.

[2021-08-09 19:56] #65 closed

[2021-08-13 10:18] G-Rowell opened #82 "ToggleTerm + Bufferline"
Firstly, thank you very much @akinsho and team for these great NeoVim plugins!!!
I really appreciate it

This regards toggleTerm & [bufferline](https://github.com/akinsho/nvim-bufferline.lua)

I can't find a more appropriate place to ask, but what would be the best way of making a terminal buffer that can appear in the buffer line but still be toggled?

`:Terminal` works well, but it's not a Toggl

[2021-08-13 17:14] andreicorpo opened #83 "Cursor look in insert mode"
The cursor still looks like a block when in the terminal in insert mode and it can be a bit confusing.

Is this intended or is there a way to have the default behaviour?

[2021-08-13 18:26] akinsho commented on #83
@andreicorpo this plugin doesn't really have any relationship with your cursor at all tbh the cursor shape in neovim is controlled by the `guicursor` option which is a global setting that the user can set to change how their cursor behaves. I won't be messing with that in this plugin since a user can already decide how they want it to behave by setting it

[2021-08-14 05:07] #82 closed

[2021-08-14 05:11] G-Rowell opened #84 "[Bug] Number column bug with direction=window"
Hi all,
firstly, a big thanks for this @akinsho :heart:

I think there may be a bug with `:ToggleTerm direction=window` & with the `hide_numbers = true` setting.

it doesn't seem to respect/restore the line numbers when `:ToggleTerm` is run again to 'hide' the window term.

I did just replicate this on a reasonably minimal install, but maybe I still have made a mistake somewhere?

If you can guide

[2021-08-14 08:41] andreicorpo commented on #83
Thank you for you quick answer! But I have problems with setting the cursor via `guicursor`, I can't find a option to set the terminal cursor with it.

[2021-08-15 16:19] akinsho commented on #83
@andreicorpo tbh I don't know how/if you can set the terminal mode cursor, but I guess in general I don't really think this plugin should mess with a user's cursor. I personally don't think that is part of the functionality this plugin should provide. I think the best way to achieve this is to set an autocommand on `TermOpen` and see if the `guicursor` can be changed on term enter and termleave, b

[2021-08-15 16:38] andreicorpo commented on #83
Sure, I totally agree. I was just curious if it was possible, not necessarily via the plugin. Thank you so much for your answers! I'll close the issue now.

[2021-08-15 16:38] #83 closed

[2021-08-16 19:47] olimorris opened #86 "Integrating with Vim-Test"
For reference, I integrated this with `vim-test` with the following snippet:

[code]

Could not get the damn thing to work with just pure Lua so had to default to VimScript (puke emoji)

[2021-08-16 19:48] olimorris commented on #86
@akinsho happy to make a pull on the readme

[2021-08-16 19:48] #86 closed

[2021-08-16 20:11] akinsho commented on #86
@olimorris thanks for the snippet 👍🏿 tbh I've been considering making a PR to `vim-test` for quite a while but a) haven't had much time b) didn't know if some miraculous lua competitor would emerge but I think official support in vim test which is the defacto testing plugin for vim would be ideal. Regarding this snippet though, could the following snippet work, which is slightly more lua-y/less ve

[2021-08-16 20:12] akinsho commented on #86
Happy to have a snippet in the README till there's official `vim-test` support, but not sure when I'll have time to do that 😆

[2021-08-16 20:24] akinsho commented on #84
Hi @G-Rowell 👍🏿,

There's almost certainly quite a few bugs with the window layout, I added it largely as an afterthought and almost never use it. It's also one of the messiest layouts because it depends on re-using the window that the user's buffer was in, so things like ensuring the window options like `number` are set and reset properly is a pain because unlike other layouts we'd have to check

[2021-08-16 21:00] olimorris commented on #86
I too have been waiting for an `nvim-test` to emerge 😄 . The rate of new Lua plugins that hit the neovim subreddit is insane, so who knows. I see that `vim-test` have approved some core Neovim strategies in the last week!

So this was the best I could do (also tidying up my horrible naming):
[code]

Still verbose but at least we're calling Lua.

[2021-08-17 03:08] G-Rowell commented on #84
Hi Akinsho!

Thanks for your response,
I'm busy with uni exams myself so hopefully I'll be able to try help out in the future

Really appreciate, hope to PR soon

[2021-08-20 18:45] #55 closed

[2021-08-22 18:08] akinsho commented on #86
Feel free to make a PR to add this to the README btw till I have some time to make an official PR to vim-test 👍🏿

[2021-08-22 18:29] akinsho commented on #86
I tweaked it a little more on my end and added it to my dotfiles the only real change is the use of luaeval to avoid the string concatenation bit, so it's slightly more readable, although that's definitely debatable.

[code]
NB: the second `0`  is a hack for a bug I'm going to fix soon where the terminal number is required, but actually you can do without it and toggleterm will use the last create

[2021-08-24 16:02] jjuel opened #89 "Floating Terminal is fully-transparent"
So when I open the terminal I an literally see everything on the neovim window behind the terminal. I have messed with the shading and shade factor to no avail. What setting do I need to adjust to make the terminal not transparent?
![toggleterm](https://user-images.githubusercontent.com/2584714/130650500-dba832c4-130b-45d8-bc50-f6589d59044f.png)

[2021-08-24 16:08] akinsho commented on #89
@jjuel I think for some reason I can't fathom your terminal/neovim is responding badly to the `winblend` option that is set for floats, it's set to 3 which should give only the barest hint of transparency but it doesn't seem to be compatible with your config/terminal. Can you try adding `winblend = 0` to your `float_opts` and see if that fixes things for you (you'll need to verify in the README ex

[2021-08-24 16:14] jjuel commented on #89
@akinsho Yes setting `winblend = 0` fixes this issue. Yeah I am not sure if kitty terminal is the issue or something else in my config, but that setting makes it fully usable now so thank you!

[2021-08-24 16:14] #89 closed

[2021-08-26 14:11] maxxnino opened #90 "Can't change default shell to powershell or pwsh"
- The default Shell like `cmd` is working fine. When i change the environment variable `$SHELL` to `pwsh` or `powershell`. The toggle term open with empty window.

![empty](https://user-images.githubusercontent.com/34153891/130977890-912aa267-4902-4f3d-8b20-f9302a02ed2d.png)

- I try to type something and press enter. It's flash some words about 1 second and auto close the window

![flash](https:/

[2021-08-28 14:14] tknightz commented on #80
@kiuKisas Hey! I made a telescope extension, you can check it out [telescope-termfinder](https://github.com/tknightz/telescope-termfinder.nvim)

[2021-08-28 14:24] kiuKisas commented on #80
Awesome ! I'll give a try :)

[2021-09-02 16:27] InigoMarin opened #91 "How to run the shell command in the appointed line in vim"
hello,

I have this in  my Neovim.

 map <F12> :exec '!'.getline('.')

How can I do it with your plugin?

[2021-09-03 08:40] akinsho commented on #91
@InigoMarin you can just construct a command similar to that using the `TermExec` command which is documented in the README.

Something like `map <thing> <Cmd>execut 'TermExec cmd="'.getline('.').'"<CR>'`. you can have a go with something like that and figure out the details

[2021-09-03 17:46] InigoMarin commented on #91
Thank you for your reply @akinsho , I have succeeded.

The way to do it would be:

nmap <leader>x <cmd>execute 'TermExec cmd='.shellescape(getline('.'))<cr>

[2021-09-03 17:46] #91 closed

[2021-09-07 16:02] bytesizedpcs opened #92 "Show mode"
Is there a way to show the mode that the terminal is in? Normal, insert, etc.

[2021-09-07 16:17] akinsho commented on #92
@bytesizedpcs your statusline should show you what mode your current window is in if you have one setup or are using a plugin. Alternatively, you can turn on `showmode`.

[2021-09-10 19:27] michzappa commented on #84
hey @G-Rowell I see NvChad no longer uses this plugin so I assume you're not going to be taking a stab at this, is that correct? The window layout is kinda important to my workflow so if not I can try, though it might be a bit before I have enough time/understanding of the existing code.

[2021-09-11 17:11] EdenEast commented on #90
This is an issue with neovim. There is an issue with `termopen()` when `vim.o.shell` is set to `powershell` on windows. Refer to neovim issue [#15634].  I created a workaround in my config for this issue in [this commit]. This also requires that `vim.o.shell` is set to the default `cmd.exe` on windows.

[#15634]: https://github.com/neovim/neovim/issues/15634
[this commit]: https://github.com/EdenE

[2021-09-12 03:57] maxxnino commented on #90
@EdenEast thank you, it work, i use [LunaVim](https://github.com/LunarVim/LunarVim)
 - Script open lunarvim
[code]
 - Custom shell config
[code]

[2021-09-12 19:32] akinsho commented on #90
Excellent, thanks for sharing @EdenEast 🙏🏿 . Gonna close this out then

[2021-09-12 19:32] #90 closed

[2021-09-12 22:42] michzappa commented on #84
I've tried my hand at the "save settings then autocmd to re-set them" approach but despite the settings appearing to change in the plugin code itself the change is not reflected in neovim itself. In the meantime I'm trying to get an actual debugger setup in neovim to see this code at runtime, but that's not yielding great results so far.

https://github.com/michzappa/toggleterm.nvim/commit/07ad2bc

[2021-09-13 07:08] akinsho commented on #84
@michzappa I haven't looked too closely but hiding a toggleterm is not a TermClose event, since that relates to actually ending the terminal process. The event should probably be BufHidden

[2021-09-13 15:56] michzappa commented on #84
Ah. My workflow with the window direction does close the terminal so I was seeing the TermClose event trigger. But I'll try BufHidden later and see how that works, thanks for the tip.

[2021-09-13 22:59] michzappa commented on #84
It seems that by the time BufHidden gets reached `terms.identify()` yields nil since the terminal buffer is no longer visible. I then tried to just set the values of `vim.wo.number` and `vim.wo.relativenumber` with the result of `vim.api.nvim_get_current_win()` but still no change in the window. The lines are definitely executing so I'm not sure what else there is to try at this level.

[2021-09-14 07:37] akinsho commented on #84
@michzappa I think just setting the values with current window won't work since that was the widow whose values were already changed. I think if no clear autocommand is available, although there might be one, and it's just a matter of digging through the vim help, you could also a restore settings function to toggling and if the terminal being toggle is a window then call restore setting and re-ap

[2021-09-14 07:52] G-Rowell commented on #84
Hey,

sorry for being unresponsive to my own issue.

I don't really use Toggleterm myself anymore, but if @akinsho wanted help I'd be more than happy to.

Let me know if I need to do anything here

G

[2021-09-14 14:12] akinsho commented on #92
Closing this out now since I believe it's answered and doesn't really relate to this plugin

[2021-09-14 14:12] #92 closed

[2021-09-15 07:49] augustocdias opened #93 "How to open multiple terminals?"
I'm sorry, but in the README it was not clear to me and from the screenshots it seems possible.

How can I open multiple terminals in horizontal for example?

I usually run `:ToggleTerm direction=horizontal` and as the name says it toggles... Is there a flag to open a new one by the side of the existing one?

[2021-09-15 08:25] baobaoit commented on #93
Hello @augustocdias ,

When you open the first terminal like this:
![image](https://user-images.githubusercontent.com/31947091/133394658-56319997-636d-4689-9907-d127278576f9.png)

You need to escape the `TERMINAL` mode via the `<Esc>` key that has been mapped with the combination `<C-\><C-n>`
![image](https://user-images.githubusercontent.com/31947091/133395516-22fef1e6-633d-4964-9175-f76fabf66794

[2021-09-15 09:00] akinsho commented on #93
@baobaoit thanks for jumping in with the explanation 🥇 that's really helpful, how would you feel about making a PR to the README with similar instructions?

@augustocdias tbh I've never really realised it might be unclear, since I built the plugin so I'm quite familiar with how it works and tbh no one has ever asked before. Hopefully with instructions like the ones above in the README that should

[2021-09-15 09:24] augustocdias commented on #93
Yes. @baobaoit  that is me 😅. Thanks for the explanation

@akinsho I can imagined. I was surprised no one asked, because I searched the issues before asking. 😅
Anyway tks for the plugin. I was a long time looking for something like it.

[2021-09-15 09:24] #93 closed

[2021-09-15 11:42] akinsho commented on #84
@michzappa I've actually been thinking about this a lot and I actually think a much cleaner solution to this is to remove the `window` mode entirely and just use a tab, trying to re-use the window is probably possible but tbh unnecessarily complex if the desired layout is just a full screen terminal that has it's own window settings then just opening a new tab with a terminal and then closing that

[2021-09-15 13:01] michzappa commented on #84
That makes a lot of sense, haven't really used tabs much in my very short (neo)vim usage but I see how that can separate the logic from messing with existing window's settings.

[2021-09-15 13:18] akinsho commented on #84
It's actually pretty straightforward to add I tinkered with it a little in my lunch break and got it mostly working, I'll see if I have time to finish + document it later as well as add in a warning about documenting deprecating the window mode. That should close this issue off then 👍🏿

[2021-09-15 13:23] michzappa commented on #84
Sounds like a plan, I look forward to seeing it. Thanks for your help with this issue!

[2021-09-15 16:04] akinsho commented on #14
![toggleterm-tab](https://user-images.githubusercontent.com/22454918/133468809-41667ac4-2d8a-4a49-9bb5-67e52f742fa5.gif)

[2021-09-15 16:05] akinsho commented on #14
![toggleterm-tab](https://user-images.githubusercontent.com/22454918/133468956-a4d9544c-8e3e-4a13-8c4c-795ddf0c3fc8.gif)

[2021-09-15 18:42] akinsho commented on #14
![toggleterm-tab](https://user-images.githubusercontent.com/22454918/133490969-6a59e623-79db-4ca7-a73b-ef4b24a73b91.gif)

[2021-09-15 18:50] #84 closed

[2021-09-15 23:10] zeertzjq opened #95 "`tabedit %` fails if current buffer has empty file name"
Steps to reproduce:
1. Create a new empty buffer using `:new`
2. Run `:ToggleTerm direction=tab`
3. `Vim(tabedit):E499: Empty file name for '%' or '#', only works with ":p:h": tabedit %`

[2021-09-16 10:39] G-Rowell commented on #84
@akinsho

Just want to say thanks again for all your efforts into this & many other plugins! 😁

[2021-09-16 17:07] akinsho commented on #95
Thanks for pointing this out @zeertzjq, tbh I don't think I know of a good solution for this 🤔

[2021-09-16 19:26] bytesizedpcs commented on #92
Even with `showmode` enabled, on floating windows there's nothing that shows up within the status line; at least not with galaxyline.

[2021-09-17 07:40] akinsho commented on #92
@bytesizedpcs tbh this problem seems out of scope for this plugin, I think whatever the solution would be would involve something in a user's config if possible since.

[2021-09-21 20:45] davidlunadeleon opened #97 "Is it possible to open the terminal without moving NvimTree?"
Steps to reproduce:

1. Open file and open NvimTree.
2. Toggle terminal to open it.

Current behavior:

1. The terminal occupies the whole bottom of the screen, moving the window for NvimTree up.
2. Toggling Nvim-Tree to close and open again results in the expected layout. The tree to the side, and both terminal and file next to it.
3. If the terminal is closed and opened again, the layout returns

[2021-09-21 21:02] akinsho commented on #97
Hi @davidlunadeleon,

Not really, this is a lot more complicated than it seems for a few different reasons,
generally sidebars are just splits like any other, although it's an increasing trend in nvim to have sidebars and things, nvim doesn't treat these windows any differently from other windows, so any behaviour for splits affects all splits. Technically, we could read the window layout as a nes

[2021-09-21 21:16] davidlunadeleon commented on #97
Thank you for the detailed answer! 🙂

It really sounds more complicated than I initially thought it would be, and definitely not something that would be solved in here. Guess that the people migrating from VSCode and other editors are used to the sidebar being there.

In case anyone wants something similar in the future, I'll leave my hacky solution in here:
[code]
Some notes:
- It causes a quick

[2021-09-21 21:22] #97 closed

[2021-09-23 14:45] jrafaaael opened #98 "how to add the setup function to init.vim?"
I pasted the recommended setup in my `init.vim`. When I start neovim, I get the following error:
[code]
my config:
[code]

[2021-09-23 14:47] akinsho commented on #98
@jrafaaael you don't need to/should not copy paste the entire example config into your dotfiles since there are loads of comments that contain invalid syntax. You should instead read through the options in the example in the README and only add what you need. The example is just to show the available options and contains some invalid syntax

[2021-09-23 15:35] jrafaaael commented on #98
@akinsho thank you! solved

[2021-09-23 15:35] #98 closed

[2021-09-24 00:52] kdurant opened #99 "How to quit terminal?"
I want to close a opend terminal, because I want to use  current path as terminal path when I use `ToggleTerm` command

[2021-09-24 09:01] akinsho commented on #99
@kdurant you can close the terminal the same way you would close a terminal outside of nvim e.g. using `exit` or else you can delete the buffer using `:bdelete`. You can also change the directory of a terminal by using the terminal number e.g. `:2Toggleterm dir=my/path/to/thing` which should change the terminal's directory

[2021-09-25 07:33] fattymembrane commented on #66
@is0n I've managed to get this working with lf in a way that duplicates what I was previously using FloaTerm to do (use lf as a file picker for a new buffer). I know absolutely nothing about Lua or VimScript - I just copy/pasted my way to this solution, so it can no doubt be improved quite a bit. It looks like there's an io.tmpfile() function in Lua that would likely be a much better option than m

[2021-09-26 00:55] is0n commented on #66
I've actually been working on a plugin that does this! I just made it public and it can be found at [fm-nvim](https://github.com/is0n/fm-nvim). You can try it out yourself, however, it is far from finished as opening files only sort of works.

[2021-10-06 11:52] Agentzhao commented on #99
[code]
I've added this into my init.vim file but the key bindings in the function don't seem to work. Am I supposed to use <C-k> while in the terminal to move up?

[2021-10-06 16:16] Agentzhao commented on #99
@akinsho Oh ok! I'll try to play around and see if it works. Can I just check if this line
[code]
means it's mapping Ctrl + l in terminal mode to Ctrl+\ Ctrl + n Ctrl + W?

[2021-10-06 16:34] akinsho commented on #99
It's mapping <kbd>C-L</kbd> to <kbd>C-\\</kbd><kbd>C-N</kbd> which is the key sequence to leave terminal mode then the next keys <kbd>C-W</kbd><kbd>l</kbd> is the default window command to jump to the window on the right

[2021-10-07 13:36] #99 closed

[2021-10-10 05:42] GopherJ opened #100 "doesn't work with eleline statusline"
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/33961674/136683902-f23ed806-0427-417e-8497-fabee73d7ab1.png">

[2021-10-10 13:12] akinsho commented on #100
@GopherJ this issue requires a bit more information than just a screen shot, I don't use `eleline` and don't want to install it for this issue. To be clear this plugin does not *at all* touch a user's statusline. It could be that the special characters in the terminal's name are causing some issue for eleline but I would see that as an issue with that plugin and not this one

[2021-10-13 05:38] theSafdarAwan opened #101 "Toggle term is not toggling previous terminal"
[code]
when i open a terminal using ctrl+t and toggle it back using ctrl+t or the ctrl+j i cant open it anymore it just exits am i doing something wrong in my config i have tried the readme configs for but nothing works for me

[2021-10-13 08:54] imSafdarAwan commented on #101
i thoutght that the hidden should be set inside of  toggle term config

[2021-10-13 09:03] akinsho commented on #101
Great 👍🏿

[2021-10-13 09:03] #101 closed, assigned to nobody

[2021-10-17 14:35] krevativ opened #102 "Preserve state without long running process"
I would like to be able to preserve the state even if I hide the terminal without long running process. For example, I would like to execute something like `eslint .` go to file, hide the terminal, do the work and return to the terminal without the necessity to run the command again. Is it somehow already possible or planed? Could not find anything in this direction.

[2021-10-17 16:19] akinsho commented on #102
@krevativ if I understand correctly this should already work. You need to make sure your terminals are persisted by making sure you set the hidden option in vim please check the help docs for the hidden setting and see if it helps

[2021-10-17 17:31] krevativ commented on #102
Hey, thanks for the quick response. If you mean `vim.opt.hidden = true` then I've already did that ([my dotfiles](https://github.com/krevativ/dotfiles/blob/main/nvim/lua/settings.lua#L41)). I've also inspected this setting at runtime and it is activated. But either way, it seems not to preserve the state anyway. Is there some other info I can provide you? I'm using the latest nvim dev build for ex

[2021-10-17 18:03] krevativ commented on #102
I've did that but without the '--noplugin' argument, because the plugin must be loaded somehow. And it doesn't work.

Here is my minimal config:

[code]
I'm pressed `<space>t` (also tryed with `1<space>t`) to toggle the terminal. Run some command like `echo 'foo'` for example. Press <space>t twice and the state is lost.

It also works with the normal :terminal and the 'caenrique/nvim-toggle-termin

[2021-10-17 18:11] akinsho commented on #102
@krevativ okay, I think I understand what is going wrong. The manual mapping you are creating doesn't actually work. If that's from the docs it shouldn't be there any more, although I think I advise against trying to use a manual mapping since it's easier for this plugin to work if you just specify the `open_mapping` configuration option.

can you instead set `open_mapping = '<leader>t` and see if

[2021-10-17 18:12] akinsho commented on #100
Going to close this out since I haven't had any more information and it's not clear to me how this plugin could be affecting a user's statusline since it doesn't touch that part of nvim at all.

[2021-10-17 18:12] #100 closed

[2021-10-17 18:23] #102 closed

[2021-10-18 13:19] jakobkhansen opened #103 "TermExec open=0 don't close terminal if it was already open."
Hi,

I'm using TermExec to run a command and would like the state of the terminal (open/closed) to stay the same. If i send the parameter `open=1`, it will open the terminal if its closed and `open=0` closes the terminal if it was open before. I would like the terminal to stay in the same state as it was before the command ran. Is that possible?

[2021-10-18 13:33] akinsho commented on #103
@jakobkhansen I don't think so, the `open` option was added by a user who had that use case. I personally don't use it. I guess some sort of third option could be added but frankly as this was a user contributed feature that I didn't really have any particular attachment to I don't think I'd add it myself but will review and help guide a PR 🤷🏿‍♂️

[2021-10-18 19:18] jakobkhansen commented on #103
Thank you, I was able to do what I wanted with that 😊

[2021-10-18 19:18] #103 closed

[2021-10-22 01:36] ngocminhkevin21 opened #104 "Toggleterm.nvim doesn;t work with require "toggleterm".setup{}"
I have installed neovim 0.5 and toogleterm.vim via vim-plug. But when I add this to my init.vim:
![image](https://user-images.githubusercontent.com/82588842/138379125-d4966cf8-744f-49ec-a766-9fae5fdc7b42.png)
It has this:
![image](https://user-images.githubusercontent.com/82588842/138379168-1b679528-f816-4642-8f93-b893a0398e06.png)
So someone can help ???

[2021-10-23 08:48] yamafaktory opened #105 "Size and direction options ordering swallow direction setting when ordered alphabetically"
Hi @akinsho and thanks for this awesome project 👍️!

While playing with the configuration, I noticed a somewhat surprising behavior.

Depending on how you order the configuration options, the `direction` one might be skipped.

# Working configuration

In this case the direction is working as expected:

[code]

# Non-working configuration

In this case the direction fallbacks to `horizontal`:

[cod

[2021-10-29 21:24] jorgerojas26 opened #106 "[Feature] Make a smart toggle function"
Is it possible to have a Smart Toggle Function in which we can open or close all the terms with just one mapping?

[2021-10-30 04:47] #106 closed

[2021-10-31 13:06] jrafaaael commented on #93
Hello! I am getting the error `E481: No range allowed`.
My config:
[code]

[2021-11-01 13:25] QiBaobin commented on #95
@akinsho , can we you `tabnew` instead of `tabedit`?

[2021-11-01 14:17] akinsho commented on #95
@QiBaobin unfortunately not, I actually ran through a few attempts to fix this including that but didn't document my findings here but having to do this by memory. I think that was one of the first things I tried, but the problem with that is that you can't do `tabnew %` if the buffer is unnamed, this will error all the same. One way round is to do `tabnew <name-of-buffer>` but you don't have acce

[2021-11-01 22:17] zeertzjq commented on #95
How about first `tabnew` and then setting `bufhidden=wipe` for that temporary buffer?

[2021-11-05 22:34] #95 closed

[2021-11-05 22:34] akinsho commented on #95
Sorry only now got a chance to reply/look into your suggestion @zeertzjq, it seems to work 👍🏿 just pushed a fix with that change in. Not sure if I'm missing anything though 🤷🏿‍♂️ 😅

[2021-11-07 07:23] meijieru opened #108 "`on_open` doesn't perform correctly"
The `on_open` hook doesn't take effect.

Steps to reproduce:
1. with the following config
2. execute `:lua require('telescope').extensions.asynctasks.all()`
3. select the item

Expect: The terminal is in insert mode
Actual: The terminal is in normal mode

What I have tried
1. Directly run `:AsyncTask file-repl` is OK
2. I manually insert some `vim.fn.input` [within the code](https://github.com/aki

[2021-11-07 11:17] akinsho commented on #108
@meijieru sorry I'm quite confused by this issue since it seems to involve using another plugin I don't know anything about, so it's not clear to me how the terminal is being toggled when used like this. Can you reproduce this issue in a minimal environment without this other plugin i.e. just toggle a normal terminal and add an on open command? I have on open commands in my config which definitely

[2021-11-07 13:03] jrafaaael opened #109 "unable to get multiple terminal"
My config:
[code]

nvim version: `NVIM v0.6.0-dev+498-gd0f10a7ad`

After I press `<ESC>` and then `2<C-\>`, in my statusline is wrote `2^\` but nothing happens

[2021-11-07 13:13] akinsho commented on #109
@jrafaaael from the config above you have set your open mapping to `<c-t>` not `<c-\>` which is why it isn't working you need to use `2<c-t>` if that's what you have set to your open mapping.

[2021-11-07 13:22] jrafaaael commented on #109
@akinsho thanks a lot! It is something that I had not been able to solve since I use the plugin!

[2021-11-07 13:22] #109 closed

[2021-11-07 16:05] meijieru commented on #108
@akinsho I tried to simplify it as much as possible and currently no interaction with `asynctask.vim` and `asyncrun.vim`.
 [telescope-asynctasks](https://github.com/GustavoKatel/telescope-asynctasks.nvim) is a short one file script which is an extension of [telescope](https://github.com/nvim-telescope/telescope.nvim).
The fake `asynctasks` doesn't care about the input and try to run `ipython` anyw

[2021-11-07 16:29] meijieru commented on #108
One observation is that when executing `on_open`, the terminal buffer is not opened yet.
Not sure whether it is related.

[2021-11-09 08:49] akinsho commented on #108
@meijieru thanks but I'm still not sure I can follow the flow here as there's some implicit knowledge of what asynctasks might be trying to do that I don't understand. If you create terminal as you have done above and simply call toggle on it later that e.g. directly call the `asynctask_term_toggle()` function that should work and a similar setup works for me. I don't know what the `tasks.ini` doe

[2021-11-10 02:57] meijieru commented on #108
The tasks.ini and autoload function is required by the `telescope-asynctasks`.
So they are corporate to simulate the usage with `telescope.nvim`.

I mean the `on_open` function is called before  the terminal buffer opened.

[2021-11-10 06:53] kishikaisei opened #110 "[Bug] TermExec passes null instead of string on Windows"
When using `termexec cmd='anything'` it passes `null` to the terminal instead of `anything` and it doesn't even run it:

![ezgif-5-78b0f6af5e25](https://user-images.githubusercontent.com/1894123/141064252-11081a0f-2031-4d20-93fa-54f0809ca9d9.gif)

I am on windows, and it the same thing if I am using `cmd` or `pwsh`.

[2021-11-10 11:18] akinsho commented on #110
@kishikaisei this is likely a windows related bug since when I do the same thing on macos and Ubuntu I get the expected behaviour. As I've mentioned in quite a few issues in the past I'm not a windows user so don't know anything about what is required to make functionality work on that platform so I depend *entirely on windows users* for PRs to debug and fix windows related functionality.

In this

[2021-11-10 12:15] kishikaisei commented on #110
I do have JIT (LuaJIT 2.1.0-beta3), and double quotes have the same behaviour.
I will try to make a PR, but no promises, as I have not much time, nor experience with this :)

[2021-11-11 02:25] jrafaaael commented on #34
Hello , @akinsho ! I trying this but I get the error: `attempt to index global 'as' (a nil value)`... How to solve this?

[2021-11-11 08:30] akinsho commented on #34
@jrafaaael you can't copy the snippet verbatim you have to adapt it to your configuration. it contains helpers from my own config, namely the `as.tnoremap` is specific to my config you need to read the docs for `vim.api.nvim_buf_set_keymap` and use that instead

[2021-11-11 13:13] jrafaaael commented on #34
@akinsho thank you! For anything with the same problem..:
[code]

[2021-11-11 22:42] DanielCardonaRojas opened #111 "ToggleTerm opens 2 terminals"
I've been using this plugin for a while but haven't been able to fix the following issue:

After starting neovim the first 2 times I call ToggleTerm will result in 2 open terminals.

This is my config using packer:

[code]

![image](https://user-images.githubusercontent.com/5472687/141379371-ff207de0-f6b8-47dc-9bcc-fa9d3e76f560.png)

after closing them ToggleTerm will work just fine.

[2021-11-11 23:21] akinsho commented on #111
@DanielCardonaRojas are you able to whittle this down to a minimal configuration. Based on the description you've given I can't/won't be able to narrow this down. If you can get a minimal init.lua running with only this plugin that reproduces this issue then I can try and help. In all likelihood though it sounds like something else in your config is causing this interaction since it doesn't reprod

[2021-11-12 00:07] DanielCardonaRojas commented on #111
Yeah you might be right I'm using NVchad as my base config

[2021-11-12 08:32] akinsho commented on #111
As far  as I know NVChad  has its own terminal plugin builtin,  so there's probably some other logic in your config that is also handling buffers and conflicting with this plugin

[2021-11-12 09:27] gacallea opened #112 "Feature: match current colorscheme/theme"
hi :)

first things first: thank you for this plugin.

Would it be possible to match neovim theme/colorscheme that one has set?

thank you

[2021-11-12 10:30] akinsho commented on #112
@gacallea this needs more clarification, i.e. what you mean by match the colorscheme. By default, a neovim colorscheme can set terminal colours and a terminal will by default match the colorscheme or be tweaked by the colorscheme author. What this plugin does is darken the terminal colour to look different, it does not apply colours or re-style the terminal. This is not the objective of this plugi

[2021-11-12 13:21] gacallea commented on #112
@akinsho I see. would it be possible to add an option beside 'darken' to 'match' the current neovim theme/colorscheme? I understand it's very much by design to make it look different, but it would be nice to have the choice.

btw this happens already by default when float is set. only horizontal and vertical look different.

please and thank you

[2021-11-12 14:00] DanielCardonaRojas commented on #111
Jum.... I tried to search through nvchad but didn't find anything relevant although, I know its not the mapping since I'm executing the command manually (:ToggleTerm).  Looks like someone has suggested using toggleterm as the default plugin in NVChad, would be great, since there is no support for reopening the same terminal buffer currently:

https://github.com/NvChad/NvChad/issues/489

[2021-11-12 14:18] akinsho commented on #111
@DanielCardonaRojas I think they used to use it but decided to move away from it for some reason, there was an issue here where I spoke to some people working on that project, and they ended up moving to their own implementation, so I wouldn't be surprised if they set an autocommand or something that causes this. In either case, I don't think the issue is native to this plugin, though.

[2021-11-12 14:21] akinsho commented on #112
@gacallea this doesn't require a new feature, as it is already possible to turn off the shading. This is documented in the README, if you set `shade_terminals = false` this plugin will leave the highlighting alone and not darken  it. To be clear this plugin will not set specific highlights for the terminal or anything it will either shade it or leave it be, those are the only options, I won't impl

[2021-11-12 18:50] gacallea commented on #112
@akinsho so sorry! I didn't understand that. :(

[2021-11-12 18:50] #112 closed

[2021-11-15 10:54] akinsho commented on #108
@meijieru tbh I don't really have the bandwidth to investigate this atm, especially since it's not exactly clear to me how to reproduce this issue with just this plugin. If you want to try and debug this on your end the line where `on_open` is called is https://github.com/akinsho/toggleterm.nvim/blob/0b6d65d8b45e261bc17176e86abb3f631c88fc1b/lua/toggleterm/terminal.lua#L345
and the split should be

[2021-11-17 03:49] zbirenbaum commented on #111
I use NvChad too and have no issues. My config and relevant portion in init.lua are posted here:
https://github.com/NvChad/NvChad/issues/489#issuecomment-971146933

[2021-11-17 16:19] molleweide opened #114 "run command on toggleterm startup"
Hi guys,

Is it possible to run command on term startup automatically. I need to run `zsh -il` in order to invoke interactive shell due to some external reasons. Is it possible to specify this in config, eg. `run = `zsh -il`?

[2021-11-17 16:20] akinsho commented on #114
@molleweide you can probably change the shell argument of the plugin to use `zsh -il` instead of whatever your default is. The option should be documented in the README.

[2021-11-17 16:22] molleweide commented on #114
Alright, thank you for replying!

[2021-11-17 21:37] akinsho commented on #114
Can I close this out now? did that work?

[2021-11-17 22:07] molleweide commented on #114
Oh sorry i should have closed. I havent had time to try yet but i am sure it will work. I just didn't understand at first.

[2021-11-17 22:07] #114 closed

[2021-11-19 06:50] meijieru commented on #108
Thanks for the guidance.

[2021-11-21 19:41] tiborsimon commented on #89
`windblend = 0` fixed for me too. I am using kitty on wayland. Thanks!

[2021-11-22 11:38] captainko opened #115 "Support: Open/Toggle Multiple terminals at the same time"
Hi @akinsho.
 I would like to open/close 3 terminals at the same time like the image below.
![image](https://user-images.githubusercontent.com/32269291/142854556-3c36e711-8808-4361-a32b-5bcd28ea3d4a.png)
Please tell me if there's a way to achieve this. Thanks.

[2021-11-22 17:48] antosha417 opened #116 "cann't use gF in floating mode"
When I run compiler in floating terminal I want to be able to press gF on filepath with an error and go to the file with terminal hidden.
But if I press gF the file will open in floating window.
Is it possible to use gF with floating terminal?

[2021-11-23 11:33] akinsho commented on #116
Hi @antosha417, what you describe is normal nvim behaviour the floating window is a window just like any other, so if  you press gF in the window it will attempt to switch to the buffer in the float. It isn't as far as I'm concerned the remit of this plugin to handle specific commands differently but can maybe be handled in your config with a custom mapping using the `on_open` handler to set a new

[2021-11-23 11:34] akinsho commented on #115
Hi, @captainko there is already a command for this called `ToggleTermToggleAll`, it should already be documented in the README. Gonna close this since there is already a solution

[2021-11-23 11:34] #115 closed

[2021-11-24 03:48] NikoKS opened #117 "[feature request] capability to change the size of floating terminal"
Would it be possible to make the floating terminal respect the size setting?
Should be useful for a number of reasons.

[2021-11-24 07:21] tynguyen2k1 opened #118 "first terminal is 2"
This is a great plugin, thank you. But I face the following problem.
I can't start terminal with id 1. Is this a bug?

https://user-images.githubusercontent.com/64082226/143192117-e263f6fe-c99c-41ca-9d71-88d2697d25dd.mp4

My config :
[code]

[2021-11-24 10:09] akinsho commented on #118
@tynguyen2k1 you create a toggleterm in your config for lazygit. This becomes the first toggle term and is assigned the id of 1, so all subsequent terminals will be after that id. You can potentially add your own id to the lazygit terminal by setting `id = 1000` or `number = 1000` etc. but tbh you should just use 2 and onwards or not create the lazygit terminal till you call a function later in yo

[2021-11-24 10:11] akinsho commented on #117
@NikoKS if you have a look at the README you can specify the `float_opts` and inside this table you can then specify the `height` and `width` although I don't use either of those options they should work for this case.

[2021-11-24 10:15] tynguyen2k1 commented on #118
Thank you

[2021-11-24 10:50] NikoKS commented on #117
Thank you, that works! Any chance it can be changed as a percentage instead of character length?

[2021-11-24 10:54] #118 closed

[2021-11-24 12:01] akinsho commented on #117
I'd be happy to take a PR to add that functionality, but probably won't do that myself. You can derive something like that on your end though, just `vim.o.lines * 0.30 -- 30% height` or `vim.o.columns * 0.5 -- 50% width`

[2021-11-25 09:56] augustocdias opened #119 "ToggleTerm window is not being darkened"
I'm using neovim 0.6 (HEAD) and somehow the background of toggleterm is not being darkened. Even though it is correctly "set".

I use [TokyoNight](https://github.com/folke/tokyonight.nvim) theme and I configured toggleterm to act as a sidebar (which effectively makes the background darker) by setting the `winhighlight`. From what I could understand from toggleterm, it does the same.

[code]

If I

[2021-11-25 13:12] antosha417 commented on #116
@akinsho, thanks a lot for your answer!
I ended up writing this simple function
[code]
and then setting a keymap for this
[code]

[2021-11-25 13:12] #116 closed

[2021-11-26 02:23] DanielCardonaRojas commented on #111
Finally found the issue, what worked for me was commenting out the following auto command line in nvchad default config:

[code]

[2021-11-26 10:09] akinsho commented on #111
Yeah, that would be it, since toggleterm sets the terminal to `toggleterm` so changing it will undoubtedly cause all sorts of chaos. Going to close this out now then 👍🏿

[2021-11-26 10:09] #111 closed

[2021-11-30 09:59] akinsho commented on #119
Hi @augustocdias,

I'm not entirely sure what you've done with Tokyo Night I'm unfamiliar with it, and it's highlighting. By default, this plugin should shade a terminal buffer. A user should not tamper with the `winhighlight` it sets, or it will not work. It isn't setup to handle multiple different sources applying a window highlight. I've never encountered an issue like this before, so not sure

[2021-11-30 10:00] akinsho commented on #117
Going to close this out since there is a solution. As mentioned, if someone would like to implement the percentage behaviour, I will happily review or guide a PR.

[2021-11-30 10:00] #117 closed

[2021-11-30 12:28] augustocdias commented on #119
I didn't add anything. I was doing that to debug. It is what you do to darken the buffers and I was trying manually to try to debug the issue.
I don't have any manual highlighting on my config. What I'm saying is that neither trouble nor toggleterm windows are being darkened as they should.

[2021-11-30 12:41] akinsho commented on #119
@augustocdias can you provide a minimal configuration that reproduces this issue. Based on what you've described, I don't know how to help, since I can't reproduce this issue on my end.

[2021-11-30 13:59] augustocdias commented on #119
If you load this config you'll notice that the toggleterm terminal is not darkened

[code]

[2021-11-30 14:47] akinsho commented on #119
@augustocdias I haven't tried the config yet but looking at
[code]
These settings at a glance do not seem like they will be compatible with this plugin maybe,  looking briefly at tokyo night it seems that that setting is trying to do a similar thing to what my plugin is already doing so it's duplicating the work. I think you should remove toggleterm from tokyo night's config and only rely on the h

[2021-11-30 15:53] akinsho commented on #119
@augustocdias you have to also remove terminal from the sidebars list

[2021-11-30 16:49] augustocdias commented on #119
Still with issues...

[2021-11-30 16:58] akinsho commented on #119
I'm really not sure what is going on then. If you disable tokyonight does toggleterm work correctly, in which case the problem is an interaction of both plugins. As I mentioned they are both trying to change the window highlight which will definitely break each other, so you need to turn off one plugins winhighlight or the other. You can disable shade terminals for this plugin and use whatever tok

[2021-11-30 17:45] augustocdias commented on #119
This is the output of it with TokyoNight on:

[code]

This is without any theme:

[code]

I still don't see it darkened...

I don't know if it is relevant, but I'm using neovim nightly and I've tested this in alacritty and in iTerm.

[2021-11-30 19:49] augustocdias commented on #119
It does not work even without Tokyo night or any theme installed and yes I'm using termguicolor

[2021-12-01 11:46] augustocdias commented on #119
I disabled the`shade_terminals` flag from toggleterm and it started to respect the option from the theme (which for me is what I want), but the default shading is not working anyway... I can help you investigate if you want, otherwise you can close the issue.

[2021-12-01 14:14] akinsho commented on #119
@augustocdias that's good that that works. Tbh I'm seeing shading on my end and I believe it's also working for other users so I'm happy to close this out since I think the most likely cause might be down to something about your setup/config. Since things are how you want it on your end, I'll close this out.

[2021-12-01 14:14] #119 closed

[2021-12-01 14:15] grimgort opened #120 "ToggleTermCloseAll not working with last commit"
hello,
ToggleTermCloseAll is no longer functional since the last commits

[2021-12-01 14:16] akinsho commented on #120
@grimgort that command got deprecated in favour of just one command called `ToggleTermToggleAll` if you want to explicitly close terminals you can use `ToggleTermToggleAll!` please have a read of the updated README for more info

[2021-12-01 14:22] augustocdias commented on #119
Yeah. Just a final note:

Tks for devoting your time on this plug-in. It is really helpful for me and improved a lot my workflow :)
I love it.

[2021-12-01 23:05] akinsho commented on #120
I think this is answered by the above, so I'm going to close this out since it's informational and the answer has been provided

[2021-12-01 23:05] #120 closed

[2021-12-03 08:21] LamprosPitsillos opened #121 "Opening files from the terminal to be edited in neovim"
I find myself almost all the time navigating through the terminal opening a file in terminal to edit it using `nvim` and having the terminal become a mess (nvim inside nvim with no way of quiting out ) .Is there a way for it to recognize that it's opening a file and send it in any of your buffer?
I think the `vifm` plugin does something similar.

[2021-12-03 13:23] briandipalma opened #122 "[Feature request] add terminal_mappings"
Means you can use the mapping to open and close a terminal when `insert_mappings` is set to false. My mapping uses my leader key (space) which was causing issues in insert mode. But if the mapping could work in terminal mode it would be great. It's a tiny change, happy to raise a PR if it makes sense?

[2021-12-05 13:55] akinsho commented on #121
@LamprosPitsillos so this problem is actually way beyond the scope of this plugin, since it's essentially about how nvim terminals handle nested sessions. There are some issues in nvim relating to this, but there have been solution available for a while.

I personally recommend using https://github.com/mhinz/neovim-remote (built by an nvim contributor) with this setup then when you open a file fro

[2021-12-05 13:56] akinsho commented on #122
Hi @briandipalma, so I'm not sure if I understand the problem you're describing. Can you rephrase this problem or clarify further?

[2021-12-06 15:05] briandipalma commented on #122
My open terminal mapping is `spacebar (leader) tt`, so in normal mode there is a pause when I hit spacebar. I had to set `insert_mappings` to false to stop it. I like toggling the terminal when in terminal mode so I added a terminal mapping to do that. I was thinking it should probably be built in to the plugin for cases like mine though.

[2021-12-08 23:31] dineshKumar777 commented on #90
Adding this for reference, when configuring custom vim. Tested and working fine with nvim 0.7

[code]

[2021-12-09 08:53] angryheng opened #123 "how to create multiple terminal window"

[2021-12-09 09:32] akinsho commented on #123
@angryheng  please check the README this describes how to use the plugin and how to open multiple terminal windows

[2021-12-09 15:47] #123 closed

[2021-12-10 09:25] tuxflo opened #124 "[ Question ] Is it possible to send <C-c> to a terminal?"
Is there a way to cancel the currently running process inside a ToggleTerm, which was previously started using `:TermExec cmd="my long running process"`?
Currently I have to move the cursor into the ToggleTerm buffer, enter insert mode, hit `<C-c>` and switch back to my previous buffer.

[2021-12-10 11:34] akinsho commented on #124
@tuxflo nope there is no built-in mechanism for that, and I'm not aware of anyway to do that I guess you could write a mapping that switched to the right terminal and used `vim.fn.feedkeys` to try and send that key, but that's too convoluted a thing for me to add to this plugin and I think should be fixed/implemented in a user's config.

[2021-12-10 15:54] tuxflo commented on #124
OK, thanks for the clarification, I'll try to do your suggestion when I find some time.

[2021-12-10 23:01] #124 closed

[2021-12-13 15:23] akinsho commented on #122
@briandipalma if I understand this correctly the particular issue is with the fact that you use spacebar as a leader key since on my end I'm able to toggle the terminal with my open key even in insert mode? I'm not sure a specific binding to circumvent this edge case is required if it can be fixed via a config change and is specific to the open key a user chooses.
I might have misunderstood this i

[2021-12-13 15:26] akinsho commented on #122
Although one potential area that needs fixing is that the `terminal` mapping is also set only if `insert` mappings is true
https://github.com/akinsho/toggleterm.nvim/blob/f725433e59422d0514ffa2582c534da965b0e44f/lua/toggleterm/terminal.lua#L82
🤔 I don't like the idea of yet another configuration option called like `terminal` mappings though. I guess if I were going to allow any change it would be

[2021-12-14 21:33] redxtech opened #125 "Shell Swallows <Esc> Key"
I use `zsh`, and I use its `vi`-mode bindings. As such, when I press `<Esc>` within the ToggleTerm, the shell captures the `<Esc>` keypress and puts me into edit mode in the shell, but leaving me in insert mode in the ToggleTerm vim window.

Is there an easy way to get around this? Or do I have to change my `.zshrc` to not use `bindkeys -v`?

Thanks!

[2021-12-14 22:49] briandipalma commented on #122
I was thinking more of another if condition here: https://github.com/akinsho/toggleterm.nvim/blob/f725433e59422d0514ffa2582c534da965b0e44f/lua/toggleterm.lua#L40

The issue is that, if someone uses a leader based mapping to toggle the terminal, whenever the leader key is hit in insert mode Neovim pauses to see if the complete toggle terminal key combination is entered. This pause mess up typing fl

[2021-12-15 10:00] grimgort opened #126 "[Feature request] send popup when task ending"
Hello,
it would be great if there was a popup to warn that a task of the terminal ends. Like in https://github.com/jlesquembre/nterm.nvim but with other terminals (i use powershell).
Maybe the task is too complex but I ask that in case.

[2021-12-15 10:07] akinsho commented on #125
@redxtech as far as I know vi mode in terminal does not work in neovim regardless of using this plugin or not. The same functionality you describe would not work in the native terminal. I don't have  solution for this unfortunately. Happy to take a PR if you think of one.

[2021-12-15 10:11] akinsho commented on #126
@grimgort I think this is possible by hooking into the `on_exit` event of each terminal which we already do in this plugin but this plugin doesn't natively create popup notification and I'm not going to create custom pop ui for this plugin tbh. It's definitely doable but tbh not something I'm immediately personally inclined to add. If you want to contribute a PR that optionally adds this logic usi

[2021-12-15 13:11] mmazz opened #127 "Question: Send code block in one input line."
Situation example: Python file + toggleterminal with ipython.
It's possible to send a block of code to only one line of the ipython terminal? How I try, each line of code it's one input for ipython, and that's a mess. Also there is a way to show only the output and not duplicate the input (one in each window). I don't know if this is a good thing, but may distract me a little less with less redund

[2021-12-15 14:29] akinsho commented on #127
@mmazz this seems like quite a specific and complex workflow. The general goal of this plugin is not to be a code runner there are quite a few plugins that already do that like https://github.com/michaelb/sniprun this might be a better option. You could probably work something out but I think it would be possibly quite complex/another plugin entirely tbh.

[2021-12-15 17:53] redxtech commented on #125
Oh that's good to know. I think the solution here is probably to find a way to selectively use vi mode only if not in a vim terminal.

[2021-12-16 03:40] meijieru commented on #108
Doesn't observe the problem in the recent version.

[2021-12-16 03:40] #108 closed

[2021-12-17 04:02] jrafaaael opened #128 "How can I check if a terminal created with toggleterm is still active?"
I would like to check if at least one terminal created with toggleterm is still active, no matter it is hidden or not (due to toggle action). Thanks in advance!

[2021-12-17 09:58] akinsho commented on #128
@jrafaaael this is an internal api so could possibly change but you could run `require('toggleterm.terminal').get_all()` to see if the list has any content.

[2021-12-17 16:51] jrafaaael commented on #128
@akinsho thanks! Is what I needed!

non related question: How can I create a conditional mapping?

I am trying to reproduce VSCode terminal behavior: If there are no active terminals, a new one is created. If there are active terminals, hide/show them all, this action is done with the same keyboard shortcut.

What I have tried so far is:
[code]
and
[code]
but I get the errors:
[code]
and
[code]
,

[2021-12-17 19:30] fedoranvar opened #129 "Float position"
Good day to you!

is it possible to set position of float window:
top-left corner (x,y) of float or anchoring by side (North, NorthEast, East, etc.) ?

Thank you!

[2021-12-18 03:13] #128 closed

[2021-12-18 18:31] sarmong opened #130 "On_open for open_mapping"
Can I set `on_open` option for the terminal that gets created with `open_mapping` ?

[2021-12-20 10:37] akinsho commented on #129
@fedoranvar this is currently not supported but ultimately would be about adding the fields to the config object and then passing them to where the window is opened so not complicated to do. I personally am not going to add this in the near future as I don't have the time and am less convinced for the need of this but am very open to a PR since I can see that eventually someone else might want thi

[2021-12-20 10:46] akinsho commented on #130
@sarmong this is already what the on open function does when you open *any* terminal it will use the default on open function

[2021-12-20 10:54] akinsho commented on #122
@briandipalma this has always been a pitfall with insert mappings and nvim I'm not sure there's much I can do here apart from a user changing their mapping or not using insert mappings. Any insert mappings in any context in nvim come with the risk of triggering the timeoutlen 🤷🏿‍♂️ which is why it can be turned off.

[2021-12-20 11:53] sarmong commented on #130
How do I set the default `on_open` function? I don't see such an option in `setup`

From the readme I see that `on_open` can only be passed to `Terminal:new` instance.

[2021-12-20 14:37] akinsho commented on #130
Ah apologies @sarmong I thought I also passed down an on open from the config. That can be added without too much work by adding an on_open key to `config.lua` which is initially set to null then where the terminal is created we can pass in the config's on open function or the one specific to that terminal if it was created ad hoc. Happy to help guide a PR if you're willing to raise one.

[2021-12-20 16:33] sarmong commented on #130
Yes, I'll open a pr. This option needs to be passed here?
https://github.com/sarmong/toggleterm.nvim/blob/265bbff68fbb8b2a5fb011272ec469850254ec9f/lua/toggleterm.lua#L116

[2021-12-20 17:02] akinsho commented on #130
@sarmong I wouldn't add it there. Instead you can add it when the terminal is created here
https://github.com/akinsho/toggleterm.nvim/blob/265bbff68fbb8b2a5fb011272ec469850254ec9f/lua/toggleterm/terminal.lua#L131-L153

If you add in a new line getting the value first from the terminal itself if not then from the config e.g.
[code]

[2021-12-21 09:26] briandipalma commented on #122
Yeah fair enough, I'll experiment with some other keybindings instead :+1:

[2021-12-21 09:41] metalelf0 opened #132 "Question: is it possible to read input from a telescope picker?"
Hi, I'm using toggleterm to open a terminal with lazygit in it, as in the README.

I'd like to be able to input gitmojis (https://gitmoji.dev/) when inside the lazygit commit dialog.

I tried setting up a mapping for the new terminal, as in the README, to toggle the [telescope-symbols](https://github.com/nvim-telescope/telescope-symbols.nvim) picker:

[code]

But when I hit `<C-g>` I do see the te

[2021-12-22 00:51] zeertzjq commented on #125
Have you read `:h terminal-input`?

[2021-12-22 00:56] redxtech commented on #125
No I hadn't, but I just did now. Looks useful. That seems like it should solve my issue, not that it's an issue anymore.

[2021-12-22 00:56] #125 closed

[2021-12-22 23:57] fedoranvar commented on #129
got it.

Thank you!

[2021-12-22 23:57] #129 closed

[2021-12-27 17:02] CleoMenezes opened #133 "Is there any way to force the closure of one of the terminals?"
I opened a program through the terminal, and basically it was in a waiting state while running the app. After closing the app, the terminal continued in the same state as before. That's fine with that, but I haven't found any way to force this instance to close. How could I do in these cases?

Thanks for the great job.
https://user-images.githubusercontent.com/54215258/147492400-10ebe5e7-e1b2-4c55

[2021-12-29 08:50] lpossamai opened #134 "[ Question ] New to Neovim and have few questions about this Plugin"
Hi. Sorry to be creating an issue, but I am new to Neovim (trying to migrate from VSCode) and have a few questions about this plugin... Hopefully, you can help me out? Couldn't find these answers in the documentation.

1. Once I open a new terminal `:ToggleTerm direction=horizontal`, for example, how can I move back to the other tab? It appears I'm "stuck" in the terminal I just opened and have to

[2021-12-29 12:54] bryant-the-coder opened #135 "using powershell"
how can i change my cmd to powershell? cuz cmd is ugly

[2021-12-30 08:04] akinsho commented on #135
@bryant-the-coder I'm not a Windows user, so I don't know the answer to this question this has been asked in other issues, so I believe if you just search this repo issues for the term `powershell` you should find how other users have done this

[2021-12-30 08:05] akinsho commented on #135
See https://github.com/akinsho/toggleterm.nvim/issues/90 as an example

[2021-12-30 08:16] akinsho commented on #133
@CleoMenezes normally `<C-c>` exits a running process for me but from your video it seems to not take this input which isn't something I can reproduce. Can you check on your side that this process actually responds to this signal? If it's a program you are writing yourself that maybe doesn't know to respond to the exit signal, this could happen. In either case, I don't think that not responding to

[2021-12-30 19:17] palandovalex commented on #134
1 for horizont or vertical - just use vim keys to switch windows  - Ctr + w + [ h j k l ]
for float - you always can use this keys, but it will close terninal
2 if you use horisontal terminal in bottom, you can switsh windon to down - it will activate vim normal mode.
3 you can use custom keymapp for it:

nnoremap <D-left> :vertical resize -5<cr>
nnoremap <D-down> :resize +5<cr>
nnoremap <D-up> :r

[2021-12-30 20:55] lpossamai commented on #134
Thanks for your reply.

That doesn't work for me. `CTRL + W + [ h j k l ]` does nothing (I'm using Neovim).

Sorry, what do you mean?

Thanks! That worked!

[code]

[2021-12-30 22:10] palandovalex commented on #121
I think this problem can be solved without this mess, just inside vim it self.In this inside terminals - there must be aliases:

alias nvim=nvr --remote

Or if it is inside lunarvim -

alias lvim = nvr --remote

[2021-12-31 02:47] QiyJarw opened #136 "Not rendering partly previous log when toggling the terminal"
# Not rendering  partly previous log when toggling the terminal
Hi, I'm using this plugin to comfortable dev-life.
When I toggle a terminal, part of the previous output isn't shown, and command-line rendering collapses like the screenshot below.

![image](https://user-images.githubusercontent.com/38282544/147799847-756fdc88-aaa6-43d5-9ac1-c3b97b983ecc.png)

## Environment
- OS: Win 10 Home
- Shell

[2021-12-31 10:09] akinsho commented on #136
Hi @QiyJarw so this looks like an issue with the terminal in neovim and not really with this plugin. For context this plugin just changes how the built-in terminal is shown, it doesn't touch the actual behaviour of the underlying terminal, so I don't have control of how the content of the terminal e.g. prompts and such are shown. TLDR I don't really know how to help since I don't think this proble

[2021-12-31 10:11] akinsho commented on #121
I'm going to close this out since it's been a while and I believe my comment above resolves this issue/clarifies that it doesn't directly relate to this plugin IMO

[2021-12-31 10:11] #121 closed

[2021-12-31 10:19] akinsho commented on #132
Hi @metalelf0, yep, so I think this would be caused by overlapping floating window plugins that both work largely by assuming they are the only floating windows visible and hiding when they are not focused. This is a pretty common pattern. TBH, trying to get them to play together I think would require an unpleasant amount of work/workarounds. I don't really have any suggestions here, since I don't

[2022-01-01 04:29] QiyJarw commented on #136
@akinsho I see... thank you for replying! 😄

[2022-01-02 13:03] akinsho commented on #136
Going to close this out since I don't think this issue comes from a bug in this plugin but rather nvim's terminal/the running programs behaviour

[2022-01-02 13:03] #136 closed

[2022-01-02 13:07] zeertzjq commented on #134
You can read `:h terminal-input` and see if that helps.

[2022-01-04 16:55] akinsho commented on #133
Going to close this out as 1) the terminal buffer can be killed using `:bdelete` 2) it appears to be an issue with the running program that it isn't responding to `<C-C>` 3) this is all about terminal behaviour, which this plugin doesn't change (it only changes the appearance and toggling visibility of terminals not how they run, that comes from nvim core).

[2022-01-04 16:55] #133 closed

[2022-01-05 07:04] tristone13th opened #138 "[question]: lazygit not rightly displayed"
![f3d01299ce60e20ed823f5f11669df1](https://user-images.githubusercontent.com/17382962/148174479-7bfc1e2a-074d-4433-94d7-01d77e62e735.png)

OS: Windows 11.
This is my config, just set the direction to "closed".

[code]

[2022-01-05 09:23] #134 closed

[2022-01-05 10:07] akinsho commented on #138
@tristone13th I'm not able to reproduce this as is and so this issue doesn't provide me with anyway to solve this problem for you. In general an issue should not just be an image unless it fully explains itself which they rarely do. Does this issue reproduce with a minimal setup i.e. the default config.

[2022-01-05 12:01] tristone13th commented on #138
I updated and listed my setup above, it is near to the default config. I think there may be some hidden causes for it, I will list them here when I find them.

[2022-01-06 00:55] jZhangTk commented on #124
I had the same question, and I use this to send `<C-c>` as a command
[code]
It works most of the time. However, it sometimes just rings a bell without doing anything in the terminal.

@tuxflo did you come up with anything better?

[2022-01-06 10:39] augustocdias opened #139 "Error on neovim HEAD"
Neovim introduced [a breaking change](https://github.com/neovim/neovim/issues/14090#issuecomment-1004318147) that passing `nil` is not converted to 0 for current buffer.

This is causing toggleterm to break here:
https://github.com/akinsho/toggleterm.nvim/blob/master/lua/toggleterm/ui.lua#L289

[2022-01-06 12:32] tuxflo commented on #124
No I did not do any research on how to deal with this after receiving the answer above, sorry.

[2022-01-07 02:15] andriati-alex commented on #89
Same issue here with kitty terminal. That fixed for me too. :+1:

[2022-01-10 07:02] trangcongthanh commented on #115
Can `ToggleTermToggleAll` create a new term if no term buffer exists rather than toggle only? Or a new command that combines open_mapping and `ToggleTermToggleAll`. I don't want to bind another key for toggle all only. I need to think twice and keep toggle nothing every time :(

[2022-01-10 09:35] akinsho commented on #115
@trangcongthanh I don't think I'll add this since it seems like a slightly niche use case/ very focused to your workflow and maybe not as generally applicable it also doesn't match the intention of those commands. Presumably if you don't have a terminal open you should not use toggle all but instead just use the open mapping 🤷🏿 . I think adding more complexity to this plugin in order to avoid one

[2022-01-10 11:23] trangcongthanh commented on #115
I knew that look like only for my workflow. AFAIK, VSCode, and JetBrains's products had a shortcut to create the first terminal or toggle all of them. I only want to replicate that behavior.

Before I put a comment here, I already tried to do that from userspace. It has not worked yet. My idea:
- Create a custom function
- Get current count (it's not reliable but maybe works for my case)
- Invoke

[2022-01-11 07:07] you-n-g opened #140 "Title customization for terminal"
Hi,
Thanks for your great efforts to develop such a great plugin.

Currently, if open a terminal,  the title of the terminal is displayed at the bottom of the window.
Like  ` /bin/zsh;#toggleterm#1` in my example.

I want to customize the title and add &channel into the title to get more information.

How could I achieve this with toggleterm?

Thanks for your help in advance :)

[2022-01-11 09:35] akinsho commented on #140
@you-n-g by default the name of the buffer is the terminal command to which I append a toggle term ID which is required for this plugin to work. Depending on how you are showing the title of the terminal e.g. presumably using the statusline or the tabline you can add your own logic to the tabline or statusline to show the terminal name how you want. This isn't something that directly relates to th

[2022-01-11 10:20] ioreshnikov opened #141 ""couldn't find a terminal to close" when toggling a split when a tab is open"
Hey!

I've noticed a mildly annoying bug: if you open a terminal with `:ToggleTerm tab`, switch back to the original tab and then call `:ToggleTerm split`, then you get the error message from the subject. It works perfectly fine in the other order -- a split terminal is being converted into a tab one, but not vice versa.

Best,
Ivan

[2022-01-11 12:18] d0zingcat opened #142 "Close_on_exit not work for lazygit"
As I followed README, I config toggleterm like this way
[code]
But when I press `q` to exit, the terminal shows Process exited 0
![image](https://user-images.githubusercontent.com/8235790/148941398-1064d559-740a-4b6a-87eb-5685ea7251e4.png)
Even though I added `close_on_exit` to the Terminal::new, it also didn't work.

[2022-01-11 13:06] you-n-g commented on #140
Thanks for your reply :)

[2022-01-11 13:06] #140 closed

[2022-01-12 11:42] karimtaylor1781 commented on #140
😁🤔

On Tue, Jan 11, 2022, 8:06 AM you-n-g ***@***.***> wrote:

[2022-01-13 03:13] Patrick-web opened #143 "[feature] scroll Terminal on output automatically"
I always have to switch to the terminal and scroll down to see new output. I would love if this was done automatically.

[2022-01-13 09:20] akinsho commented on #143
Hi @Patrick-web, so I currently maintain this plugin on my own and as such I clarify in the README that if users want certain functionality if they should investigate opening a pull request rather than a feature request. I maintain this as well as several other plugins, so can't add every feature I get requested across all my plugins on my own.

Personally scrolling to the new output for me is as

[2022-01-13 09:22] Patrick-web commented on #143
I totally understand. I'll look into add it. Thanks for the great work

[2022-01-13 14:04] nyngwang opened #145 "question: could you provide a command to switch between terminal splits?"
As title. And it didn't open any split at all.

[2022-01-13 14:06] akinsho commented on #145
@nyngwang I don't think this is necessary or rather I don't see why it would be needed. If you have setup mapping to easily move between windows as mentioned in the README it would be just as easy to press a window mapping to move into a terminal split. A separate command would just be clunky

[2022-01-13 14:59] akinsho commented on #145
@nyngwang unfortunately you haven't provided me with any information at all I could use to help you debug this? what is your toggleterm configuration, have you actually setup `<C-\>` as your open mapping. What mode are you pressing `2<C-\>` from are you definitely in normal mode when you press it? What number is your current terminal? is it definitely one?

[2022-01-13 21:31] Ciacconas opened #146 "<count>TermExec doesn't send command to the specified term, but opens a new term everytime"
Hi, first thanks for the great plugin.

The issue I encountered are very simple. As I understand, if I specify a term count (say 5), then no matter I use `5TermExec cmd="ls" direction="horizontal"` or `lua require"toggleterm".exec("ls", 5, nil, nil, "horizontal")`, I should be sending the `ls` command to the same terminal with a count of 5. But each time I issue any of the commands above, it will

[2022-01-14 10:20] akinsho commented on #146
@Ciacconas so `<count>TermExec cmd` will only work if `<count>` terminal has already been created, the idea is that it sends a command to a running terminal, it won't work if you don't already have a terminal with that number. In that case it will just create a new one

[2022-01-14 14:13] Ciacconas commented on #146
So I should always specify a ` Terminal:new({ count = <count> })` at the beginning right? Thanks for the info!

One more questions about `<count>TermExec cmd`, you mentioned:

but after it creates the new one, If I send the `<count>TermExec cmd` again right after, shouldn't it be sending the command to the just created one? But instead I observed that there will be 2 terms in this case.

[2022-01-15 17:07] AlphaTechnolog commented on #18
How you do it?

[2022-01-16 18:19] #145 closed

[2022-01-16 19:06] akinsho commented on #145
@nyngwang did you figure out how to move between splits in the end?

[2022-01-16 21:11] karimtaylor1781 commented on #145
Ki

[2022-01-20 13:49] you-n-g opened #147 "Toggle the last terminal when running ToggleTerm"
Toggleterm is really a great plugin! Thanks for your great efforts.

I have got a scenario like this.
I want to manage 2 terminal sessions.
Currently, if  I want to toggle the second terminal, I have to run `ToggleTerm 2`.

I want to toggle the second terminal by just running `ToggleTerm`  if it is the last terminal  I activated.  (Currently, the first terminal if I run `ToggleTerm`)

Do you have

[2022-01-20 14:26] akinsho commented on #147
@you-n-g toggle term will toggle the terminal with the highest id first so if you have one that is terminal 1 and one that is 2, then pressing toggleterm should close 2. This is how it behaves on my machine. I won't add a last opened type heuristic because this is complex and error prone tbh and the current behaviour already covers theoretically closing the terminal with the highest buffer id alre

[2022-01-21 03:12] #147 closed

[2022-01-21 03:12] you-n-g commented on #147
Thanks for your reply

[2022-01-21 06:55] you-n-g commented on #147
Finally, I choose  map `<FX>` to  `ToggleTerm X` to meet my requirements.

[2022-01-23 11:46] MageJohn commented on #122
@akinsho could this issue be re-opened? I'd like the option as described in the issue title, specifically a `terminal_mappings` option separate from the `insert_mappings` option. In my case I don't want my terminal mapping in insert mode when I'm typing, but I do want it in terminal mode so I can easily toggle the terminal open and closed.

Also, having the option named `insert_mappings` be in con

[2022-01-23 15:09] akinsho commented on #122
@MageJohn a PR to add this would be great I'm not opposed to being more granular here as long as by default it behaves the same way as it currently does so it doesn't break for existing users

[2022-01-23 21:14] edmbn opened #148 "Terminals opened with "number" (2<C-t>) are always new"
Hello, I have followed all the instructions as the README. I have the `set hidden` configured correctly on init.lua.

I can open a terminal using `<C-t>` correctly and I can toggle it and everytime have the same state. The same is not happening with `2<C-t>` (or any number). Everytime I type `2<C-t>` a new terminal is showing, the others are still alive since I have the server running (did `npm ru

[2022-01-24 13:53] edmbn commented on #148
Solved removing this:

[code]

Would be nice to check why. I'll close it and hopefully if someone gets the same error this can help.

[2022-01-24 13:53] #148 closed

[2022-01-24 14:43] MageJohn commented on #122
I've opened a PR! The default behaves the same, though people who have disabled `insert_mappings` already will now have terminal mode mappings by default. Hopefully the need to update will be obvious from the commit message.

[2022-01-25 08:41] akinsho commented on #122
Fixed by #149 thanks again for the contribution @MageJohn

[2022-01-25 08:41] #122 closed

[2022-01-25 08:43] akinsho commented on #139
Thanks for the report 👍🏿 I don't use nightly so hadn't noticed. I just pushed 46c1eee which hopefully should have resolved this issue. Lemme know if it still recurs for you and I'll reopen this issue

[2022-01-25 08:43] #139 closed

[2022-01-25 08:47] akinsho commented on #135
closing this out as a duplicate that was answered in #90

[2022-01-25 08:47] #135 closed

[2022-01-25 08:47] #127 closed

[2022-01-25 08:49] akinsho commented on #132
Going to close this out since I don't really know that I can solve this but if someone finds this issue and wants to have a go happy to reopen to discuss

[2022-01-25 08:49] #132 closed

[2022-02-08 09:00] DrPoppyseed commented on #143
Hi, OSS newbie passing by. An option to set autoscrolling on or off would be great, I agree.
I was wondering if it could be done quite easily with `norm G` [like in neoterm.vim](https://github.com/itmecho/neoterm.nvim/blob/32e0e78bc862b1ef801f43ea050818e79d437155/lua/vterm.lua#L11).

[2022-02-08 09:45] akinsho commented on #143
@DrPoppyseed I think as you say this can be added simply but as I mention above I'm a bit busy atm so if people have an idea on how to implement this then I would appreciate a PR which does implement this as an option. It should be as straightforward as adding an on `stdout` handler when a terminal is created which runs `vim.cmd('norm G')` every time something is emitted on stdout, but that would

[2022-02-08 15:11] DrPoppyseed commented on #143
@akinsho Thanks. I can't say for sure how fast I can create the PR, but with your suggestions, I'll try something out!

[2022-02-09 04:55] jayceekay opened #150 "mapping C-\ just returns "Syntax error""
I keep getting "Syntax error" when i try `<c-\>` with `open_mapping` defined. I've played with `open_mapping` and tried these:
[code]
All of them give a message at the bottom - "Syntax error".

Here's my entire plugin setup (repro'd here https://github.com/jayceekay/min-nvim-toggleterm):
[code]

I must be doing something wrong. Any help is appreciated.

[2022-02-09 11:09] akinsho commented on #150
@jayceekay I can't immediately see the issue I personally use `open_mapping = [[<c-\>]],` with no problems.

[2022-02-09 22:17] jayceekay commented on #150
Arghhh. Let this be a lesson for everyone: check your tmux bindings! I had this snippet from who knows how long ago which presumably was to patch a bug where `c-\` wasn't being sent from tmux to vim. /shrug

`bind-key -n 'C-\' if-shell "$is_vim" "send-keys C-\\" "select-pane -l"`

[2022-02-09 22:17] #150 closed

[2022-02-10 03:25] thatanjan opened #151 "dir option is not working. Can not open terminal in a specific directory"
I am trying to open the terminal in a specific directory with the command below.
`ToggleTerm dir=~/blogs/ size=10 direction=horizontal`
But it always opens the terminal on my home directory.
Even If I don't specify the `dir` option it opens the terminal on my home directory. But the doc says the terminal should be open in my current working directory.

Am I doing things in the wrong way?

Thanks i

[2022-02-11 01:05] LaBatata101 opened #152 "[Question] How can I set differents keymaps to open toggleterm in different directions?"
I'm using this setup but it didn't worked as I expected.
[code]
If I press `<C-t>` first it will open the terminal in the float window, then if I press `<C-\>` it will also open the float window.
How can this be fixed?

[2022-02-11 10:02] akinsho commented on #152
@LaBatata101 if you are changing direction you need to refer to the *specific* terminal whose direction you are trying to change, the general toggle term command doesn't operate on a specific terminal it finds the last opened terminal and closes it or it opens the closed terminal. If you want to change direction on the fly you need to be specific about the terminal you are trying to target by spec

[2022-02-12 14:28] #151 closed

[2022-02-13 02:53] theairbend3r opened #153 "Background colour in floating terminal does not fill the border"
Hey, my toggleterm floating terminal doesn't look the same anymore. Before it looked exactly like in the README ([source](https://github.com/akinsho/toggleterm.nvim#multiple-orientations)). Now, the terminal background colour does not fill the border.

![image](https://user-images.githubusercontent.com/60727948/153736034-faa29db8-8fa5-4090-a417-6d91b3c7de40.png)

The `shading_factor` argument does

[2022-02-13 09:12] akinsho commented on #153
@theairbend3r I haven't really added any changes in my end that would affect that so likely you've tweaked something in your config. Regarding it but filling the border cells this is a limitation of terminals programs and neovim in general, it's not possible to partially colour the border cells one colour on one side and another on the other.

It looks to me like you've changed the value of your n

[2022-02-13 16:28] venzen opened #154 "<Tab> jumps to previous buffer"
When attempting tab completion in the terminal, the cursor jumps back to the last edit-location in the previous buffer. Is this expected behavior for toggleterm?

When I run `:verbose map` there is no keybinding for the `<Tab>` key.

Assuming that the behavior is expected, is it possible to have the tab key simply perform tab completion in the terminal?

[2022-02-14 09:29] akinsho commented on #154
@venzen toggle term does not set any bindings other than the `open_mapping` it doesn't do anything with `<tab>` and completion in the terminal. I just checked, and I'm able to use tab completion in my setup. maybe try running `:verbose tmap <tab>` and see if it's bound to something in your config

[2022-02-14 12:58] a2n-s opened #155 "Kill all toggleterm terminals on neovim quit."
Hi :wave:

I have a small but yet annoying issue and could not find a related already opened or closed issue...

Imagine:
- I open neovim and a terminal
- I do not close the terminal but try to quit `noevim` anyway, with `wqa!` or `qa!` through the `whichkey` plugin.
- I get the following error
[code]
or some other ones depending on the exact buffer setup inside `neovim`

**Is there a way to close

[2022-02-14 17:41] #154 closed

[2022-02-14 18:10] a2n-s commented on #155
Okey, so I removed everything from my `init.lua` file inside `~/.config/nvim`.

When I open a terminal but toggle it away without killing it:
     - I definitely have the issue with `:wqa!`
     - not with `:q!`, `:wq!` and `:qa!`

When I open a terminal and do not hide it:
     - `:wqa!` gives an error
     - `:q!` and `:wq!` close the terminal buffer
     - `:qa!` works.

[2022-02-14 18:13] a2n-s commented on #155
I would like to find a way to have 2 quit options:
- one that saves all the buffers and quits, the soft one
- and one that force everything and closes without saving the edited and unsaved buffers.
-
And the toggleterm terminals too ;)

[2022-02-14 18:30] a2n-s commented on #155
No idea about the bug...
It does seem to come from `toggleterm` as it appears even with `toggleterm` only :thinking:

However, I think I have a nice solution:
- **replace `:wqa!` with `:qa!` for the soft quit**: it quits if no unsaved buffer, throws the E37 error and switches to the buffer. I cant then just save with `:wa!` or `:w` and quit, which is perfect
- **let `:qa!` for the hard quit**: thi

[2022-02-15 14:12] #155 closed

[2022-02-15 17:39] Bekaboo opened #156 "Lazygit complains 'Not enought space to render panels'"
## My config:

[code]
Notice that I do not have `vim.cmd('startinsert')` in the `on_open` function.

## Actual Behavior
When you open a vertical or horizontal terminal that is not wide/high enough and then call the `Lazy_toggle()` function with your cursor in the vertical terminal, lazygit will complain there's no space for panels. After entering the terminal mode (insert mode) by manually hitting

[2022-02-15 17:57] akinsho commented on #156
@Bekaboo I'm not sure exactly where the issue relating to toggle term comes in to things, `lazygit` is its own program with its own rules around sizing. I don't know how it detects sizes or what the required sizes are or what version you are on and how behaviour changes between versions. I currently don't see this issue, but importantly, I don't manually set the size of the float. If you do and la

[2022-02-16 09:03] celediel commented on #110
Setting `shellslash` at start up by adding `set shellslash` to vimrc or `vim.g.shellslash = true` to init.vim will send the command to the terminal, but doesn't execute it. I've submitted PR #157 to fix the executing of the command, by replacing \n with \r\n for cmd or \r for powershell.

[2022-02-16 09:16] yesmeck opened #158 "There's no way to exit vim in terminal"
Sorry it's more like a question than a issue, but it seems there's no way to exit vim that accidentally opened in terminal (e.g git commit opens vim). When I input `:q` in normal mode, the command is send to the host vim.

[2022-02-16 10:07] #110 closed

[2022-02-17 11:42] #156 closed

[2022-02-19 21:06] akinsho commented on #158
@yesmeck can you clarify the problem a bit more, I'm not sure if I understand. Do you mean that a nested nvim session is being created inside the toggle term? there are tools to prevent nesting such as `neovim-remote` which is built by a vim contributor and prevents nvim sessions from being nested

[2022-02-21 06:41] yesmeck commented on #158
Thanks @akinsho, neovim-remote solves my problem.

[2022-02-21 06:41] #158 closed

[2022-02-21 07:15] ByteDrummer opened #160 "[Question]: Command to explicitly close or open"
Just wondering, are there are any commands that I can run to explicitly open or close the terminal as opposed to toggling? I know older versions had them, but I can't seem to find them in the README.

[2022-02-21 08:36] akinsho commented on #160
@ByteDrummer you can explicitly close all terminals using `ToggleTermToggleAll!` with a `!` at the end. You can also target specific terminals using their terminal number, e.g. `2ToggleTerm`. If you'd like to contribute a PR to implement anything more granular we can discuss it further, but otherwise I'm going to leave things as is.

[2022-02-21 14:49] PanagiotisS commented on #110
I came across this plugin today and attempting to use it I had the same issue.

I am not familiar with neovim's lua interface so please bear with me.

According to neovim help for options https://neovim.io/doc/user/lua.html#lua-vim-options
and how the value can be accessed using https://neovim.io/doc/user/lua.html#vim.opt:get()

However looking at the source code we have,

https://github.com/akins

[2022-02-21 22:00] akinsho commented on #110
@PanagiotisS thanks for digging in and posting this. I'm on mac, so I can't actually test any of this stuff out at all. The `shellslash` option isn't available at all on mac so trying to run that command just errors. I've tweaked it to match what you describe though, hopefully that works for other people 👍🏿

[2022-02-21 23:16] ByteDrummer commented on #160
`ToggleTermToggleAll!` seems to also open the terminal, not just close.

[2022-02-24 21:54] #152 closed

[2022-02-25 07:49] tklebanoff commented on #160
hi folks! first off, nice plugin! the idea of having lua terminal objects which can be pre-configured and toggled is wizard!

i think i have a related issue to OP

in the readme (which is great), it says we can do:
`function _G.set_terminal_keymaps()
  local opts = {noremap = true}
  vim.api.nvim_buf_set_keymap(0, 't', '<esc>', [[<C-\><C-n>]], opts)
  vim.api.nvim_buf_set_keymap(0, 't', 'jk', [[<C

[2022-02-25 07:55] tklebanoff commented on #160
basically i want to include those keymappings so that i can hjkl around, but then have it so that when i close the buffer with :q it actually destroys the buffer.

i suppose i could also use a command to explicitly close the buffer (which is why i kept this question on the thread)

[2022-02-25 07:57] akinsho commented on #160
@tklebanoff thanks for the kind words 👍🏿

If I understand your issue, there are a few things to note

This shouldn't be happening, it'd be great to see a GIF of this behaviour

This also doesn't sound right, what command are you using. I just tried `TermExec cmd='<MyCommand>'` and this works fine repeatedly

Lastly `:q` is not the correct command to delete a buffer `:q` closes a *window* not delet

[2022-02-25 08:10] tklebanoff commented on #160
![bug_gif](https://user-images.githubusercontent.com/48869587/155678911-2b8cfc4f-4e50-43e7-9189-99d71aeaa8cf.gif)
here is a gif! basically, once the terminal opens, i just hit `h` on my keyboard and it immediately closes

[2022-02-25 08:12] tklebanoff commented on #160
i am about to try :bd! instead of :q to see what happens

[2022-02-25 08:17] tklebanoff commented on #160
:bd! worked! but i am definitely experiencing some unpredictable behavior...  now i am noticing that sometimes i can hjkl around and sometimes it immediately closes like in the gif

[2022-02-25 08:19] akinsho commented on #160
@tklebanoff something strange seems to be happening in your terminal, it seems to be closing exiting immediately. It looks like you're running some command or process, which is what is quitting

[2022-02-25 08:21] tklebanoff commented on #160
the process is very fast and exits with code 0

basically, once it has exited, i want to be able to inspect what it has produced, move around within it, visually select things if i'd like, etc.

then, when i close the window, i want the whole thing to start fresh

[2022-02-25 08:23] tklebanoff commented on #160
i might run that same command again at another moment on a different input.  i'd like it to regenerate the output

[2022-02-25 08:23] tklebanoff commented on #160
thank you, btw, for helping me :)

[2022-02-25 08:49] tklebanoff commented on #160
i am wondering if perhaps it might be a setting i have flipped somewhere in my vim config but unrelated to the plugin.  i will hunt to see what i can find

all things considered, this ability of yours to create multiple terminal objects in lua and then toggle them  on/off later will likely revolutionize my editing and automation workflows :)

big thank you 🙏

[2022-02-25 20:43] tklebanoff commented on #160
ok! got it! what i am doing now is keeping the mappings and calling :shutdown() right before :toggle()
for my use case, that seems to be appropriate!

today, my understanding of the api is vastly improved. my eyes must have been a bit tired last night.  i think that it is great! everything is super clear and useful!

thank you for making such a system available!

To the OP: you might be able to ac

[2022-02-25 21:14] tklebanoff opened #161 "is there any way to set something like nowrap in a toggleterm buffer?"
Sometimes, especially in vertical mode, the returned lines have more columns than available in the buffer and so come back chopped and messy on the screen.

I think this seems to be a more general issue with terminal mode buffers in nvim and not specifically something from toggleterm. However, I thought I'd ask to see if you knew of a fix or workaround.

[2022-02-25 21:22] tklebanoff commented on #161
perhaps there is some way to create the terminal with a number of columns different than the number of columns in the window displaying the buffer?

[2022-02-25 21:45] akinsho commented on #161
@tklebanoff as you point out this isn't really a toggleterm issue and is more one of how you handle terminals generally, I'd recommend something like `autocmd BufEnter * if &bt == 'terminal'  setlocal nowrap endif` as a general idea or something like that

[2022-02-25 21:46] akinsho commented on #161
I'll close this out, since otherwise I'll forget, and I'd rather deal with it now. Hopefully the advice helps or you can find a solution elsewhere

[2022-02-25 21:46] #161 closed

[2022-02-27 23:31] #146 closed

[2022-03-04 00:08] huyiqun opened #167 "[Question]: Keep the cursor position instead of scrolling to the end"
Hi! Thanks for the great plugin!

I am using this with `jupyter console` so that I can send code pieces in neovim directly to the terminal and see the output, and I have a question regarding how to keep the terminal window at where it is (after scroll up or down) instead of always jumping to the very end. The use case is that I will usually scroll up in the terminal to examine the output and jump

[2022-03-04 23:15] lopi-py opened #168 "[Feature] update term(float) size on VimResized autocmd"
I have this config
[code]
and when I open a term and resize neovim, tha terms keeps the same size

[2022-03-04 23:55] akinsho commented on #168
@lopi-py so this is the current design, there isn't a way to dynamically update this. You can always contribute a PR if you want this otherwise you could maybe save the window size to a global variable and inside your width and height function you return the value you saved inside something like `vim.g.my_terminal_height = vim.wo.width` this is basically pseudo code but you could try and do someth

[2022-03-05 00:41] lopi-py commented on #168
Thanks, when I have free time I'll try to create a PR

[2022-03-05 21:25] akinsho commented on #167
@huyiqun this feature is currently not supported but if you would be interested in contributing it I can point you towards where in the code base you would need to look to implement this. I guess you would probably want to save the cursor position in the terminal buffer using something like `mkview` and restore it with `loadview`

[2022-03-06 22:24] Looooopy opened #169 "[Question]: How to just toggle term without putting focus on it."
My use case:

I have a command to toggle all TUI on and off but not the open text buffers.
So say I have Nvim-tree and ToggleTerm I hide both and show both when I toggle.

But when I toggle the terminal interface on it automatically take over focus and put it self in insert mode in the terminal.
That is ok if I start a terminal and know I need to do something in the terminal, but not in this use c

[2022-03-06 23:40] KarimLeVallois opened #170 "PDM Pep582 Support"
I'm running a keybinding command to run Python scripts using { "<cmd>:TermExec cmd='python3 %'<CR>", "Run Python Code In Floating Terminal" }, but need to run eval "$(pdm --pep582)" before I can run any code to set the environment variable. I've tried multiple "cmd" options but cannot get it to work with my macOS Zsh setup. The auto setting of the variable is in my .zprofile and works when running

[2022-03-07 03:29] akinsho commented on #170
@KarimLeVallois sorry I have no idea about how to get this working. This seems more specific to your terminal setup in general rather than how this plugin or how it works I guess you could try to set your cmd to a combination starting with the `pdm` command but honestly I don't know it seems like something that should be in your `zshenv` or your `zshrc` since `zprofile` is run only for login shell

[2022-03-07 09:48] thedawnboy opened #171 "[Question] How to let the code run in the toggleterm?"
I've been running code with nvim's built-in terminal before. And the configuration is below.

## Configuration about running and compiling the code in the built-in-terminal

[code]

This is the output
![term](https://user-images.githubusercontent.com/81896522/157007129-44d77c44-3e79-427b-ad59-5e4a509f4480.png)

## Question

So I want to know is there any way to run the code in the toggleterm with

[2022-03-07 18:03] #171 closed

[2022-03-07 22:44] KarimLeVallois commented on #170
I did something REALLY silly! I have a separate .zshrc that I use for Neovim, but I hadn't added the variable to it. Everything works now, sorry to waste your time.

[2022-03-07 22:44] #170 closed

[2022-03-10 09:43] gaborvecsei opened #172 "Send current line or visual selection to the terminal (Solution with custom functions)"
There are a few use-cases where you'd want to send line(s) from a buffer to your toggled terminal. I came up with an easy solution and I wanted to share this with you.

(I saw similar use cases came up in #127 , #62)

# Visual selection of lines

[code]

Use it with a custom command:
[code]

## Single line where your cursor is positioned

[code]

Use it with a custom command:
[code]

## Demo

![to

[2022-03-10 10:48] Asterovim opened #173 "Screen number bug after gulp"
I use neovim v0.6.1
Lastest Treesitter and OneDarkPro color (no custom config)
I use Windows Terminal and WSL2 (windows 11).

Open a file :
![image](https://user-images.githubusercontent.com/34446820/157645899-6b2202f4-c8bc-4ce7-9a1e-35111ee6a1c8.png)

Toggle term float :
![image](https://user-images.githubusercontent.com/34446820/157645950-4308d9c4-e5b3-47ae-be9b-ee7f03a68df3.png)

Toggle term fl

[2022-03-10 15:21] augustocdias opened #174 "Control + key are not being sent to terminal anymore"
I use neovim dev and toggle term stopped sending `ctrl + key` keys to the terminal.

When I press `C-c` or `C-d` it only prints `^C^D` and does nothing.

Edit: actually it is not sending to the child process of a terminal. If I'm running a command and press `C-c` to interrupt it, it does send the signal to the process but if the terminal is waiting for a command/input, it works.

[2022-03-10 15:32] akinsho commented on #173
@Asterovim I don't think this issue is with toggleterm but neovim core, this issue is around core rendering of characters in nvim which really isn't something this plugin controls, all it does is open windows with terminals in them. I think this issue is best reported upstream rather than here.

[2022-03-10 15:35] tinnedkarma opened #175 "[Question] Term name"
Right now, the only way to tell terminals apart is using `count`.
Is this an explicit feature you wanted to have? Why not assign a name for each terminal instance?
I feel like I'm missing information when I'm switching between terminal instances (Yes, I can configure `statusline` to add info about my current terminal, but I usually focus my eyes on terminal and not the `statusline`). More so, I li

[2022-03-10 17:13] akinsho commented on #175
@LuchianMihai so I think this is doable but using the `b:term_title` variable. You can collect the user input using `vim.ui.input` then setting this variable for the terminal. The difficulty will be how to show this name to the user. I'd rather avoid creating complex UI just for this. Either way would be happy to review a PR for this feature if you're willing to work on it

[2022-03-10 19:22] akinsho commented on #130
closed by #131

[2022-03-10 19:22] #130 closed

[2022-03-10 19:23] akinsho commented on #57
This is now done using an automated workflow

[2022-03-10 19:23] #57 closed

[2022-03-10 20:51] #174 closed

[2022-03-14 06:34] akinsho commented on #172
This is really cool, thanks for sharing 👍🏿, think it'd be a good addition to the plugin for anyone who has the use case if you'd be up for raising a PR to add it, up to you.

[2022-03-15 13:48] RicardoRien opened #176 "[Question] a way to clean the terminal?"
There is a way to clean the terminal? 'Ctrl + l' doesn't work, just close the terminal.
Or better, a way to auto clean the terminal every time I close it

[2022-03-15 13:57] akinsho commented on #176
@RicardoRien this is something that can be solved in your shell rc file i.e. your `.bashrc` or `.zshrc` this isn't really an issue for this plugin. I'm sure solutions exist for that on stack but it's not something I'd implement in this plugin

[2022-03-16 14:13] akinsho commented on #176
Going to close this out since as I mentioned I believe this is a problem best solved at the rc file level rather than with a neovim plugin where frankly it can't really be solved anyway

[2022-03-18 19:01] taraslis453 opened #177 "Terminal content disappears when resizing windows"
See attached video -

https://user-images.githubusercontent.com/48454662/159067726-559a946f-d735-475d-a7c6-053f513fc54c.mov

[2022-03-18 19:12] akinsho commented on #177
@taraslis453 this appears to be a bug with neovim and how it handles the rendering of terminal content. Can you reproduce this bug just using `:terminal` if so, you should report this upstream. In either case this is not something caused by this plugin since it doesn't really touch the actual rendering of the terminal

[2022-03-18 20:15] lilheart opened #178 "Setting it up with powershell windows?"
Greetings,
Any suggestions on how to make it set with powershell instead of CMD on windows?

[2022-03-18 20:23] akinsho commented on #178
@lilheart I don't use Windows and am not familiar with its shells at all unfortunately

[2022-03-18 20:26] lilheart commented on #178
Thank you for you response!

[2022-03-18 22:25] #178 closed

[2022-03-19 04:00] lopi-py opened #179 "Is there a way to avoid top lines removing?"
https://gyazo.com/e1a9c74c6a070ee919cf6084527b5e36

[2022-03-19 08:28] #177 closed

[2022-03-19 16:43] lilheart opened #180 "[Question] Is there a way to whenever I toggle the terminal to be in the same directory as the buffer?"
Greetings, as the title says is there a way whenever I toggle the terminal it will open the same directory at the same buffer directory I am in?

[2022-03-21 06:52] Bekaboo opened #181 "[Feature] Accepting a float between 0 and 1 as the width / height of the terminal"
Currently floating windows only accept ints as the height and width of the terminal, though you can use `math.floor(0.8 * vim.o.columns)` or something else to set the height or width as a percentage of the window height / width, however floating window initialized with customized size does not change their width or height like those initialized with default settings.

Float term with default setti

[2022-03-21 07:42] akinsho commented on #181
@Bekaboo if I understand correctly, the exact issue is that using `vim.o.lines` and other calculations like that don't autoresize a floating terminal. This is probably because those values are read once on vim startup, i.e. they aren't dynamically calculated. Seems to me the feature request here is a mechanism to specify window size for floats that is re-evaluated. I'm not sure that I like the mag

[2022-03-21 07:44] akinsho commented on #180
There is no automatic way to do this, you can pass in the `dir` argument when opening a terminal and use expand syntax like `ToggleTerm dir='%:p:h'` will open toggleterm to the directory of the current buffer

[2022-03-21 07:46] akinsho commented on #179
This appears to be a rendering issue with the terminal itself, which is not something this plugin controls or can change. I'm going to close this out as it isn't something this plugin is doing but you can report this issue to nvim core as that is likely where it needs a fix

[2022-03-21 07:46] #179 closed

[2022-03-21 07:47] akinsho commented on #179
On second thought, have you enabled `start_in_insert` that could be forcing the terminal to scroll to the bottom since you are automatically inserting.

[2022-03-21 07:47] #173 closed

[2022-03-21 07:49] akinsho commented on #181
Actually just realised this is a duplicate of #168, so I'm going to close this in favour of that. Please feel free to continue chatting on there.

[2022-03-21 07:49] #181 closed

[2022-03-21 08:01] Bekaboo commented on #181
Ah, just realized that height and width can be functions, my fault.

[2022-03-21 08:02] Bekaboo commented on #181
Ah, just realized that height and width can be functions, my fault.

[2022-03-21 08:02] akinsho commented on #168
I actually forgot that you can now do this using
[code]
going to close this out then, since it should cover the case of dynamic window sizes

[2022-03-21 12:30] CleoMenezesJr opened #183 "[Question] Is it possible to create multiple profiles?"
It would be possible to have multiple shells and be able to access them like: Ctrl + \ = zsh; Ctrl + shift + \ = bash?

[2022-03-21 13:35] akinsho commented on #183
@CleoMenezesJr you can probably already do this yourself by creating custom terminals using the terminal API in the doc and passing in the shell as the `cmd`. I'm on mobile ATM so can't show an example but if you have a look at the custom terminals bit in the readme that should help

[2022-03-21 22:28] lopi-py commented on #168
@akinsho

but I'm already doing it:

or I'm missing something?

[2022-03-21 22:38] akinsho commented on #168
@lopi-py what's the issue you are seeing? I ran the above example I gave and that appears to work correctly. It doesn't resize dynamically mind you so if you are actively dragging the window and watching the terminal it won't magically grow smaller (I think) the functions work by calculating the size each time the terminal is *opened*

[2022-03-21 22:55] lopi-py commented on #168
@akinsho https://gyazo.com/decd0a2cb5d25bf27d74339f8a472b9c

[2022-03-21 23:01] lopi-py commented on #168
as described in the issue itself,

[2022-03-21 23:15] akinsho commented on #168
@lopi-py I mixed up some of what this issue was about with another issue that was just about sizing that can be solved with functions.

As I mentioned above the width and height functions work when you _open_ a terminal window, the terminals do not have a `VimResized` autocommand  applied (which was your original issue) which is the only way to have the size respond to that. I believe `nvim_win_se

[2022-03-21 23:17] akinsho commented on #168
I'll re-open the issue and leave it open for a week or 2 if you or someone else wants to tackle this, but if there are no takers, I'd rather not have this issue open for months.

[2022-03-22 07:55] gaborvecsei commented on #172
When I'll have some time I'll look into it if you think this should be part of the plugin 🙂

[2022-03-22 07:57] gaborvecsei commented on #172
@djromero I think you can just pass a number as an arg to your function & command to define which terminal it should use.

[2022-03-22 13:12] lost4git opened #184 "Compared with terminal command, one more shell process will be opened"
# `:ToggleTerm`

![屏幕截图 2022-03-22 210325](https://user-images.githubusercontent.com/65008815/159489384-db1fe4f6-2a2a-4b26-aa5a-eae942de1987.png)

# `:termial`

![屏幕截图 2022-03-22 210430](https://user-images.githubusercontent.com/65008815/159489578-628cbd9d-264e-475c-afdd-fbd45b88268a.png)

[2022-03-22 13:18] test210820 commented on #184
# `vim.o`

[code]

# `toggleterm config`

[code]

[2022-03-22 18:01] gaborvecsei commented on #172
@akinsho I started a PR: #185 but I don't know when will I finish.

[2022-03-23 03:28] TheCedarPrince commented on #172
Just adding a comment to say that the minute this functionality gets merged, I am happy to switch my vim set up to this great plugin.
Thanks folks!

[2022-03-24 10:44] akinsho commented on #172
fixed by #185

[2022-03-24 10:44] #172 closed

[2022-03-24 12:36] diego-rapoport opened #187 "Size of Terminal.new"
Hi all,
I really would like to have `size` as an argument when we create a custom terminal. I tried to make the size bigger globally, but then it lost it's purpose because I only need a bigger size to a specific custom terminal.
Is it already possible to do it another way?

Something like
`
local customterm = Terminal.new({
    cmd = "...",
    size = 65,
    ...
})
`

[2022-03-24 12:41] gaborvecsei commented on #172
@TheCedarPrince It's done, enjoy the new feature 😉

[2022-03-24 13:05] akinsho commented on #187
@diego-rapoport you can pass the size in to the terminal when you toggle it i.e. `Terminal:new({cmd = "blah"}):toggle(60)`

[2022-03-24 13:07] #183 closed

[2022-03-24 13:16] diego-rapoport commented on #187
Thanks! That worked perfectly.

[2022-03-24 13:16] #187 closed

[2022-03-28 19:27] karimlevallois opened #188 "Custom .zshrc File"
I currently have a specific .zshrc file that I use to launch Neovim (no Neofetch included) and have a keybinding to open a terminal window directly to Neovim. However, I want Neofetch to show in the floating terminal when I launch it, so would like this to use my normal .zshrc file. Is that possible?

[2022-03-28 19:36] akinsho commented on #188
@karimlevallois this really seems like something that relates specifically to your config and setup and isn't really a bug or issue with this plugin. I'm sure there might be a way to get this to work, but it doesn't really seem directly related to this plugin at all. I'm not really sure why you need to have a whole separate `.zshrc` just to remove neofetch rather than using some sort of if stateme

[2022-03-28 19:40] karimlevallois commented on #188
I was just wondering if there was a way to define a path to the .zshrc file similar to what can be done inside the terminal. If not, no worries, happy to close.

[2022-03-28 20:01] #188 closed

[2022-03-30 07:29] SamDc73 commented on #180
ok,  adding `dir = "%:p:h"` to the config file didn't work , are there any work around so i can open the terminal in the same directory as the buffer by default ?

[2022-03-30 07:42] akinsho commented on #180
@SamDc73 it won't work in your config file because that will be evaluated once at startup and the directory would stay the same you need to create a mapping that using that dir, and it will re-evaluate it when you use the command

[2022-04-01 14:26] zakissimo opened #189 "Neovim crashes if pressing <C-c> in fzf inside toggleterm"
![togggleterm_bug](https://user-images.githubusercontent.com/64891486/161282744-59dc7285-25c2-4abc-a105-2557fdcebdbf.gif)

As you can see, the first time I pressed ```<C-c>```, it successfully toggled the terminal off, but the second time, neovim crashed.

Here's my config:

[code]

[2022-04-01 14:40] akinsho commented on #189
Hi @zakissimo

a command causing neovim to crash is almost certainly worth reporting to neovim upstream, even were this plugin anything wrong which I don't think it is, it should not cause the editor to crash. Can you report this upstream instead please? Can you reproduce this issue without this plugin using neovim's default terminal command?

[2022-04-01 14:54] zakissimo opened #190 "Set terminal keymaps only when direction is not float"
Because I use ```<C-j>``` and ```<C-k>``` to select files or lines in fzf. I only want to activate the following keybinds when the terminal is NOT opened in floating mode.

[code]

I don't have a lot of experience in lua, I tried different if statements but I don't know how to get to the ```direction``` variable. When I look at ```toggleterm.setup``` i see that it's a function and not a table. Can

[2022-04-01 14:58] zakissimo commented on #189
Thanks for being active on the project.

I can't reproduce on normal terminal, I'll open an issue upstream like you suggested. (When I do, I'll link to it before closing). Thanks again.

[2022-04-02 06:34] akinsho commented on #190
@zakissimo I'm going to close this out since this is less an issue and more a question and `win_gettype` would be the answer, not sure if you checked the docs for it already. If you did, you'd see that it returns `popup` when the window is a float, so you can do something like call the set terminal keymap on BufEnter if the type is not popup

[code]

[2022-04-02 06:34] #190 closed

[2022-04-02 16:04] zakissimo commented on #190
I just had to add parenthesis to call the function:

```vim.fn.win_gettype()```

And it works exactly like I wanted ;),
Thank you!

[2022-04-05 13:38] ravenxrz opened #193 "Background color issue"
Hi, I use zsh with zsh-autosuggestions plugin.

The image shows the difference between toggleterm(left side) and normal terminal(right side) as I type some text.

![image](https://user-images.githubusercontent.com/44746032/161766554-ad0ad2e2-a332-4540-90ea-bbfc1aa33b64.png)

Is there any way to set the color of "virtual text"  brighter in toggleterm?

[2022-04-05 13:55] akinsho commented on #193
Hi @ravenxrz,

To clear up a few things, toggle term doesn't really change the behaviour of nvim's native terminal at all. This is likely just the behaviour of the terminal buffer in a float. It could be for a few reasons 1.) you have `winblend` turned on this could be changing the rendering of suggestions text, 2.) Neovim's terminal when rendered in float does this 🤷🏿‍♂️

I would verify whether t

[2022-04-05 14:07] ravenxrz commented on #193
Thanks for your reply.
Now that it's not the behaviour of toggleterm, I will close this issue.

[2022-04-05 14:07] #193 closed

[2022-04-05 17:10] akinsho commented on #126
I don't think this is something that can be provided generally, it's really not clear where we would intervene to throw up some sort of notification
I think this is probably better left to the user using global `on_stdout` or `on_exit` commands. If someone has a good idea for how to do this consistently for every
terminal in a way that won't be obtrusive I'm all ears but otherwise going to close t

[2022-04-05 17:11] #126 closed

[2022-04-06 23:22] tin-pham opened #195 "Failed to update the last master"
Everything else update just fine
![image](https://user-images.githubusercontent.com/20679090/162089481-c4ec63f8-673e-4214-8fa8-8919ab02f92a.png)

[2022-04-06 23:51] tin-pham commented on #195
Anyway, i think i solved it by just reinstall it again ^ ^
![image](https://user-images.githubusercontent.com/20679090/162092800-fadeb99e-d240-4a73-9e26-21b3ea371497.png)

[2022-04-06 23:51] #195 closed

[2022-04-07 00:16] primalmotion commented on #195
The master branch was renamed to `main`...

[2022-04-07 03:19] eeeXun opened #196 "Can't disable `shade_terminals`"
As title. After updating today, I can't disable `shade_terminals`.
Already set the following in config
[code]

[2022-04-07 09:22] #196 closed

[2022-04-07 09:23] akinsho commented on #196
I've merged this in now so let me know if that didn't resolve your issue, but in my tests that seemed to have worked

[2022-04-07 09:41] akinsho commented on #160
I'm going to close this question out, since the answer is essentially no. I get requests for a myriad of different command configurations, I'd be open to adding this open or close command as a flag on the main toggle command so anyone feel free to raise that PR, if not I'll close this out rather than it remaining here indefinitely

[2022-04-07 09:41] #160 closed

[2022-04-07 10:48] akinsho commented on #196
@eeeXun I'm not entirely sure if I understand the issue, when are you setting the highlight group to none? Since this plugin, when setup is called, will get the colour of the normal background at that point and use it as is if shade terminals is false. Are you setting normal to none after this plugin has already been set up?

[2022-04-07 11:08] eeeXun commented on #196
@akinsho Yes, I set shade_terminals to false. And set normal to none after this plugin setup.

This is before setting to transparent.
![image](https://user-images.githubusercontent.com/58657914/162185420-ab36bfb2-2c23-4531-9080-a771e8744de3.png)

This is after doing the command
[code]
![image](https://user-images.githubusercontent.com/58657914/162185587-a191522c-88da-4e0c-96b7-0dc0a67a0b3e.png)

A

[2022-04-07 11:24] akinsho commented on #196
@eeeXun what I need to confirm is when you set this command? Do you set the command **before** this plugin is setup?

[2022-04-07 11:28] eeeXun commented on #196
No, after this plugin is setup.

[2022-04-07 11:32] akinsho commented on #196
@eeeXun this plugin can't respond to highlights set after setup, can you switch the highlight command to before this plugin is setup

[2022-04-07 11:58] eeeXun commented on #196
Okey. Is due to the new settings, `highlights` added?
Since I can do the command after the pluging is setup before the commit https://github.com/akinsho/toggleterm.nvim/commit/5733b24c684d202f978ccedca4a8c7571889bf28. After this commit, I can't do that.

[2022-04-07 12:19] akinsho commented on #196
@eeeXun yes this is because of that, basically another user contributed a feature so that you can set the highlights for different parts of the terminal yourself and also can set highlights for different terminals, so you can have some terminals as black and some as purple etc. For this to work, each terminal needs to have its own highlights, whereas before this each terminal was directly using th

[2022-04-07 12:29] eeeXun commented on #196
Wow, that actually works.
Totally miss the `link` in the README. Originally thought it refers to url link😂
Thank you for your patiently reply.

[2022-04-07 18:45] xarthurx opened #198 "Packer update problem (cannot update toggleterm)"
Hi, I'm using `packer` to manage the plugins and from yesterday, it cannot update `toggleterm`. Info below:

[code]

[2022-04-07 19:13] akinsho commented on #198
@xarthurx you need to reinstall the plug-in apologies when I renamed the branch I thought GitHub would automatically handle the change but seems to have broken for a lot of people. Sorry, this is a one off problem so just reinstall.

[2022-04-07 19:43] xarthurx commented on #198
Done. Thank you for the info.

[2022-04-07 19:43] #198 closed

[2022-04-08 09:00] ravenxrz commented on #155
I wrote a function:
[code]
and set a keybinding(ZZ, in my case) to it.

Now the whole program will exit when I type ZZ.

[2022-04-09 12:15] winkee01 opened #199 "oggleterm.lua:3: '}' expected (to close '{' at line 1) near '|'"
Is the syntax of the given configuration correct? because when I applied it, it pops up me with this error:

[code]

the configuration is provided in your front page, as:

[code]

[2022-04-09 12:24] akinsho commented on #199
@winkee01 the example configuration is *not* supposed to be copy pasted, it is intended as an example, not for direct usage. You don't need to specify that many keys, only what you need.

[2022-04-09 12:40] winkee01 commented on #199
ok, thanks! Trying to get a bit of it.

[2022-04-09 12:40] #199 closed

[2022-04-10 08:40] theCollectiv opened #200 "[Question] How to 'data exchange neovim<->toggleterm<->terminal program'?"
I really like the idea to run terminal programs via toggleterm (i.e. lazygit).
My idea: Using toggleterm with the native terminal program instead of using thousands of neovim-plugins-wrappers doing this. But I'm struggling how to exchange data between neovim<->toggleterm<->terminal program.

Here is some example:
I use ranger (filemanager https://github.com/ranger/ranger) and was using the neovim-

[2022-04-10 13:10] akinsho commented on #200
@theCollectiv so I think your specific use case is less about sending data too and from the terminal and more in this case about how to open files in via a terminal program inside neovim. So I'm going to focus on addressing that since rather than something complex like RPC messages etc. there is a well established solution for this.

So *vim* (not neovim) has a series of commands called `--remote`

[2022-04-10 13:17] theCollectiv commented on #200
@akinsho I'll have a closer look at that. Thx for the answer and giving me some direction to deal with my question.

[2022-04-10 13:17] #200 closed

[2022-04-11 13:14] jeeeem opened #202 "Lazygit Config"
How can I use my lazygit config with the custom terminal using toggleterm? As it is not working whenever I tried to use the custom terminal.

TUI Lazygit
![2022-04-11_21-11](https://user-images.githubusercontent.com/51053482/162746985-c54c5e50-a7b5-4dd6-bb24-59de74505ac9.png)

Toggleterm Lazygit
![2022-04-11_21-12](https://user-images.githubusercontent.com/51053482/162747030-4dfc13b8-3ba9-485d-a92

[2022-04-11 13:46] akinsho commented on #202
@jeeeem there's no special config as part of this plugin to get lazygit to use your own config. It should do that by default. Mine uses my config inside neovim, and I've never had any issues from other users about this, so it's likely something needed tweaking in your config. Can you open a normal terminal using `:terminal` and run `lazygit` if it appears the same then this issue isn't with this p

[2022-04-11 14:21] Steadyx commented on #142
You need to remove the  on_close function

[2022-04-11 15:12] pBorak opened #203 "attempt to index local 'term' (a nil value) error after higlight changes"
Hey, this commit-> [feat(highlights): allow adding custom highlights](https://github.com/akinsho/toggleterm.nvim/commit/37b2527b4c79704639922d7c11a8c8134a3593fa) assumes that term is always present in this [line](https://github.com/akinsho/toggleterm.nvim/blob/37b2527b4c79704639922d7c11a8c8134a3593fa/lua/toggleterm/ui.lua#L80).

When I use telescope tmux [extension](https://github.com/camgraff/tel

[2022-04-11 19:17] akinsho commented on #203
@pBorak can you try #204 to see if it fixes your issue

[2022-04-12 07:46] pBorak commented on #203
Hey, just to confirm - your fix has resolved my issue.
Much appreciated.

[2022-04-12 12:00] szsdk opened #205 "Feature request: open a file in the host neovim"
[floaterm](https://github.com/voldikss/vim-floaterm) has a shell command `floaterm` to open a file in the host session. Can we make similary command in toggleterm.nvim? Or is it there already?

[2022-04-12 12:12] akinsho commented on #205
@szsdk I don't entirely know what exactly you mean as you haven't really detailed this functionality or how it's supposed to work, although I presume what you want can be set up using [neovim-remote](https://github.com/mhinz/neovim-remote). I think if you read through the documentation for this you will probably find what you need

[2022-04-12 13:04] szsdk commented on #205
Yes, the `nvr -l` from neovim-remote is what I need. Please feel free to close this issue.

Sorry for not making myself clear. Please take a look at [this](https://github.com/voldikss/vim-floaterm#floaterm). Basically, it ships with a command called `floaterm` which could be used for openning file.

I found that floaterm does not require neovim-remote as depdendency. It seems that it implements so

[2022-04-12 14:37] #205 closed

[2022-04-12 16:14] jeeeem commented on #202
Through your reply I just realized I set another path in `XDG_CONFIG_HOME` for my neovim lua config. That is why it is not using my default lazygit config, rather it is using the path that I use for my neovim lua config which has no lazygit config.

[2022-04-12 16:14] #202 closed

[2022-04-14 15:45] GregoryBai opened #206 "Change 'window' to 'tab' in the README.md"
The 'window' has been deprecated, use 'tab'

[2022-04-14 15:46] akinsho commented on #206
@GregoryBai please feel free to make a PR. Help is always appreciated.

[2022-04-14 15:56] GregoryBai commented on #206
[The PR](https://github.com/akinsho/toggleterm.nvim/pull/207)

[2022-04-14 15:56] #206 closed

[2022-04-17 17:03] luishfonseca opened #208 "[Bug] Doesn't respect vim.opt.background after being reopened"
My neovim config sets `vim.opt.background="light"` on init.lua.
When I toggle the terminal it displays with the correct colors.

![image](https://user-images.githubusercontent.com/72040432/163724657-f125a3ee-2932-4dd8-8bd9-d29059f4407f.png)

If i change `vim.opt.background` to dark with the terminal open it will change accordingly.

![image](https://user-images.githubusercontent.com/72040432/16372

[2022-04-18 09:43] akinsho commented on #208
@luishfonseca by default, toggleterm sets the highlights for the terminal once on setup on opening neovim and won't respond to manual changes of `vim.opt.background` since each terminal uses its own highlights. If you want highlights to follow a certain group e.g. `Normal` you can set
[code]
I'm going to make this the default though since this is the third issue of this sort that I've gotten

[2022-04-18 09:44] #208 closed

[2022-04-19 20:53] MorrisTYB opened #209 "[Question] How to discard current terminal without setting no hidden without setting nohidden"
Hello, I'm searching for a way to discard the terminal when closed. I often have multiple buffers open each in different dirs, setting `nohidden` will not work well for me. I would like a way to essentially have terminals reset on open, that way I don't have to keep track of which buffer has each terminal

[2022-04-19 21:07] akinsho commented on #209
Hi @MorrisTYB tbh I don't really understand at all what the issue is based on what you've said. Do you mean you considered setting `nohidden` as a solution, but having all buffers auto discarded means that isn't a good solution for you?

Also, I don't really understand the use case of always having buffers reset, sort of a core functionality this plugin provides is that your terminals persist rath

[2022-04-20 22:19] MorrisTYB commented on #209
Thank you so much for the response! I mean exactly that!! I found a somewhat solution that works similar to present the best of both worlds, because sometimes I do need my terminal to persist even on close. What I did was just alias e='exit' in my .zshrc and set `close_on_exit` to true. I forgot to close this issue last night, but I appreciate the response! Thank you again

[2022-04-20 22:19] #209 closed

[2022-04-21 19:29] kraxli opened #210 "closing a terminal for good"
Many thanks for this great plugin! :-)

Question: when I close a terminal with `[[<C-\><C-n>]]` it disappears. Opening it again, it is at the same stage (I see the commands executed and their output) as before which is desired in most cases. Sometime I would like to close e.g. a cluttered terminal for good. Is there a way to do this?

[2022-04-21 21:00] akinsho commented on #210
@kraxli you can just delete the buffer the same as any other buffer in neovim with `bufdelete`

[2022-04-22 14:03] akinsho commented on #210
Closing this out since the above answers the question. Terminals are buffers just like any other so can be deleted in the exact same way as other terminals

[2022-04-22 14:03] #210 closed

[2022-04-23 11:28] medwatt opened #211 "How to pass the current working directory as a parameter to a new terminal?"
I am trying to use toggleterm of open the file manager `nnn` from the directory of the current file. I tried to pass `vim.fn.expand('%:p:h')` as the path, but nnn always opens in the same directory. Any ideas how to fix this issue?

[code]

[2022-04-23 12:15] medwatt commented on #211
I think I found something that works. Just needs confirmation if this is the best way to do it:

[code]

[2022-04-23 23:26] CaglarDeniz opened #212 "[upstream] segfault on neovim 0.7.0"
I've just upgraded to neovim 0.7.0 from Fedora Rawhide and found out that Toggleterm crashes with a segfault when :ToggleTerm is called. I've included my init.vim file and some system information below.

# System :
- OS: Fedora 35
- Kernel Version : 5.15.18
- Shell : bash
- WM : i3
- Terminal : kitty
- Nvim version : 0.7.0

# init.vim
[init.vim.txt](https://github.com/akinsho/toggleterm.nvim/files

[2022-04-24 15:25] akinsho commented on #212
Hi @CaglarDeniz,

errors causing neovim to segfault should generally be referred to nvim core, as this plugin is just a visual wrapper for the terminal, so actual bugs with the terminal itself aren't really related to this plugin's functionality. There was a similar issue raised a few weeks ago that the nvim team suggested a workaround for  ⇾ #189

This might be the root cause for your issue. If n

[2022-04-24 15:26] akinsho commented on #212
It's also worth noting that I do not see any segfault on nvim 0.7 so in all likelihood this might relate to your environment as the upstream bug alludes to

[2022-04-24 20:10] kraxli opened #213 "[Question] how to escape % in TermExec / require('toggleterm').exec_command"
I would like to run the current file in a ipython terminal with `F5` by sending literally `%run /path/filename.py` to the terminal . For this i would like to have sth like the follwing keymap:
[code]
However % is replaced by the file name and the command sent to the terminal ends up to be
[code]
instead of `%run /path/filename.py`